In [1]:
import pandas as pd
import numpy as np

# Show all rows
pd.set_option("display.max_rows", None)

# Show all columns
pd.set_option("display.max_columns", None)

# Make sure wide DataFrames don't wrap
pd.set_option("display.width", None)

# Show the full content of each column (no '...')
pd.set_option("display.max_colwidth", None)

In [2]:
file_path = r"C:\Users\Arunkumara\Downloads\DRGHistoricalReviewInformation_11182025.txt"

df_hist = pd.read_csv(file_path, sep='|', dtype=str, low_memory=False)

print(df_hist.info())
df_hist.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886092 entries, 0 to 886091
Columns: 282 entries, Payor to AdjustedSavings
dtypes: object(282)
memory usage: 1.9+ GB
None

,Payor,claimid,Client,Control_ID,Claim_Number,PaymentType,Group_Type,Payments,Tax_ID,Provider_ID,HospitalName,LOS,DISP_Code,ADRG,DischargeYear,DischargeMonth,AGE,A_CCCount,A_MCCCount,B_CCCount,B_MCCCount,LOB,MRREQ,MRREC,PRIM_DX,A_DX2,A_DX3,A_DX4,A_DX5,A_DX6,A_DX7,A_DX8,A_DX9,A_DX10,A_DX11,A_DX12,A_DX13,A_DX14,A_DX15,A_DX16,A_DX17,A_DX18,A_DX19,A_DX20,A_DX21,A_DX22,A_DX23,A_DX24,A_DX25,A_POA,A_POA2,A_POA3,A_POA4,A_POA5,A_POA6,A_POA7,A_POA8,A_POA9,A_POA10,A_POA11,A_POA12,A_POA13,A_POA14,A_POA15,A_POA16,A_POA17,A_POA18,A_POA19,A_POA20,A_POA21,A_POA22,A_POA23,A_POA24,A_POA25,A_PX1,A_PX2,A_PX3,A_PX4,A_PX5,A_PX6,A_PX7,A_PX8,A_PX9,A_PX10,A_PX11,A_PX12,A_PX13,A_PX14,A_PX15,A_PX16,A_PX17,A_PX18,A_PX19,A_PX20,A_PX21,A_PX22,A_PX23,A_PX24,A_PX25,B_DISPCode,B_DenialCode,B_DRG,B_PRIMDX,B_DX2,B_DX3,B_DX4,B_DX5,B_DX6,B_DX7,B_DX8,B_DX9,B_DX10,B_DX11,B_DX12,B_DX13,B_DX14,B_DX15,B_DX16,B_DX17,B_DX18,B_DX19,B_DX20,B_DX21,B_DX22,B_DX23,B_DX24,B_DX25,B_POA,B_POA2,B_POA3,B_POA4,B_POA5,B_POA6,B_POA7,B_POA8,B_POA9,B_POA10,B_POA11,B_POA12,B_POA13,B_POA14,B_POA15,B_POA16,B_POA17,B_POA18,B_POA19,B_POA20,B_POA21,B_POA22,B_POA23,B_POA24,B_POA25,B_PX1,B_PX2,B_PX3,B_PX4,B_PX5,B_PX6,B_PX7,B_PX8,B_PX9,B_PX10,B_PX11,B_PX12,B_PX13,B_PX14,B_PX15,B_PX16,B_PX17,B_PX18,B_PX19,B_PX20,B_PX21,B_PX22,B_PX23,B_PX24,B_PX25,A_PRIMDX_Desc,A_DX2_Desc,A_DX3_Desc,A_DX4_Desc,A_DX5_Desc,A_DX6_Desc,A_DX7_Desc,A_DX8_Desc,A_DX9_Desc,A_DX10_Desc,A_DX11_Desc,A_DX12_Desc,A_DX13_Desc,A_DX14_Desc,A_DX15_Desc,A_DX16_Desc,A_DX17_Desc,A_DX18_Desc,A_DX19_Desc,A_DX20_Desc,A_DX21_Desc,A_DX22_Desc,A_DX23_Desc,A_DX24_Desc,A_DX25_Desc,A_PX1_Desc,A_PX2_Desc,A_PX3_Desc,A_PX4_Desc,A_PX5_Desc,A_PX6_Desc,A_PX7_Desc,A_PX8_Desc,A_PX9_Desc,A_PX10_Desc,A_PX11_Desc,A_PX12_Desc,A_PX13_Desc,A_PX14_Desc,A_PX15_Desc,A_PX16_Desc,A_PX17_Desc,A_PX18_Desc,A_PX19_Desc,A_PX20_Desc,A_PX21_Desc,A_PX22_Desc,A_PX23_Desc,A_PX24_Desc,A_PX25_Desc,B_PRIMDX_Desc,B_DX2_Desc,B_DX3_Desc,B_DX4_Desc,B_DX5_Desc,B_DX6_Desc,B_DX7_Desc,B_DX8_Desc,B_DX9_Desc,B_DX10_Desc,B_DX11_Desc,B_DX12_Desc,B_DX13_Desc,B_DX14_Desc,B_DX15_Desc,B_DX16_Desc,B_DX17_Desc,B_DX18_Desc,B_DX19_Desc,B_DX20_Desc,B_DX21_Desc,B_DX22_Desc,B_DX23_Desc,B_DX24_Desc,B_DX25_Desc,B_PX1_Desc,B_PX2_Desc,B_PX3_Desc,B_PX4_Desc,B_PX5_Desc,B_PX6_Desc,B_PX7_Desc,B_PX8_Desc,B_PX9_Desc,B_PX10_Desc,B_PX11_Desc,B_PX12_Desc,B_PX13_Desc,B_PX14_Desc,B_PX15_Desc,B_PX16_Desc,B_PX17_Desc,B_PX18_Desc,B_PX19_Desc,B_PX20_Desc,B_PX21_Desc,B_PX22_Desc,B_PX23_Desc,B_PX24_Desc,B_PX25_Desc,InitialDeterminationDate,InitialDenialType,InitialDeterminationStatus,IDSavings,AdjustedSavings
0,UHC CSP,758656,NY,EXPR101623-340919,23N652771000,PrePay,01,15948.41,141340054,000334584002,ST LUKES CORNWALL HOSPITAL,9,02-TRNSF ACUTE CARE FAC,432,2023,9,69,2,2,2,2,NYCARE,2023-10-17 16:38:04.687000000,2023-11-08 00:00:00,K7030,I8511 - MCC,N170 - MCC,K766 - CC,D62 - CC,E119,K7682,F1010,I10,E039,Z794,K3189,E785,Z20822,Z87891,Z7984,Z751,Z741,Z7409,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,N,Y,Y,Y,Y,Y,Y,Y,,Y,Y,Y,,,,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,30233N1,06L38CZ,06L38CZ,0BH17EZ,5A1945Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02-TRNSF ACUTE CARE FAC,NaN,432,K7030,I8511 - MCC,N170 - MCC,K766 - CC,D62 - CC,E119,K7682,F1010,I10,E039,Z794,K3189,E785,Z20822,Z87891,Z7984,Z751,Z741,Z7409,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,N,Y,Y,Y,Y,Y,Y,Y,NaN,Y,Y,Y,NaN,NaN,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,30233N1,06L38CZ,06L38CZ,0BH17EZ,5A1945Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alcoholic cirrhosis of liver without ascites,Secondary esophageal varices with bleeding,Acute kidney failure with tubular necrosis,Portal hypertension,Acute posthemorrhagic anemia,Type 2 diabetes mellitus without complications,Hepatic encephalopathy,"Alcohol abuse, uncomplicated",Essential (primary) hypertension,"Hypothyroidism, unspecified",Long term (current) use of insulin,Other diseases of stomach and duodenum,"Hyperlipidemia, unspecified",Contact with and (suspected) exposure to COVID-19,Personal history of nicotine dependence,Long term (current) use of oral hypoglycemic drugs,Person awaiting admission to adequate facility elsewhere,Need for assistance with personal care,Other reduced mobility,NaN,NaN,NaN,NaN,NaN,NaN,"Transfusion of Nonautologous Red Blood Cells into Peripheral Vein, Percutaneous Approach","Occlusion of Esophageal Vein with Extraluminal Device, Via Natural or Artificial Opening Endoscopic","Occlusion of Esophageal Vein with Extraluminal Device, Via Natural or Artificial Opening Endoscopic","Insertion of Endotracheal Airway into Trachea, Via Natural or Artificial Opening","Respiratory Ventilation, 24-96 Consecutive Hours",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alcoholic cirrhosis of liver without ascites,Secondary esophageal varices with bleeding,Acute kidney failure with tubular necrosis,Portal hypertension,Acute posthemorrhagic anemia,Type 2 diabetes mellitus without complications,Hepatic encephalopathy,"Alcohol abuse, uncomplicated",Essential (primary) hypertension,"Hypothyroidism, unspecified",Long term (current) use of insulin,Other diseases of stomach and duodenum,"Hyperlipidemia, unspecified",Contact with and (suspected) exposure to COVID-19,Personal history of nicotine dependence,Long term (current) use of oral hypoglycemic drugs,Person awaiting admission to adequate facility elsewhere,Need for assistance with personal care,Other reduced mobility,NaN,NaN,NaN,NaN,NaN,NaN,"Transfusion of Nonautologous Red Blood Cells into Peripheral Vein, Percutaneous Approach","Occlusion of Esophageal Vein with Extraluminal Device, Via Natural or Artificial Opening Endoscopic","Occlusion of Esophageal Vein with Extraluminal Device, Via Natural or Artificial Opening Endoscopic","Insertion of Endotracheal Airway into Trachea, Via Natural or Artificial Opening","Respiratory Ventilation, 24-96 Consecutive Hours",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-11-17 13:25:52.370000000,Substantive,Approved,.00,0
1,UHC CSP,758732,NY,EXPR101723-341037,23O144833200,PrePay,01,10477.92,141348692,000258115003,ST PETERS HOSPITAL,5,01-ROUTINE/HOME,919,2023,9,62,4,2,4,2,NYCARE,2023-10-17 16:30:09.853000000,2023-10-20 00:00:00,T85698A,A419 - MCC,J869 - MCC,J948 - CC,C7951 - CC,J910 - CC,F3130 - CC,J439,I10,E782,E8342,F17210,Z716,F419,L299,Z170,Z79810,Z853,Z85828,Z9012,Z79811,Z923,NaN,NaN,NaN,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,,Y,Y,,,,,,,,NaN,NaN,NaN,0W9B30Z,3E03317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-ROUTINE/HOME,NaN,919,T85698A - CC,A419 - MCC,J869 - MCC,J948 - CC,C7951 - CC,J910 - CC,F3130 - CC,J439,I10,E782,E8342,F17210,Z716,F419,L299,Z170,Z79810,Z853,Z85828,Z9012,Z79811,Z923,NaN,NaN,NaN,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,1,Y,Y,1,1,1,1,1,1,1,NaN,NaN,NaN,0W9B30Z,3E03317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Other mechanical complication of other specified internal prosthetic devices, implants and grafts, initial encounter","Sepsis, unspecified organism",Pyothorax without fistula,Other specified pleural conditions,Secondary malignant neoplasm of bone,Malignant pleural effusion,"Bipolar disorder, current episode depressed, mild or moderate severity, unspecified","Emphysema, unspecified",Essential (primary) hypertension,Mixed hyperlipidemia,Hypomagnesemia,"Nicotine dependence, cigarettes, uncomplicated",Tobacco abuse counseling,"Anxiety disorder, unspecified","Pruritus, unspecified",Estrogen receptor positive status [ER+],Long term (current) use of selective estrogen receptor modulators (SERMs),Personal history of malignant neoplasm of breast,Personal history of other malignant neoplasm of skin,Acquired absence of left breast and nipple,Long term (current) use of aromatase inhibitors,Personal history of irradiation,NaN,NaN,NaN,"Drainage of Left Pleural Cavity with Drainage Device, Percutaneous Approach","Introduction of Other Thrombolytic into Peripheral Vein, Percutaneous Approach",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Other mechanical complication of other specified internal prosthetic devices, implants and grafts, initial encounter","Sepsis, unspecified organism",Pyothorax without fistula,Other specified pleural conditions,Secondary malignant neoplasm of bone,Malignant pleural effusion,"Bipolar disorder, current episode depressed, mild or moderate severity, unspecified","Emphysema, unspecified",Essential (primary) hypertension,Mixed hyperlipidemia,Hypomagnesemia,"Nicotine dependence, cigarettes, uncomplicated",Tobacco abuse counseling,"Anxiety disorder, unspecified","Pruritus, unspecified",Estrogen receptor positive status [ER+],Long term (current) use of selective estrogen receptor modulators (SERMs),Personal history of malignant neoplasm of breast,Personal history of other malignant neoplasm of skin,Acquired absence of left breast and nipple,Long term (current) use of aromatase inhibitors,Personal history of irradiation,NaN,NaN,NaN,"Drainage of Left Pleural Cavity with Drainage Device, Percutaneous Approach","Introduction of Other Thrombolytic into Peripheral Vein, Percutaneous Approach",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-11-02 10:37:06.710000000,Substantive,Approved,.00,0
2,UHC CSP,758762,NY,EXPR101723-341041,23O921646100,PrePay,01,11532.33,160762843,000657681001,KENMORE MERCY HOSPITAL,3,03-TRNSF TO SKILLED NURSING FAC,871,2023,10,77,7,3,7,0,NYCARE,2023-10-17 16:25:58.280000000,2023-12-14 00:00:00,A419,J159 - MCC,G9341 - MCC,J440 - CC,I130 - CC,I5042 - CC,I4811 - CC,J9611 - CC,I429 - CC,L97222 - CC,Z66,R6520 - MCC,E1165,E8342,E1122,N182,E1142,I83002,E785,I2510,K219,M109,Z8616,Z7901,Z7985,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,,,,05HY33Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03-TRNSF TO SKILLED NURSING FAC,801C,194,J159 - MCC,J440 - CC,I130 - CC,I5042 - CC,I4811 - CC,J9611 - CC,I429 - CC,L97222 - CC,Z66,E1165,E8342,E1122,N182,E1142,I83002,E785,I2510,K219,M109,Z8616,Z7901,Z7985,NaN,NaN,NaN,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,1,1,1,NaN,NaN,NaN,05HY33Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sepsis, unspecified organism",Unspecified bacterial pneumonia,Metabolic encephalopathy,Chronic obstructive pulmonary disease with (acute) lower respiratory infection,"Hypertensive heart and chronic kidney disease with heart failure and stage 1 through stage 4 chronic kidney disease, or unspecified chronic kidney disease",Chronic combined systolic (congestive) and diastolic (congestive) heart failure,Longstanding persistent atrial fibrillation,Chronic respiratory failure with hypoxia,"Cardiomyopathy, unspecified",Non-pressure chronic ulcer of left calf with fat layer exposed,Do not resuscitate,Severe sepsis without septic shock,Type 2 diabetes mellitus with hyperglycemia,Hypomagnesemia,Type 2 diabetes mellitus with diabetic chronic kidney disease,"Chronic kidney disease, stage 2 (mild)",Type 2 diabetes mellitus with diabetic polyneuropathy,Varicose veins of unspecified lower extremity with ulcer of calf,"Hyperlipidemia, unspecified",Atherosclerotic heart disease of native coronary artery without angina pectoris,Gastro-esophageal reflux disease without esophagitis,"Gout, unspecified",Personal history of COVID-19,Long term (current) use of anticoagulants,Lng trm(crnt)use injectable non-insulin antidiabetic drugs,"Insertion of Infusion Device into Upper Vein, Percutaneous Approach",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified bacterial pneumonia,Chronic obstructive pulmonary disease with (acute) lower respiratory infection,"Hypertensive heart and chronic kidney disease with heart failure and stage 1 through stage 4 chronic kidney disease, or unspecified chronic kidney disease",Chronic combined systolic (congestive) and diastolic (congestive) heart failure,Longstanding persistent atrial fibrillation,Chronic respiratory failure with hypoxia,"Cardiomyopathy, unspecified",Non-pressure chronic ulcer of left calf with fat layer exposed,Do not resuscitate,Type 2 diabetes mellitus with hyperglycemia,Hypomagnesemia,Type 2 diabetes mellitus with diabetic chronic kidney disease,"Chronic kidney disease, stage 2 (mild)",Type 2 diabetes mellitus with diabetic polyneuropathy,Varicose veins of unspecified lower extremity with ulcer of calf,"Hyperlipidemia, unspecified",Atherosclerotic heart disease of native coronary artery without angina pectoris,Gastro-esophageal reflux disease without esophagitis,"Gout, unspecified",Personal history of COVID-19,Long term (current) use of anticoagulants,Lng trm(crnt)use injectable non-insulin antidiabetic drugs,NaN,NaN,NaN,"Insertion of Infusion Device into Upper Vein, Percutaneous Approach",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-03 14:38:45.370000000,Substantive,Denied,4440.18,5940.3100000000004
3,UHC CSP,393206,IA,IAPT2022-01-30899,21A985906501,PostPay,01,12227.790000000001,420698265,000023698002,ALLEN HOSPITAL,2,01-ROUTINE/HOME,854,2021,1,60,3,0,2,0,IADSNP,2022-01-06 13:33:35.747000000,2022-01-20 00:00:00,A419,N179 - CC,N136 - CC,Z6843 - CC,E1122,E6601,K8020,G4733,I129,Z466,N181,E785,F17220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN,Y,Y,Y,Y,Y,NaN,Y,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0T748DZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-ROUTINE/HOME,801C,660,N136 - CC,N179 - CC,Z6843 - CC,E1122,E6601,K8020,G4733,I129,Z466,N181,E785,F17220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,1,Y,Y,Y,Y,Y,1,Y,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0T748DZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sepsis, unspecified organism","Acute kidney failure, unspecified",Pyonephrosis,"Body mass index [BMI] 50.0-59.9, adult",Type 2 diabetes mellitus with diabetic chronic kidney disease,Morbid (severe) obesity due to excess calories,Calculus of gallbladder without cholecystitis without obstruction,Obstructive sleep apnea (adult) (pediatric),"Hypertensive chronic kidney disease with stage 1 through stage 4 chronic kidney disease, or unspecified chronic kidney disease",Encounter for fitting and adjustment of urinary device,"Chronic kidney disease, stage 1","Hyperlipidemia, unspecified","Nicotine dependence, chewing tobacco, uncomplicated",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dilation of Left Kidney Pelvis with Intraluminal Device, Via Natural or Artificial Opening Endoscopic",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pyonephrosis,"Acute kidney failure, unspecified","Body mass index [BMI] 50.0-59.9, adult",Type 2 diabetes mellitus with diabetic chronic kidney disease,Morbid (severe) obesity due to excess calories,Calculus of gallbladder without cholecystitis without obstruction,Obstructive sleep apnea (adult) (pediatric),"Hypertensive chronic kidney disease with stage 1 through stage 4 chronic kidney disease, or unspecified chronic kidney disease",Encounter for fitting and adjustment of urinary device,"Chronic kidney disease, stage 1","Hyperlipidemia, unspecified","Nicotine dependence, chewing tobacco, uncomplicated",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dilation of Left Kidney Pelvis with Intraluminal Device, Via Natural or Artificial Opening Endoscopic",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-01 11:22:02.580000000,Substantive,Denied,3065.19,2733.5700000000002
4,UHC CSP,393210,IA,IAPT2022-01-30894,21I856356401,PostPay,01,10804.16,420698265,000023698002,ALLEN HOSPITAL,5,03-TRNSF TO SKILLED NURSING FAC,871,2021,7,70,2,3,2,3,IADSNP,2022-01-06 13:33:36.557000000,2022-01-19 00:00:00,A419,D61810 - MCC,Z66,G9341 - MCC,N179 - CC,C3490 - CC,R6520 - MCC,J449,N3090,Z720,R0902,E119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Y,Y,Y,Y,Y,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03-TRNSF TO SKILLED NURSING FAC,NaN,871,A419 - MCC,D61810 - MCC,Z66,G9341 - MCC,N179 - CC,C3490 - CC,R6520 - MCC,J449,N3090,Z720,R0902,E119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Y,Y,Y,Y,Y,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sepsis, unspecified organism",Antineoplastic chemotherapy induced pancytopenia,Do not resuscitate,Metabolic encephalopathy,"Acute kidney failure, unspecified",Malignant neoplasm of unspecified part of unspecified bronchus or lung,Severe sepsis without septic shock,"Chronic obstructive pulmonary disease, unspecified","Cystitis, unspecified without hematuria",Tobacco use,Hypoxemia,Type 2 diabetes mellitus without complications,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sepsis, unspecified organism",Antineoplastic chemotherapy induced pancytopenia,Do not resuscitate,Metabolic encephalopathy,"Acute kidney failure, unspecified",Malignant neoplasm of unspecified part of unspecified bronchus or lung,Severe sepsis without septic shock,"Chronic obstructive pulmonary disease, unspecified","Cystitis, unspecified without hematuria",Tobacco use,Hypoxemia,Type 2 diabetes mellitus without complications,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-31 08:47:15.543000000,Substantive,Approved,.00,0

In [3]:
print(df_hist['InitialDenialType'].value_counts())

InitialDenialType
Substantive    772104
Assumptive     110464
Technical        3524
Name: count, dtype: int64

In [4]:
df_hist_sub = df_hist[df_hist['InitialDenialType']=='Substantive'].copy()
df_hist_sub.shape

(772104, 282)

In [5]:
df_hist_sub_hum = df_hist_sub[df_hist_sub['Client']=='Hum'].copy()
df_hist_sub_hum.shape

(64924, 282)

In [6]:
df_hist_sub_hum['len_adrg'] = df_hist_sub_hum['ADRG'].astype(str).str.len()
df_hist_sub_hum['len_bdrg'] = df_hist_sub_hum['B_DRG'].astype(str).str.len()

In [7]:
df_hist_sub_hum['len_adrg'].value_counts()

len_adrg
3    64064
4      860
Name: count, dtype: int64

In [8]:
df_hist_sub_hum_ms_drg = df_hist_sub_hum[~(df_hist_sub_hum['len_adrg']==4)].copy()
df_hist_sub_hum_ms_drg.shape

(64064, 284)

In [9]:
df1 = df_hist_sub_hum_ms_drg.copy()

df1['PaymentType'] = df1['PaymentType'].str.strip().str.lower()

#print(df1['InitialDenialType'].value_counts())

df1 = df1[(df1["InitialDeterminationStatus"].isin(["Approved", "Denied"])) & (df1["InitialDenialType"] == "Substantive")]

cols_to_drop = [
    'claimid', 'Control_ID', 'Claim_Number', 'Tax_ID',
    'DISP_Code', 'DischargeYear', 'DischargeMonth',
    'MRREQ', 'MRREC', 
    'InitialDeterminationDate', 'InitialDenialType',
    
]



#df1 = df1.drop(columns=cols_to_drop, errors='ignore')


adx_cols = [f"A_DX{i}" for i in range(2, 26)]
apx_cols = [f"A_PX{i}" for i in range(1, 26)]
bdx_cols = [f"B_DX{i}" for i in range(2, 26)]
bpx_cols = [f"B_PX{i}" for i in range(1, 26)]

df1["A_DX_List"] = df1[adx_cols].values.tolist()
df1["A_PX_List"] = df1[apx_cols].values.tolist()
df1["B_DX_List"] = df1[bdx_cols].values.tolist()
df1["B_PX_List"] = df1[bpx_cols].values.tolist()


df1["A_DX_List"] = df1["A_DX_List"].apply(lambda x: sorted([i for i in x if pd.notna(i)]))
df1["A_PX_List"] = df1["A_PX_List"].apply(lambda x: sorted([i for i in x if pd.notna(i)]))
df1["B_DX_List"] = df1["B_DX_List"].apply(lambda x: sorted([i for i in x if pd.notna(i)]))
df1["B_PX_List"] = df1["B_PX_List"].apply(lambda x: sorted([i for i in x if pd.notna(i)]))


columns_to_keep = [
    "Payor", "Client", "PaymentType", "Group_Type", "Payments",
    "Provider_ID", "HospitalName", "LOS", "ADRG", "AGE", "LOB",
    "PRIM_DX", "B_DRG", "B_PRIMDX",
    "InitialDeterminationStatus", "IDSavings", "AdjustedSavings",
    "A_DX_List", "A_PX_List", "B_DX_List", "B_PX_List"
]

#df2 = df1[columns_to_keep]
df2 = df1.copy()

def clean_sdx_list(lst):
    cleaned = []
    for item in lst:
        item = str(item).upper().strip()               # normalize
        item = item.replace("- MCC", "")               # remove MCC
        item = item.replace("- CC", "")                # remove CC
        item = item.replace("MCC", "")                 # safety
        item = item.replace("CC", "")                  # safety
        cleaned.append(item.strip().replace("-", ""))  # final cleanup
    return cleaned
df2["A_DX_List_Clean"] = df2["A_DX_List"].apply(clean_sdx_list)
df2["B_DX_List_Clean"] = df2["B_DX_List"].apply(clean_sdx_list)


def clean_dx_code(x):
    if pd.isna(x):
        return ""
    
    # Convert to string and normalize
    x = str(x).upper().strip()
    
    # Remove square brackets if any
    x = x.replace("[", "").replace("]", "")
    
    # Remove MCC / CC suffixes
    x = x.replace("- MCC", "").replace("- CC", "")
    x = x.replace("MCC", "").replace("CC", "")
    
    # Remove leftover hyphens
    x = x.replace("-", "")
    
    return x
df2["B_PRIMDX_Clean"] = df2["B_PRIMDX"].apply(clean_dx_code)

# ---------------------------------------------------------
# Step 1: Load MCC/CC Mapping File
# ---------------------------------------------------------
mccandcclist_df = pd.read_excel(r"C:\Users\Arunkumara\Downloads\MCCCCList (1).xlsx")
mccandcclist_df['ICDCode'] = (
    mccandcclist_df['ICDCode']
    .astype(str)
    .str.strip()
    .str.upper()
)
mccandcclist = dict(zip(mccandcclist_df['ICDCode'], mccandcclist_df['MCCorCC']))
print(f" Loaded MCC/CC list with {len(mccandcclist)} entries.")
mccandcclist_df.head()


def map_sdx_types(icd_list, lookup_dict):
    cleaned_list = []
    for code in icd_list:
        code_clean = str(code).strip().upper()  # normalize

        tag = lookup_dict.get(code_clean, "")  # MCC / CC / General
        cleaned_list.append(f"{code_clean} - {tag}")

    return cleaned_list

df2['A_DX_Type_list'] = df2['A_DX_List_Clean'].apply(lambda x: map_sdx_types(x, mccandcclist))
df2['B_DX_Type_list'] = df2['B_DX_List_Clean'].apply(lambda x: map_sdx_types(x, mccandcclist))


def extract_sdx_info(sdx_list):

    # If list is empty  return immediately
    if not sdx_list or len(sdx_list) == 0:
        return "No SDX Present", []

    # Separate entries by type
    mcc = [x.split(" - ")[0] for x in sdx_list if "- MCC" in x]
    cc  = [x.split(" - ")[0] for x in sdx_list if "- CC" in x]
    other = [x.split(" - ")[0] for x in sdx_list 
             if "- MCC" not in x and "- CC" not in x]

    # Determine SDX_Type and SDX_Set
    if mcc:
        return "MCC", mcc
    elif cc:
        return "CC", cc
    elif other:
        return "General", other
    else:
        return "No SDX Present", []

    
# Apply the logic
df2[["A_DX_Type", "A_DX_Set"]] = df2["A_DX_Type_list"].apply(lambda x: pd.Series(extract_sdx_info(x)))

df2[["B_DX_Type", "B_DX_Set"]] = df2["B_DX_Type_list"].apply(lambda x: pd.Series(extract_sdx_info(x)))

# condition: SDX_Set empty AND SDX_Type == "General"
#mask = (df2['A_DX_Set'].apply(lambda x: len(x) == 0)) & (df2['A_DX_Type'] == 'General')
#mask = (df2['B_DX_Set'].apply(lambda x: len(x) == 0)) & (df2['B_DX_Type'] == 'General')
# update SDX_Type
#df2.loc[mask, 'A_DX_Type'] = 'No A_DX'
#df2.loc[mask, 'B_DX_Type'] = 'No B_DX'

df2["A_PX_count"]  = df2["A_PX_List"].apply(lambda x: len([i for i in x if pd.notna(i)]))
df2["B_PX_count"]  = df2["B_PX_List"].apply(lambda x: len([i for i in x if pd.notna(i)]))

df2["A_DX_Count"] = df2["A_DX_Set"].apply(lambda x: len([i for i in x if pd.notna(i)]))
df2["B_DX_Count"] = df2["B_DX_Set"].apply(lambda x: len([i for i in x if pd.notna(i)]))

cols_to_drop = [
    "A_DX_List", "B_DX_List",
    "A_DX_List_Clean", "B_DX_List_Clean",
    "A_DX_Type_list", "B_DX_Type_list"
]

#df2 = df2.drop(columns=cols_to_drop, errors='ignore')

def compare_dx_sets(a, b):
    # Convert to string so list formatting does not matter
    a_str = str(a).strip()
    b_str = str(b).strip()

    if a_str == b_str:
        return "No Change"   # Or np.nan if you want blank
    else:
        return f"Change {a_str}  {b_str}"

df2["DX_Change_Status"] = df2.apply(lambda row: compare_dx_sets(row["PRIM_DX"], row["B_PRIMDX_Clean"]),axis=1)

#df2 = df2.replace("No B_DX", "No A_DX")

df2["DX_Type_Status"] = df2.apply(lambda row: compare_dx_sets(row["A_DX_Type"], row["B_DX_Type"]),axis=1)

df2["DRG_Status"] = df2.apply(
    lambda row: compare_dx_sets(row["ADRG"], row["B_DRG"]),
    axis=1
)


def compare_dx_lists(a, b):
    # Handle None or NaN
    if a is None or (isinstance(a, float) and np.isnan(a)):
        a = []
    if b is None or (isinstance(b, float) and np.isnan(b)):
        b = []
    
    # Make sure both are lists
    if not isinstance(a, list):
        a = [a]
    if not isinstance(b, list):
        b = [b]
    
    # Normalize codes
    a_clean = [str(code).upper().strip() for code in a]
    b_clean = [str(code).upper().strip() for code in b]
    
    # Compare as sets (order-insensitive)
    if set(a_clean) == set(b_clean):
        return "No Change"
    else:
        return f"Change {a_clean}  {b_clean}"


# Apply to dataframe
df2["DX_Set_Change_Status"] = df2.apply(
    lambda row: compare_dx_lists(row["A_DX_Set"], row["B_DX_Set"]),
    axis=1
)

# Apply to dataframe
df2["PX_Set_Change_Status"] = df2.apply(
    lambda row: compare_dx_lists(row["A_PX_List"], row["B_PX_List"]),
    axis=1
)

# Ensure numeric
df2['Payments'] = pd.to_numeric(df2['Payments'], errors='coerce')
df2['IDSavings'] = pd.to_numeric(df2['IDSavings'], errors='coerce')

 Loaded MCC/CC list with 17913 entries.

In [10]:
df2['PaymentType'].value_counts()

PaymentType
postpay    59351
prepay      4713
Name: count, dtype: int64

In [12]:
drg_wts = pd.read_csv(r"C:\Users\Arunkumara\Downloads\DRGWeightCosts.csv",header=None)
drg_wts = drg_wts[drg_wts[8]==41.0]
drg_wts = drg_wts.loc[:,[0,2,3]]
drg_wts["DRG"] = drg_wts[0].astype(str).str.zfill(3)

drg_wts.info()

<class 'pandas.core.frame.DataFrame'>
Index: 766 entries, 0 to 765
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       766 non-null    int64
 1   2       766 non-null    object
 2   3       766 non-null    float64
 3   DRG     766 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 29.9+ KB

In [13]:
df2["ADRG"] = df2["ADRG"].astype(str)
df2["B_DRG"] = df2["B_DRG"].astype(str)
drg_wts['DRG'] = drg_wts['DRG'].astype(str)

merged = df2.merge(
    drg_wts,
    left_on="ADRG",
    right_on='DRG',
    how="left"
)

merged.shape

merged1 = merged.merge(
    drg_wts,
    left_on="B_DRG",
    right_on='DRG',
    how="left"
)

merged1.shape
merged1.rename(
    columns={
        'DRG_x': "Mapped_ADRG",
       # 1: "Code_ADRG",
        '2_x': "ADRG_Desc",
        '3_x': "ADRG_wt"
    },
    inplace=True
)

merged1.rename(
    columns={
        'DRG_y': "Mapped_BDRG",
        #1: "Code_BDRG",
        '2_y': "BDRG_Desc",
        '3_y': "BDRG_wt"
    },
    inplace=True
)

In [14]:
merged1["ADRG_wt"] = merged1["ADRG_wt"].astype(float)
merged1["BDRG_wt"] = merged1["BDRG_wt"].astype(float)

merged1['Tag'] = merged1.apply(
    lambda x: 'Equal' if x['ADRG_wt'] == x['BDRG_wt'] 
              else 'B Higher' if x['ADRG_wt'] < x['BDRG_wt'] 
              else 'B Lower',
    axis=1
)

In [15]:
columns_to_keep = [
    "claimid", "Client", "PaymentType", "Group_Type", "Payments",
    "Provider_ID", "HospitalName", "LOS",  "AGE", "LOB",
    "ADRG", "PRIM_DX","A_DX_List","A_DX_List_Clean","A_DX_Type_list", "A_PX_List","A_DX_Set","A_DX_Type",
     "B_DRG", "B_PRIMDX","B_PRIMDX_Clean","B_DX_List","B_DX_List_Clean","B_DX_Type_list", "B_PX_List","B_DX_Set","B_DX_Type",
     "DRG_Status", "DX_Change_Status","DX_Set_Change_Status","DX_Type_Status","PX_Set_Change_Status",
    "InitialDeterminationStatus", "IDSavings", "AdjustedSavings",
    "ADRG_Desc","ADRG_wt",
    "BDRG_Desc","BDRG_wt",
    "Tag"
     
]

merged2 = merged1[columns_to_keep]
#"Provider_ID","PaymentType","DRG_Status"

In [41]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = merged2.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum"),

    #denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(15)

,Provider_ID,total_claims,approved_count,denied_count,avg_payments,percentage_denied,denied_avg_payments,denied_avg_saving,denied_total_saving
0,730700090,185,128,57,10849.842649,30.81,10281.069298,4115.760526,234598.35
1,000047750D,386,329,57,12576.202124,14.77,11142.431579,3989.738947,227415.12
2,000059420E,545,490,55,16805.455119,10.09,13809.781273,5031.071455,276708.93
3,000021832C,405,353,52,10805.432716,12.84,8193.367308,2376.763654,123591.71
4,560928089,299,256,43,12539.088495,14.38,12541.975116,4365.203721,187703.76
5,381360584,360,318,42,12856.957333,11.67,14225.482619,3940.169048,165487.10
6,730657693,213,171,42,11223.179296,19.72,7848.080714,2945.876190,123726.80
7,853777599B,360,318,42,15994.484556,11.67,15805.590000,5325.363333,223665.26
8,581123037T,279,241,38,13309.571505,13.62,10907.844474,4128.339474,156876.90
9,000098152D,176,139,37,16222.720341,21.02,15555.032703,4502.841081,166605.12
10,566017737F,293,257,36,13396.488157,12.29,13095.921389,4055.718611,146005.87
11,630845288C,187,152,35,12636.244599,18.72,12935.284857,3568.005429,124880.19
12,593458145N,273,239,34,17967.837399,12.45,14131.870882,3212.721765,109232.54
13,582149128A,311,278,33,13334.697363,10.61,14455.726364,3592.156970,118541.18
14,000190356A,243,210,33,14052.233251,13.58,15040.506970,4756.424848,156962.02

In [17]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = merged2.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum"),

    #denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_total_saving"],
    ascending=False
).reset_index(drop=True)

df_group.head(15)

,Provider_ID,total_claims,approved_count,denied_count,avg_payments,percentage_denied,denied_avg_payments,denied_avg_saving,denied_total_saving
0,000059420E,545,490,55,16805.455119,10.09,13809.781273,5031.071455,276708.93
1,730700090,185,128,57,10849.842649,30.81,10281.069298,4115.760526,234598.35
2,000047750D,386,329,57,12576.202124,14.77,11142.431579,3989.738947,227415.12
3,853777599B,360,318,42,15994.484556,11.67,15805.590000,5325.363333,223665.26
4,560585243,151,123,28,15703.239272,18.54,17568.764643,7008.812500,196246.75
5,560928089,299,256,43,12539.088495,14.38,12541.975116,4365.203721,187703.76
6,000098152D,176,139,37,16222.720341,21.02,15555.032703,4502.841081,166605.12
7,381360584,360,318,42,12856.957333,11.67,14225.482619,3940.169048,165487.10
8,800818718,94,78,16,20555.160426,17.02,25114.598750,9974.761250,159596.18
9,000190356A,243,210,33,14052.233251,13.58,15040.506970,4756.424848,156962.02
10,581123037T,279,241,38,13309.571505,13.62,10907.844474,4128.339474,156876.90
11,000061694I,221,194,27,15519.017059,12.22,13592.325926,5429.813333,146604.96
12,566017737F,293,257,36,13396.488157,12.29,13095.921389,4055.718611,146005.87
13,640881013,88,67,21,13009.055455,23.86,14492.083810,6608.657143,138781.80
14,000104720F,161,137,24,15264.659068,14.91,17910.709583,5771.582917,138517.99

In [29]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = merged2.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum"),

    #denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(15)

,ADRG,total_claims,approved_count,denied_count,avg_payments,percentage_denied,denied_avg_payments,denied_avg_saving,denied_total_saving
0,871,5111,3052,2059,13295.392645,40.29,13062.763065,4619.588198,9511732.10
1,189,4226,3101,1125,9137.051275,26.62,8507.941129,2381.535627,2679227.58
2,683,3463,3016,447,6350.707560,12.91,6311.969575,801.384631,358218.93
3,190,2694,2328,366,7668.336804,13.59,7444.409617,1853.369590,678333.27
4,193,2561,2252,309,9126.928419,12.07,8980.083204,2973.930227,918944.44
5,291,1949,1879,70,8536.914033,3.59,8425.626714,2538.369714,177685.88
6,064,1489,1405,84,13851.480887,5.64,13327.007738,5958.088571,500479.44
7,377,1364,1302,62,12486.206774,4.55,11838.969194,4387.580000,272029.96
8,308,1255,1196,59,8353.763203,4.70,7856.775763,3189.192712,188162.37
9,637,1101,1010,91,9878.051889,8.27,9825.015165,3437.916813,312850.43
10,280,1099,1029,70,10609.270346,6.37,10664.937429,3141.679571,219917.57
11,689,1023,868,155,8120.925826,15.15,7809.981548,2403.976387,372616.34
12,853,980,576,404,35244.041224,41.22,34602.688069,10082.420941,4073298.06
13,389,917,894,23,5678.048157,2.51,5885.419130,1566.099565,36020.29
14,682,883,731,152,10575.696240,17.21,9976.166513,2836.648289,431170.54

In [32]:
dff = df_group[df_group['denied_count'] > 100]
dff

,ADRG,total_claims,approved_count,denied_count,avg_payments,percentage_denied,denied_avg_payments,denied_avg_saving,denied_total_saving
0,871,5111,3052,2059,13295.392645,40.29,13062.763065,4619.588198,9511732.10
1,189,4226,3101,1125,9137.051275,26.62,8507.941129,2381.535627,2679227.58
2,683,3463,3016,447,6350.707560,12.91,6311.969575,801.384631,358218.93
3,190,2694,2328,366,7668.336804,13.59,7444.409617,1853.369590,678333.27
4,193,2561,2252,309,9126.928419,12.07,8980.083204,2973.930227,918944.44
11,689,1023,868,155,8120.925826,15.15,7809.981548,2403.976387,372616.34
12,853,980,576,404,35244.041224,41.22,34602.688069,10082.420941,4073298.06
14,682,883,731,152,10575.696240,17.21,9976.166513,2836.648289,431170.54
15,698,856,706,150,11317.229942,17.52,10968.784067,3989.075067,598361.26
16,872,832,288,544,6679.611683,65.38,6665.209449,1488.149191,809553.16
30,071,467,352,115,7451.034861,24.63,7530.693478,1595.442261,183475.86
60,854,196,87,109,13759.487551,55.61,13285.456697,3016.573394,328806.50

In [33]:
provider_list = ["000059420E", "000047750D", "853777599B"]

df_filtered = merged2[merged2['Provider_ID'].isin(provider_list)]
df_filtered.shape

(1291, 40)

In [39]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_filtered.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID","ADRG"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID","ADRG"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum"),

    #denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID","ADRG"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["Provider_ID", "denied_count"],
    ascending=[True, False]   # Provider ascending, claims descending
).reset_index(drop=True)

# Get top 3 for each Provider
df_top3 = df_group.groupby("Provider_ID").head(3).reset_index(drop=True)

df_top3.head(20)

,Provider_ID,ADRG,total_claims,approved_count,denied_count,avg_payments,percentage_denied,denied_avg_payments,denied_avg_saving,denied_total_saving
0,000047750D,871,28,13,15,12139.058929,53.57,11653.387333,4915.307333,73729.61
1,000047750D,189,15,11,4,8150.106667,26.67,8216.125000,1964.442500,7857.77
2,000047750D,193,18,14,4,8421.910000,22.22,8376.845000,3303.972500,13215.89
3,000059420E,871,41,27,14,14817.010000,34.15,13596.050000,4861.972857,68067.62
4,000059420E,189,23,15,8,8187.946087,34.78,8148.676250,2374.958750,18999.67
5,000059420E,853,19,15,4,34766.900000,21.05,35454.332500,12019.500000,48078.00
6,853777599B,871,29,17,12,14744.356552,41.38,15313.114167,6599.980000,79199.76
7,853777599B,189,22,17,5,9349.824545,22.73,9268.120000,2607.052000,13035.26
8,853777599B,853,8,4,4,39989.433750,50.00,41197.190000,10851.020000,43404.08

In [40]:
df_filtered["DRG_Status"].value_counts()

DRG_Status
No Change           1118
Change 871  194       9
Change 871  193       8
Change 871  689       7
Change 872  690       7
Change 193  194       5
Change 189  191       4
Change 100  101       4
Change 189  202       4
Change 871  602       4
Change 190  191       4
Change 175  176       3
Change 689  690       3
Change 064  065       3
Change 189  190       3
Change 853  329       2
Change 871  178       2
Change 872  641       2
Change 038  039       2
Change 871  177       2
Change 853  982       2
Change 871  690       2
Change 637  638       2
Change 682  641       2
Change 872  603       2
Change 871  291       2
Change 199  200       2
Change 082  083       2
Change 377  378       2
Change 853  616       2
Change 683  641       2
Change 189  309       2
Change 369  378       1
Change 854  580       1
Change 551  552       1
Change 432  896       1
Change 871  640       1
Change 228  229       1
Change 871  308       1
Change 564  565       1
Change 189  203       1
Change 683  694       1
Change 071  923       1
Change 871  682       1
Change 856  858       1
Change 432  433       1
Change 189  194       1
Change 071  558       1
Change 327  328       1
Change 189  178       1
Change 492  493       1
Change 029  030       1
Change 189  198       1
Change 391  392       1
Change 091  092       1
Change 682  640       1
Change 304  305       1
Change 644  641       1
Change 073  391       1
Change 637  nan       1
Change 640  641       1
Change 871  727       1
Change 746  747       1
Change 535  536       1
Change 196  197       1
Change 856  857       1
Change 853  981       1
Change 071  305       1
Change 308  309       1
Change 853  347       1
Change 375  376       1
Change 871  445       1
Change 871  391       1
Change 768  807       1
Change 698  699       1
Change 853  485       1
Change 602  603       1
Change 071  603       1
Change 853  143       1
Change 071  690       1
Change 193  190       1
Change 177  178       1
Change 299  300       1
Change 091  291       1
Change 616  617       1
Change 177  190       1
Change 438  682       1
Change 871  189       1
Change 441  442       1
Change 871  296       1
Change 683  392       1
Change 853  166       1
Change 806  nan       1
Change 871  441       1
Change 314  315       1
Change 787  788       1
Change 163  164       1
Change 397  398       1
Change 177  193       1
Change 026  027       1
Change 846  847       1
Change 189  755       1
Change 260  261       1
Name: count, dtype: int64

# pre

In [171]:
df_hist_sub_hum_ms_drg_prepay = merged2[merged2['PaymentType']=='prepay']
df_hist_sub_hum_ms_drg_prepay.shape

(4713, 40)

In [71]:
df_hist_sub_hum_ms_drg_prepay['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Approved    4257
Denied       456
Name: count, dtype: int64

In [509]:
df_hist_sub_hum_ms_drg_prepay['Provider_ID'].value_counts()

Provider_ID
000062947C    33
000021832C    29
386006309A    28
570370242     28
550526150     27
000047750D    27
000013772J    27
581588823D    26
362169179M    25
610445850     25
000191728     23
000051516G    22
362400639A    22
000198232     22
451834769     22
000045693D    21
381360584     20
853777599B    20
000066011C    20
582149128A    20
560928089     19
453576100     19
000097871D    19
726014895Z    19
590624449U    18
916068143B    18
363488183     18
000059420E    18
000011550G    18
582032904     17
710294390L    17
582504530     17
205497506     17
001824627A    16
440577118     16
452535623     16
720502505G    16
000098147     15
582296052     15
000069023E    15
560529994A    15
540519577     15
000087231C    15
000062322B    14
000060303P    14
351088640T    14
741180155W    14
000065513B    14
346004382M    14
000275993C    14
823878395A    14
843178470     14
810232122B    14
560529976C    14
751047527     14
001825011C    14
756001743S    13
882288563     13
382027689A    13
000014197W    13
743230935     13
581123037T    13
000198190     13
000211362D    13
341893439     13
000016400C    13
000090298A    13
000060303R    13
000055086C    13
580566200     13
720535375A    12
362174832     12
331065485     12
000059435D    12
000104720F    12
262037695D    12
582095884     12
582296052C    12
000005023O    12
640468873     12
000063219B    12
942916102     12
581954432D    12
000050270E    12
580566256Y    12
000066600C    12
000100629     12
362513909U    11
350868085     11
451502252     11
750974351A    11
000198194     11
351963748R    11
824372339B    11
730579285M    11
581425000W    11
000060298B    11
841793121     11
000198250     11
000060621E    11
352547114     11
430653493     11
000198193     11
351092610     11
381362830     11
000013417G    11
000098558E    11
933040761     10
832531807     10
000066684D    10
570828733     10
870901094     10
000090250B    10
000190356A    10
650844880     10
000192404     10
736048282     10
841179794     10
001824629D    10
390824015C    10
000285184G    10
000198540A    10
753175630A    10
237133975U    10
000053933A    10
000047566F    10
000198532     10
640881013     10
626010402     10
420504780     10
204401957      9
000028386L     9
522050792      9
231689692C     9
566017737F     9
000061904C     9
272451336A     9
000089776C     9
000060510C     9
000045982B     9
382383119C     9
640303091      9
000028258F     9
000076116A     9
741287015X     9
001824976I     9
760545192D     9
752796815      9
750827446      9
731500629T     9
590675143M     9
851538878C     9
204278130      8
300754305      8
000065362R     8
232825878      8
270712680      8
830343789      8
000199989C     8
561376368B     8
000198695      8
000323224B     8
760545192C     8
000092379C     8
000067133E     8
270814858      8
000021585R     8
161165049      8
000055392E     8
000055401B     8
205908627I     8
352472136A     8
000021585F     8
592447554M     8
474000401      8
752559845H     8
000061431D     8
000206631      8
000072434C     8
000061753E     8
000210764      8
000045770H     8
000055091C     8
310621866      8
610444707E     8
000200025      8
000046032G     8
000071646D     8
582190713N     8
611293786L     8
370661223      8
730700090      8
000198453      8
810864789      7
000098350B     7
800764192      7
240862246      7
592496294D     7
000058002      7
720423651G     7
000045982F     7
001855001B     7
000075452C     7
822567308A     7
640362400      7
541848065      7
843178470A     7
000198264      7
750800661S     7
000064758B     7
000062161A     7
000081011A     7
000081220C     7
470376604B     7
000198448      7
000191644      7
916001537D     7
363484281K     7
010238522K     7
251854772      7
000304094      7
000096802C     7
560585243      6
452694620      6
560547479      6
810851756      6
000077830C     6
630784458      6
000045813      6
475259919      6
000089223O     6
646001587T     6
362170866H     6
931394239      6
000098365A     6
352263845      6
000020041R     6
520795508B     6
000005088N     6
383322109E     6
465143606      6
841343242      6
314379509D     6
000045770      6
000066986A     6
000088827C     6
593527036A     6
550643304E     6
231396794      6
582026750      6
621647983C     6
000061848D     6
540506463      6
000206700      6
933085834A     6
000285184      6
752890358B     6
000089223F     6
910844563      6
000021585E     6
581519911      6
314379519D     6
741698143      6
001824976A     6
000050255C     6
843050337      6
470376552      6
000198510A     6
150532221      6
000191727      5
332257010      5
822577178      5
000241678E     5
000065362S     5
590910342U     5
370662576      5
730657693      5
432008974A     5
621771866G     5
000088298C     5
000055244F     5
000045982J     5
000017166I     5
750800661A     5
900799724      5
911858433      5
381434090S     5
550261260U     5
010211494      5
990073524      5
382796005      5
261214372      5
621762420      5
842046902      5
000066544K     5
000064707D     5
251925187      5
000019673U     5
850327237D     5
000062506E     5
000198199      5
992892769      5
550357050E     5
381976271      5
000292901A     5
141996067      5
570341194B     5
810233121C     5
630288864I     5
371762682      5
000094793A     5
000272567J     5
582504530B     5
000098152D     5
000055091      5
205432782B     5
560510824      5
000209329      5
840935136A     5
000269979A     5
621772321      5
000091090A     5
621757920      5
825179383      5
351361243A     5
000278490      5
331073948D     4
000018483V     4
562014989G     4
000090234      4
874714839F     4
000094383A     4
231352213A     4
451027361      4
822577178E     4
752678857D     4
000199117B     4
381369611Q     4
000198601      4
000198459      4
000098153      4
582144788E     4
000087888B     4
000028386A     4
421019872      4
000086946C     4
455055149A     4
382146751      4
000098152      4
580968382C     4
000061988C     4
208473972G     4
000206705      4
000198455      4
300830918      4
000062228C     4
381218516      4
590694358D     4
000090227A     4
446005747L     4
350876396      4
431343281H     4
356001540      4
992646504      4
351069822V     4
230596940N     4
000198467      4
731575187A     4
000069023F     4
000030541V     4
810231785      4
240795623      4
580566121H     4
203391873D     4
580568702A     4
710236917      4
850106941C     4
000198451      4
430687077      4
000212791      4
000061781C     4
522438452      4
000005088U     4
810722737D     4
000089188K     4
992646504D     4
581725656      4
340967014      4
720423659      4
370661238      4
000090442E     4
840417134A     4
232238976C     4
000264012D     4
000217615A     4
000198600      4
000072332S     4
381359087      4
000098348C     4
231512747A     4
232829095O     4
561509260V     4
000198266      4
581790149      4
000053376      4
880455713B     4
860137567D     4
651219504      4
383932775      4
821883948      4
201729674D     4
810232124      4
391027676A     4
590878982I     4
000061380H     4
000090227      4
000219524      4
621801445A     4
910652651      4
000198543      3
000198192      3
570314381      3
000087127A     3
580566257S     3
736061037      3
340505560B     3
720408982      3
000045719W     3
812772554      3
000061952G     3
020260334      3
752770738      3
610420440      3
994762475A     3
420698265      3
720411322V     3
000075937B     3
844422249      3
000086927A     3
992171028      3
000198462      3
000070893B     3
510570864      3
571067254      3
851538878      3
380833014A     3
000236077      3
232791808      3
646001540A     3
522379881      3
720880258A     3
660589727      3
992392397      3
000028386B     3
571098556K     3
746000949Y     3
582453303      3
621811413E     3
260479484B     3
610482973      3
230596940L     3
000045719N     3
850682363      3
000198252B     3
821162805      3
344428218      3
995002378      3
000079078C     3
350868132      3
000097972      3
000356140      3
000045547G     3
000064657E     3
000097786A     3
621138045W     3
621762559B     3
621762412      3
240795463      3
540488103      3
460485169A     3
133957095B     3
311524546Y     3
000061774E     3
000005023S     3
560530233C     3
874714839      3
000198468      3
000087165H     3
050539357      3
742557820A     3
581911751R     3
730579286      3
382689033      3
000062506D     3
720423635      3
480543789      3
933085834B     3
841396628B     3
626002623B     3
680045270Y     3
000063260F     3
210634462      3
834672945A     3
000016241M     3
922451946      3
000285184X     3
463176429B     3
000065362U     3
000198251      3
860982071      3
346003129F     3
883577015      3
621762526      3
992141118A     3
000046156C     3
000198693      3
000055096C     3
000359757      3
272953799      3
474196634      3
452743520      3
272618766      3
741303720      3
631058174      3
000241678G     3
540895648      3
231352213      3
636001820      3
000018936U     3
000083913A     3
000206647      3
631102774      3
000005088P     3
000198466      3
610444707C     3
232306491I     3
000202088A     3
351151208      3
000020041C     3
000091587C     3
000341136F     3
231365353      3
370661199      3
910655392      3
571098556A     3
000026479E     3
316402480Q     3
000098300B     3
420680452      3
000075702A     3
261131647      3
640333594      3
750972805F     3
992646504A     3
910565889      3
860181654F     3
472313900      3
000005023R     3
000050521A     3
831954982      3
000007597      2
000091105A     2
800945173      2
000094730E     2
741166904A     2
231352203A     2
550357045      2
000359714D     2
592754033      2
043730045      2
000064758F     2
586025393      2
620544855B     2
203003947      2
251801532      2
720500565      2
000022524F     2
580593388J     2
651191373      2
844475996      2
720408970      2
883850676      2
994761958      2
452528273K     2
000073713C     2
390794174I     2
464317222      2
370681540      2
263359979A     2
562093700      2
756003935N     2
390987025J     2
000016241L     2
231529076      2
430652680      2
751008430L     2
934333907      2
752302928      2
000285184D     2
202468795      2
000241678F     2
742225672L     2
381426919      2
310621866Q     2
390830664      2
934604680A     2
420680407G     2
824432109      2
560554202Z     2
596001321D     2
000017235H     2
752586857P     2
370661220      2
000214797      2
000095556A     2
344428205E     2
000017235D     2
250965274      2
726014606      2
000072220B     2
621762364      2
886000436      2
272200283      2
000079035C     2
000062579I     2
000202301      2
000082766A     2
472667968      2
580607088      2
591943502C     2
620475842B     2
000034607V     2
000326769A     2
000209347      2
000091384H     2
000359714B     2
550357057      2
580625140      2
311716973      2
452711804      2
570342027      2
251550350      2
596020427N     2
000086946B     2
751277293L     2
270085482      2
390806302      2
420680337      2
250965600      2
210634562F     2
462760935      2
560591303      2
540555201H     2
581425000X     2
000198549      2
000258619B     2
000090854      2
452909143      2
710236856      2
611786722      2
540696355      2
000088097B     2
930429015      2
113243405      2
000198452      2
000090586B     2
310564121A     2
000036596F     2
000021908I     2
240795508      2
000198542      2
000022143B     2
410729979      2
000062160B     2
043633263      2
650460321      2
264331175      2
590714831E     2
621757929H     2
000066637E     2
000089741B     2
000062526C     2
472323163      2
462743282      2
362235165C     2
000061695D     2
020222140A     2
860181654G     2
000055129O     2
800818718      2
710329353      2
000087447C     2
340714583      2
060646652S     2
042769210      2
370663567      2
000028986P     2
000241678H     2
845074208B     2
660876852      2
000211362G     2
310949874      2
636004476      2
350877574      2
000263669A     2
351128943      2
000067188A     2
000006003I     2
930591528      2
452528414B     2
464389870      2
621757662R     2
751584559A     2
233069260A     2
000198556      2
843178470C     2
382800065H     2
000198464      2
000019673V     2
750800661B     2
231352155      2
204401957A     2
824052186      2
621757921H     2
000202304      2
160756336      2
111839362D     2
510473471      2
846002707D     2
464719451      2
560636250C     2
621754940P     2
621812558      2
000061962B     2
840425720      2
271540267      2
000068029A     2
952126937B     2
561484844      2
361509000      2
141338586      2
822445000A     2
710772737      2
462605366A     2
160743029      2
822913146      2
510067938      2
231352187      2
822748395A     2
474717998      2
000230991      2
916018764      2
566011594      2
000369746      2
160393490      2
872027148      2
000021585S     1
556000821      1
630997281      1
356001853      1
150532220      1
540480606H     1
952821104B     1
361703630      1
272814378      1
000089645B     1
061713547      1
841949748      1
030442535A     1
471161992      1
910567732      1
992441755      1
141347719      1
381420304      1
000083041E     1
571029438I     1
000199685      1
000199950      1
480774005      1
392031968      1
000206547B     1
000064758E     1
134316364      1
232798290      1
000059478E     1
510069243      1
760536234      1
000066897      1
000198527      1
810231793      1
911631806      1
951934652A     1
430653587      1
460928982      1
350892672      1
562570686      1
421009175A     1
450310462      1
350985964      1
910564987      1
000085800F     1
742870118A     1
420680448      1
141364536C     1
000061781      1
000191071B     1
133964321      1
000055085A     1
000096224G     1
383990879      1
000261280A     1
362170155      1
561933245      1
000005088O     1
621789402      1
741161938C     1
470385129B     1
000060303Q     1
000083895      1
261483076      1
840482695      1
000063571A     1
000277569A     1
000072332D     1
000062166J     1
756000602I     1
000218980      1
222667354A     1
000277579      1
240795411      1
000060097H     1
621792272C     1
640324402      1
621757924      1
000323218C     1
222617175      1
000057972C     1
995038459      1
000098545A     1
231352160C     1
650905661C     1
550359755      1
452652006A     1
160743187B     1
752426010      1
000066072A     1
000211361K     1
000378961      1
820844453      1
730992978W     1
853587868      1
550404900I     1
000092778B     1
000210751B     1
590624371F     1
811708177D     1
231352202      1
822034009A     1
541489410F     1
621864231      1
521241836G     1
610444707K     1
000290101      1
000206705D     1
000096760B     1
000013860M     1
000015438P     1
566000674      1
000006003L     1
946050274      1
860100882      1
263635210A     1
436004435      1
381428164      1
473937421      1
260599536      1
000285184E     1
000050521C     1
452528314      1
132655001I     1
362181997      1
000093180A     1
000236496D     1
591917016D     1
994841947      1
363616314B     1
000011162J     1
135596796C     1
146049030H     1
000198229      1
000058427C     1
010211501      1
000356325A     1
521564715      1
250965598      1
730584411R     1
590872594W     1
621113167J     1
362170133      1
251340370      1
910729255      1
630047680      1
000016105O     1
000045982C     1
481040759      1
814896412      1
000272567V     1
000050521B     1
621762535      1
560989789      1
843065045      1
000062171C     1
843041473      1
751844139L     1
344430716E     1
951644629      1
232922437      1
651191369      1
233041933      1
000096793A     1
000088521D     1
362448028      1
200175530      1
010212444      1
237426289      1
562084959      1
251260215S     1
621762382B     1
880907240      1
910373400      1
364595806      1
566017737A     1
000231475      1
454989022      1
591205441      1
160743134      1
362604009      1
440552490      1
000211362J     1
043369653B     1
460750728      1
204193243C     1
271408630      1
000017235E     1
000022524Q     1
756000439I     1
260965414B     1
710787860      1
000198457      1
000062526      1
250965387      1
311340739D     1
264019868      1
210634572B     1
000018936J     1
310830955N     1
410991680C     1
831362276C     1
370662561A     1
844831141      1
000013149L     1
000214576T     1
810233121A     1
473778682      1
000011162K     1
000198460      1
916001709K     1
000303687      1
000095367A     1
366000085      1
461629800      1
640889822      1
000070850E     1
000198227      1
621866028      1
390872080      1
463085950      1
000083896      1
636000090      1
822869576A     1
726011528      1
000017235K     1
486099245      1
741385192A     1
231352174      1
464420358      1
480577664A     1
750755367      1
000060554D     1
344430849      1
421418847      1
381357020      1
000061759C     1
222594672      1
420680355      1
581954432F     1
020232673      1
000088394B     1
232193572      1
510436196      1
000016241C     1
000275993      1
995053647      1
812816675B     1
000198235      1
650543088      1
000198522      1
824681222A     1
204217095      1
000019673Y     1
000062188A     1
000328121      1
660531550      1
232421970      1
042791396      1
310785684J     1
203204949A     1
472361878      1
822666059      1
825187448      1
000371364B     1
453072990J     1
000198603      1
000236387      1
825426152A     1
000192529      1
060646659      1
000060097D     1
843073061      1
000062585D     1
560952955D     1
000006003M     1
000006263F     1
205220956      1
233001904      1
851608328      1
221487322      1
000089223L     1
621769635F     1
540622371N     1
370618939      1
730731338      1
000091587E     1
000055129C     1
000083651B     1
000192617A     1
203500835      1
000212627A     1
000083869B     1
000068144E     1
000206698      1
010530375      1
000005088Q     1
000045719R     1
954541687      1
000098149      1
746000756      1
823745228A     1
000193273M     1
020483054      1
586002922      1
746067306      1
000061921F     1
261947374B     1
486033703      1
621762428I     1
221494454      1
204305186      1
910573108C     1
566015416      1
000058087      1
352087092      1
231996150D     1
000100815      1
274564798      1
356001583      1
646001398R     1
381437919      1
000222787B     1
251490707      1
823934511      1
934555562      1
000095990B     1
000189664A     1
000075811      1
842237042A     1
000045719M     1
814594719      1
310538532N     1
344427944H     1
002008874A     1
000003767A     1
260684968      1
Name: count, dtype: int64

In [494]:
df_hist_sub_hum_ms_drg_prepay['ADRG'].value_counts()

ADRG
291    562
683    436
189    417
190    219
871    196
389    190
640    141
689    136
308    104
191    102
698     84
071     79
281     76
280     75
377     74
177     73
175     66
432     63
313     63
330     60
064     51
644     51
378     50
637     50
314     46
304     46
286     42
917     39
853     38
193     33
252     32
391     32
682     30
309     28
872     24
065     22
091     20
480     20
393     20
811     19
862     18
242     17
809     17
239     17
602     16
062     15
266     15
919     14
638     12
467     12
329     12
180     12
659     12
178     12
371     11
287     11
100     11
438     11
564     11
194     10
551     10
896     10
674     10
038      9
808      9
435      9
068      8
543      8
023      8
235      8
299      8
542      8
441      7
388      7
444      7
181      7
380      7
073      7
560      7
199      7
501      7
870      7
273      7
085      6
070      6
417      6
643      6
270      6
163      6
394      6
165      5
947      5
699      5
078      5
535      4
056      4
617      4
915      4
557      4
369      4
183      4
466      4
253      4
035      4
511      4
847      4
755      4
086      4
436      4
854      4
673      4
657      3
987      3
082      3
957      3
228      3
276      3
982      3
549      3
474      3
660      3
026      3
095      3
799      3
481      3
392      3
865      3
963      3
614      3
988      3
713      3
292      3
841      3
061      2
250      2
974      2
166      2
737      2
553      2
989      2
739      2
616      2
275      2
562      2
515      2
546      2
381      2
521      2
059      2
815      2
368      2
722      2
709      2
840      2
326      2
054      2
604      2
083      2
663      2
220      2
260      2
164      2
398      2
593      2
037      2
958      2
868      2
485      2
167      2
157      1
714      1
402      1
333      1
296      1
945      1
665      1
727      1
088      1
155      1
571      1
488      1
964      1
374      1
577      1
463      1
622      1
124      1
504      1
823      1
496      1
302      1
559      1
080      1
067      1
168      1
415      1
319      1
884      1
029      1
256      1
328      1
385      1
951      1
052      1
493      1
011      1
686      1
477      1
300      1
216      1
867      1
653      1
843      1
357      1
918      1
740      1
522      1
034      1
949      1
629      1
838      1
375      1
077      1
579      1
835      1
437      1
690      1
907      1
418      1
552      1
315      1
335      1
322      1
513      1
548      1
856      1
598      1
158      1
829      1
405      1
742      1
031      1
715      1
565      1
486      1
625      1
846      1
471      1
464      1
372      1
397      1
830      1
041      1
469      1
656      1
507      1
628      1
Name: count, dtype: int64

In [495]:
df_hist_sub_hum_ms_drg_prepay['DRG_Status'].value_counts()

DRG_Status
No Change           4065
Change 189  191      63
Change 189  190      51
Change 190  191      38
Change 689  690      28
Change 683  641      24
Change 871  193      20
Change 871  689      18
Change 698  699      16
Change 871  194      12
Change 177  178      12
Change 683  690      11
Change 644  641      10
Change 872  690       9
Change 308  309       9
Change 071  690       9
Change 189  192       8
Change 640  641       8
Change 071  683       7
Change 071  641       6
Change 190  192       6
Change 193  194       6
Change 291  308       6
Change 871  nan       6
Change 871  177       5
Change 917  918       5
Change 682  683       4
Change 432  433       4
Change 872  392       4
Change 071  948       4
Change 280  291       4
Change 871  690       4
Change 304  305       4
Change 871  372       3
Change 391  392       3
Change 683  684       3
Change 659  660       3
Change 896  897       3
Change 175  176       3
Change 853  659       3
Change 853  329       3
Change 871  371       3
Change 637  638       3
Change 480  481       3
Change 189  194       3
Change 291  293       3
Change 853  417       2
Change 389  390       2
Change 689  nan       2
Change 199  200       2
Change 853  660       2
Change 643  644       2
Change 871  637       2
Change 808  809       2
Change 291  292       2
Change 273  274       2
Change 163  164       2
Change 870  207       2
Change 862  863       2
Change 417  418       2
Change 853  163       2
Change 286  287       2
Change 871  682       2
Change 683  191       2
Change 871  438       2
Change 871  070       2
Change 280  281       2
Change 871  444       2
Change 862  699       1
Change 078  079       1
Change 698  700       1
Change 441  443       1
Change 853  500       1
Change 872  603       1
Change 872  378       1
Change 313  311       1
Change 535  536       1
Change 189  202       1
Change 291  554       1
Change 571  603       1
Change 871  202       1
Change 193  191       1
Change 871  394       1
Change 388  389       1
Change 070  690       1
Change 871  176       1
Change 281  282       1
Change 281  641       1
Change 190  nan       1
Change 853  nan       1
Change 291  191       1
Change 853  321       1
Change 313  310       1
Change 871  377       1
Change 189  176       1
Change 189  206       1
Change 189  304       1
Change 659  698       1
Change 235  nan       1
Change 280  282       1
Change 189  292       1
Change 082  083       1
Change 432  434       1
Change 071  603       1
Change 477  478       1
Change 175  193       1
Change 835  809       1
Change 178  206       1
Change 871  190       1
Change 841  641       1
Change 235  302       1
Change 871  178       1
Change 038  039       1
Change 673  674       1
Change 091  193       1
Change 281  nan       1
Change 077  304       1
Change 163  165       1
Change 854  418       1
Change 629  617       1
Change 854  580       1
Change 614  615       1
Change 071  563       1
Change 291  190       1
Change 871  602       1
Change 871  195       1
Change 682  684       1
Change 177  190       1
Change 180  181       1
Change 872  641       1
Change 854  660       1
Change 871  392       1
Change 871  725       1
Change 091  641       1
Change 872  694       1
Change 871  641       1
Change 436  948       1
Change 377  811       1
Change 856  857       1
Change 872  202       1
Change 393  189       1
Change 871  698       1
Change 683  312       1
Change 871  291       1
Change 432  640       1
Change 193  195       1
Change 313  nan       1
Change 189  543       1
Change 853  673       1
Change 308  310       1
Change 683  554       1
Change 870  689       1
Change 235  236       1
Change 871  280       1
Change 871  189       1
Change 689  683       1
Change 071  880       1
Change 870  637       1
Change 919  920       1
Change 840  842       1
Change 551  552       1
Change 177  193       1
Change 291  204       1
Change 683  392       1
Change 683  558       1
Change 330  331       1
Change 023  024       1
Change 674  291       1
Change 853  356       1
Change 031  032       1
Change 291  304       1
Change 026  027       1
Change 100  101       1
Change 846  847       1
Change 689  092       1
Change 189  309       1
Change 071  068       1
Change 091  602       1
Change 602  603       1
Change 177  179       1
Change 177  nan       1
Change 682  071       1
Change 091  291       1
Change 071  694       1
Change 189  203       1
Change 085  086       1
Change 088  089       1
Change 871  186       1
Change 189  nan       1
Change 871  872       1
Change 862  920       1
Change 180  182       1
Change 071  305       1
Change 080  081       1
Change 871  179       1
Change 291  309       1
Change 175  292       1
Change 871  391       1
Change 485  486       1
Change 190  178       1
Change 438  439       1
Change 291  603       1
Change 260  261       1
Change 175  149       1
Change 309  310       1
Change 698  187       1
Change 809  810       1
Change 189  315       1
Change 436  300       1
Change 064  nan       1
Change 854  988       1
Change 628  252       1
Name: count, dtype: int64

In [87]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_hist_sub_hum_ms_drg_prepay.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum"),

    #denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(15)

,Provider_ID,total_claims,approved_count,denied_count,avg_payments,percentage_denied,denied_avg_payments,denied_avg_saving,denied_total_saving
0,550526150,27,19,8,8341.115556,29.63,8022.795000,1931.281250,15450.25
1,610445850,25,18,7,11074.839600,28.00,11257.887143,3638.722857,25471.06
2,560928089,19,14,5,10281.837368,26.32,10300.828000,3470.666000,17353.33
3,000021832C,29,24,5,12571.855862,17.24,15420.560000,4253.418000,21267.09
4,581588823D,26,22,4,16340.378462,15.38,11921.805000,4558.077500,18232.31
5,000059420E,18,14,4,12574.332778,22.22,13700.490000,5728.580000,22914.32
6,382027689A,13,9,4,9284.720000,30.77,10463.335000,2953.302500,11813.21
7,451834769,22,18,4,8865.199545,18.18,6809.737500,2601.740000,10406.96
8,346004382M,14,10,4,6909.735000,28.57,9030.935000,2652.710000,10610.84
9,750974351A,11,8,3,8404.269091,27.27,5398.813333,1375.630000,4126.89
10,000191728,23,20,3,11311.841304,13.04,8872.076667,634.776667,1904.33
11,001824629D,10,7,3,10308.444000,30.00,8264.980000,2718.616667,8155.85
12,900799724,5,2,3,9990.408000,60.00,9958.743333,3238.933333,9716.80
13,001825011C,14,11,3,11977.045000,21.43,8566.666667,1743.630000,5230.89
14,000198455,4,1,3,9864.845000,75.00,10245.553333,3437.900000,10313.70

In [89]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_hist_sub_hum_ms_drg_prepay.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum"),

    #denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(15)

,ADRG,total_claims,approved_count,denied_count,avg_payments,percentage_denied,denied_avg_payments,denied_avg_saving,denied_total_saving
0,189,417,327,90,9111.820240,21.58,9061.140667,2114.067889,190266.11
1,871,196,131,65,12236.192143,33.16,12514.336462,4820.524923,313334.12
2,683,436,397,39,6252.540298,8.94,6182.574359,718.771282,28032.08
3,190,219,184,35,7808.607352,15.98,7568.477143,1931.196286,67591.87
4,071,79,54,25,7341.583924,31.65,7026.053600,1466.814800,36670.37
5,689,136,114,22,8322.128235,16.18,7923.253182,2433.960455,53547.13
6,872,24,6,18,7009.084583,75.00,7358.735556,1475.823889,26564.83
7,291,562,547,15,8843.706085,2.67,8414.845333,1840.538667,27608.08
8,698,84,71,13,11122.979643,15.48,10771.263077,4426.645385,57546.39
9,177,73,61,12,11323.854110,16.44,11368.996667,4303.850000,51646.20
10,853,38,29,9,34170.051316,23.68,33231.641111,10429.061111,93861.55
11,193,33,26,7,9236.807273,21.21,9327.577143,3728.900000,26102.30
12,640,141,134,7,9668.054326,4.96,7857.720000,3234.210000,22639.47
13,175,66,60,6,10034.620909,9.09,9634.703333,3193.736667,19162.42
14,308,104,98,6,8564.908462,5.77,9077.463333,3739.063333,22434.38

In [91]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_hist_sub_hum_ms_drg_prepay.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["DRG_Status"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["DRG_Status"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum"),

    #denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["DRG_Status"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(15)

,DRG_Status,total_claims,approved_count,denied_count,avg_payments,percentage_denied,denied_avg_payments,denied_avg_saving,denied_total_saving
0,Change 189 191,63,21,42,9224.780476,66.67,8971.934286,2667.121667,112019.11
1,Change 189 190,51,17,34,8774.951961,66.67,8583.233529,796.624412,27085.23
2,Change 190 191,38,9,29,7654.091579,76.32,7796.173793,1830.399655,53081.59
3,Change 683 641,24,2,22,6708.662917,91.67,6690.599091,809.134091,17800.95
4,Change 689 690,28,8,20,7723.423571,71.43,7839.242500,2445.186000,48903.72
5,Change 871 193,20,5,15,12268.013500,75.00,12339.500000,4046.290000,60694.35
6,Change 698 699,16,5,11,10823.846875,68.75,10613.691818,4168.786364,45856.65
7,Change 871 194,12,1,11,12080.285833,91.67,11948.379091,6738.423636,74122.66
8,Change 177 178,12,1,11,11226.452500,91.67,11321.395455,4365.046364,48015.51
9,Change 871 689,18,8,10,13764.627222,55.56,13643.900000,5505.289000,55052.89
10,Change 872 690,9,0,9,7821.547778,100.00,7821.547778,1721.752222,15495.77
11,Change 683 690,11,3,8,5906.033636,72.73,5364.247500,506.591250,4052.73
12,Change 640 641,8,1,7,8006.066250,87.50,7857.720000,3234.210000,22639.47
13,Change 071 683,7,1,6,7880.281429,85.71,7981.063333,1249.525000,7497.15
14,Change 071 641,6,0,6,6546.403333,100.00,6546.403333,1692.660000,10155.96

In [93]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_hist_sub_hum_ms_drg_prepay.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","DRG_Status","Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG","DRG_Status","Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum"),

    #denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG","DRG_Status","Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(15)

,ADRG,DRG_Status,Provider_ID,total_claims,approved_count,denied_count,avg_payments,percentage_denied,denied_avg_payments,denied_avg_saving,denied_total_saving
0,189,Change 189 190,000062161A,2,0,2,7983.295,100.0,7983.295,738.070,1476.14
1,190,Change 190 191,621772321,2,0,2,7534.380,100.0,7534.380,1770.550,3541.10
2,189,Change 189 191,382027689A,2,0,2,7910.345,100.0,7910.345,2418.360,4836.72
3,193,Change 193 194,000060303P,2,0,2,9458.620,100.0,9458.620,3572.550,7145.10
4,189,Change 189 191,000072434C,2,0,2,7398.925,100.0,7398.925,2262.015,4524.03
5,177,Change 177 178,560928089,2,0,2,11091.850,100.0,11091.850,4284.410,8568.82
6,189,Change 189 191,000062947C,2,0,2,10173.810,100.0,10173.810,3110.355,6220.71
7,177,Change 177 178,752890358B,2,0,2,12935.645,100.0,12935.645,4996.620,9993.24
8,189,Change 189 190,550526150,2,0,2,7959.640,100.0,7959.640,735.885,1471.77
9,689,Change 689 690,001824629D,2,0,2,8027.335,100.0,8027.335,2480.805,4961.61
10,872,Change 872 392,550526150,2,0,2,7161.770,100.0,7161.770,1463.315,2926.63
11,189,Change 189 192,204217095,1,0,1,10359.180,100.0,10359.180,4941.000,4941.00
12,189,Change 189 192,386006309A,1,0,1,10093.000,100.0,10093.000,4814.040,4814.04
13,190,Change 190 191,000062947C,1,0,1,8418.450,100.0,8418.450,1978.300,1978.30
14,077,Change 077 304,362400639A,1,0,1,11799.910,100.0,11799.910,2834.940,2834.94

In [165]:
df_hist_sub_hum_ms_drg_prepay['Tag'].value_counts()

Tag
Equal      4064
B Lower     649
Name: count, dtype: int64

# No DRG wt csv

In [166]:
df_no_drg_wt = df_hist_sub_hum_ms_drg_prepay[((df_hist_sub_hum_ms_drg_prepay['ADRG_Desc'].isna()) | (df_hist_sub_hum_ms_drg_prepay['BDRG_Desc'].isna()))]
df_no_drg_wt = df_no_drg_wt[~((df_no_drg_wt['B_DRG']=='nan')& (~(df_no_drg_wt['ADRG_Desc'].isna()))) ]
df_no_drg_wt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 63948 to 63948
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     1 non-null      object
 1   Client                      1 non-null      object
 2   PaymentType                 1 non-null      object
 3   Group_Type                  1 non-null      object
 4   Payments                    1 non-null      float64
 5   Provider_ID                 1 non-null      object
 6   HospitalName                1 non-null      object
 7   LOS                         1 non-null      object
 8   AGE                         1 non-null      object
 9   LOB                         1 non-null      object
 10  ADRG                        1 non-null      object
 11  PRIM_DX                     1 non-null      object
 12  A_DX_List                   1 non-null      object
 13  A_DX_List_Clean             1 non-null      object
 14  A_DX_Type_list              1 non-null      object
 15  A_PX_List                   1 non-null      object
 16  A_DX_Set                    1 non-null      object
 17  A_DX_Type                   1 non-null      object
 18  B_DRG                       1 non-null      object
 19  B_PRIMDX                    1 non-null      object
 20  B_PRIMDX_Clean              1 non-null      object
 21  B_DX_List                   1 non-null      object
 22  B_DX_List_Clean             1 non-null      object
 23  B_DX_Type_list              1 non-null      object
 24  B_PX_List                   1 non-null      object
 25  B_DX_Set                    1 non-null      object
 26  B_DX_Type                   1 non-null      object
 27  DRG_Status                  1 non-null      object
 28  DX_Change_Status            1 non-null      object
 29  DX_Set_Change_Status        1 non-null      object
 30  DX_Type_Status              1 non-null      object
 31  PX_Set_Change_Status        1 non-null      object
 32  InitialDeterminationStatus  1 non-null      object
 33  IDSavings                   1 non-null      float64
 34  AdjustedSavings             1 non-null      object
 35  ADRG_Desc                   0 non-null      object
 36  ADRG_wt                     0 non-null      float64
 37  BDRG_Desc                   0 non-null      object
 38  BDRG_wt                     0 non-null      float64
 39  Tag                         1 non-null      object
dtypes: float64(4), object(36)
memory usage: 328.0+ bytes

In [167]:
df_no_drg_wt['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Approved    1
Name: count, dtype: int64

In [169]:
df_hist_sub_hum_ms_drg_postpay_Chg = df_no_drg_wt.copy()


df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID","ADRG","DRG_Status"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    #denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

,Provider_ID,ADRG,DRG_Status,total_claims,approved_count,avg_payments,max_payments,min_payments
0,000045770H,402,No Change,1,1,28182.32,28182.32,28182.32

# Wt Equal

In [172]:
df_hist_sub_hum_ms_drg_prepay_eq = df_hist_sub_hum_ms_drg_prepay[df_hist_sub_hum_ms_drg_prepay['Tag'] == 'Equal']
df_hist_sub_hum_ms_drg_prepay_eq.shape

(4064, 40)

In [96]:
df_f1 = df_hist_sub_hum_ms_drg_prepay_eq[~((df_hist_sub_hum_ms_drg_prepay_eq['ADRG_Desc'].isna()) | (df_hist_sub_hum_ms_drg_prepay_eq['BDRG_Desc'].isna()))]
df_f1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4064 entries, 48222 to 64062
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     4064 non-null   object
 1   Client                      4064 non-null   object
 2   PaymentType                 4064 non-null   object
 3   Group_Type                  4063 non-null   object
 4   Payments                    4064 non-null   float64
 5   Provider_ID                 4064 non-null   object
 6   HospitalName                4064 non-null   object
 7   LOS                         4064 non-null   object
 8   AGE                         4064 non-null   object
 9   LOB                         4064 non-null   object
 10  ADRG                        4064 non-null   object
 11  PRIM_DX                     4064 non-null   object
 12  A_DX_List                   4064 non-null   object
 13  A_DX_List_Clean             4064 non-null   object
 14  A_DX_Type_list              4064 non-null   object
 15  A_PX_List                   4064 non-null   object
 16  A_DX_Set                    4064 non-null   object
 17  A_DX_Type                   4064 non-null   object
 18  B_DRG                       4064 non-null   object
 19  B_PRIMDX                    4064 non-null   object
 20  B_PRIMDX_Clean              4064 non-null   object
 21  B_DX_List                   4064 non-null   object
 22  B_DX_List_Clean             4064 non-null   object
 23  B_DX_Type_list              4064 non-null   object
 24  B_PX_List                   4064 non-null   object
 25  B_DX_Set                    4064 non-null   object
 26  B_DX_Type                   4064 non-null   object
 27  DRG_Status                  4064 non-null   object
 28  DX_Change_Status            4064 non-null   object
 29  DX_Set_Change_Status        4064 non-null   object
 30  DX_Type_Status              4064 non-null   object
 31  PX_Set_Change_Status        4064 non-null   object
 32  InitialDeterminationStatus  4064 non-null   object
 33  IDSavings                   4064 non-null   float64
 34  AdjustedSavings             4064 non-null   object
 35  ADRG_Desc                   4064 non-null   object
 36  ADRG_wt                     4064 non-null   float64
 37  BDRG_Desc                   4064 non-null   object
 38  BDRG_wt                     4064 non-null   float64
 39  Tag                         4064 non-null   object
dtypes: float64(4), object(36)
memory usage: 1.3+ MB

In [97]:
# B part drg is none
df_f2 = df_hist_sub_hum_ms_drg_prepay_eq[(df_hist_sub_hum_ms_drg_prepay_eq['B_DRG']=='nan')& (~(df_hist_sub_hum_ms_drg_prepay_eq['ADRG_Desc'].isna())) ]
df_f2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     0 non-null      object
 1   Client                      0 non-null      object
 2   PaymentType                 0 non-null      object
 3   Group_Type                  0 non-null      object
 4   Payments                    0 non-null      float64
 5   Provider_ID                 0 non-null      object
 6   HospitalName                0 non-null      object
 7   LOS                         0 non-null      object
 8   AGE                         0 non-null      object
 9   LOB                         0 non-null      object
 10  ADRG                        0 non-null      object
 11  PRIM_DX                     0 non-null      object
 12  A_DX_List                   0 non-null      object
 13  A_DX_List_Clean             0 non-null      object
 14  A_DX_Type_list              0 non-null      object
 15  A_PX_List                   0 non-null      object
 16  A_DX_Set                    0 non-null      object
 17  A_DX_Type                   0 non-null      object
 18  B_DRG                       0 non-null      object
 19  B_PRIMDX                    0 non-null      object
 20  B_PRIMDX_Clean              0 non-null      object
 21  B_DX_List                   0 non-null      object
 22  B_DX_List_Clean             0 non-null      object
 23  B_DX_Type_list              0 non-null      object
 24  B_PX_List                   0 non-null      object
 25  B_DX_Set                    0 non-null      object
 26  B_DX_Type                   0 non-null      object
 27  DRG_Status                  0 non-null      object
 28  DX_Change_Status            0 non-null      object
 29  DX_Set_Change_Status        0 non-null      object
 30  DX_Type_Status              0 non-null      object
 31  PX_Set_Change_Status        0 non-null      object
 32  InitialDeterminationStatus  0 non-null      object
 33  IDSavings                   0 non-null      float64
 34  AdjustedSavings             0 non-null      object
 35  ADRG_Desc                   0 non-null      object
 36  ADRG_wt                     0 non-null      float64
 37  BDRG_Desc                   0 non-null      object
 38  BDRG_wt                     0 non-null      float64
 39  Tag                         0 non-null      object
dtypes: float64(4), object(36)
memory usage: 0.0+ bytes

In [98]:
df_final = pd.concat([df_f1, df_f2], axis=0, ignore_index=True)
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4064 entries, 0 to 4063
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     4064 non-null   object
 1   Client                      4064 non-null   object
 2   PaymentType                 4064 non-null   object
 3   Group_Type                  4063 non-null   object
 4   Payments                    4064 non-null   float64
 5   Provider_ID                 4064 non-null   object
 6   HospitalName                4064 non-null   object
 7   LOS                         4064 non-null   object
 8   AGE                         4064 non-null   object
 9   LOB                         4064 non-null   object
 10  ADRG                        4064 non-null   object
 11  PRIM_DX                     4064 non-null   object
 12  A_DX_List                   4064 non-null   object
 13  A_DX_List_Clean             4064 non-null   object
 14  A_DX_Type_list              4064 non-null   object
 15  A_PX_List                   4064 non-null   object
 16  A_DX_Set                    4064 non-null   object
 17  A_DX_Type                   4064 non-null   object
 18  B_DRG                       4064 non-null   object
 19  B_PRIMDX                    4064 non-null   object
 20  B_PRIMDX_Clean              4064 non-null   object
 21  B_DX_List                   4064 non-null   object
 22  B_DX_List_Clean             4064 non-null   object
 23  B_DX_Type_list              4064 non-null   object
 24  B_PX_List                   4064 non-null   object
 25  B_DX_Set                    4064 non-null   object
 26  B_DX_Type                   4064 non-null   object
 27  DRG_Status                  4064 non-null   object
 28  DX_Change_Status            4064 non-null   object
 29  DX_Set_Change_Status        4064 non-null   object
 30  DX_Type_Status              4064 non-null   object
 31  PX_Set_Change_Status        4064 non-null   object
 32  InitialDeterminationStatus  4064 non-null   object
 33  IDSavings                   4064 non-null   float64
 34  AdjustedSavings             4064 non-null   object
 35  ADRG_Desc                   4064 non-null   object
 36  ADRG_wt                     4064 non-null   float64
 37  BDRG_Desc                   4064 non-null   object
 38  BDRG_wt                     4064 non-null   float64
 39  Tag                         4064 non-null   object
dtypes: float64(4), object(36)
memory usage: 1.2+ MB

In [99]:
df_final['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Approved    4063
Denied         1
Name: count, dtype: int64

In [100]:
df_final['Tag'].value_counts()

Tag
Equal    4064
Name: count, dtype: int64

In [80]:
df_drg_eq = df_final[df_final['Tag']=='Equal'].copy()
df_drg_eq.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4064 entries, 3 to 4695
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     4064 non-null   object
 1   Client                      4064 non-null   object
 2   PaymentType                 4064 non-null   object
 3   Group_Type                  4063 non-null   object
 4   Payments                    4064 non-null   float64
 5   Provider_ID                 4064 non-null   object
 6   HospitalName                4064 non-null   object
 7   LOS                         4064 non-null   object
 8   AGE                         4064 non-null   object
 9   LOB                         4064 non-null   object
 10  ADRG                        4064 non-null   object
 11  PRIM_DX                     4064 non-null   object
 12  A_DX_List                   4064 non-null   object
 13  A_DX_List_Clean             4064 non-null   object
 14  A_DX_Type_list              4064 non-null   object
 15  A_PX_List                   4064 non-null   object
 16  A_DX_Set                    4064 non-null   object
 17  A_DX_Type                   4064 non-null   object
 18  B_DRG                       4064 non-null   object
 19  B_PRIMDX                    4064 non-null   object
 20  B_PRIMDX_Clean              4064 non-null   object
 21  B_DX_List                   4064 non-null   object
 22  B_DX_List_Clean             4064 non-null   object
 23  B_DX_Type_list              4064 non-null   object
 24  B_PX_List                   4064 non-null   object
 25  B_DX_Set                    4064 non-null   object
 26  B_DX_Type                   4064 non-null   object
 27  DRG_Status                  4064 non-null   object
 28  DX_Change_Status            4064 non-null   object
 29  DX_Set_Change_Status        4064 non-null   object
 30  DX_Type_Status              4064 non-null   object
 31  PX_Set_Change_Status        4064 non-null   object
 32  InitialDeterminationStatus  4064 non-null   object
 33  IDSavings                   4064 non-null   float64
 34  AdjustedSavings             4064 non-null   object
 35  ADRG_Desc                   4064 non-null   object
 36  ADRG_wt                     4064 non-null   float64
 37  BDRG_Desc                   4064 non-null   object
 38  BDRG_wt                     4064 non-null   float64
 39  Tag                         4064 non-null   object
dtypes: float64(4), object(36)
memory usage: 1.3+ MB

In [81]:
df_drg_eq['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Approved    4063
Denied         1
Name: count, dtype: int64

In [101]:
df_drg_eq_app = df_drg_eq[df_drg_eq['InitialDeterminationStatus']=='Approved'].copy()
df_drg_eq_app.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4063 entries, 3 to 4695
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     4063 non-null   object
 1   Client                      4063 non-null   object
 2   PaymentType                 4063 non-null   object
 3   Group_Type                  4062 non-null   object
 4   Payments                    4063 non-null   float64
 5   Provider_ID                 4063 non-null   object
 6   HospitalName                4063 non-null   object
 7   LOS                         4063 non-null   object
 8   AGE                         4063 non-null   object
 9   LOB                         4063 non-null   object
 10  ADRG                        4063 non-null   object
 11  PRIM_DX                     4063 non-null   object
 12  A_DX_List                   4063 non-null   object
 13  A_DX_List_Clean             4063 non-null   object
 14  A_DX_Type_list              4063 non-null   object
 15  A_PX_List                   4063 non-null   object
 16  A_DX_Set                    4063 non-null   object
 17  A_DX_Type                   4063 non-null   object
 18  B_DRG                       4063 non-null   object
 19  B_PRIMDX                    4063 non-null   object
 20  B_PRIMDX_Clean              4063 non-null   object
 21  B_DX_List                   4063 non-null   object
 22  B_DX_List_Clean             4063 non-null   object
 23  B_DX_Type_list              4063 non-null   object
 24  B_PX_List                   4063 non-null   object
 25  B_DX_Set                    4063 non-null   object
 26  B_DX_Type                   4063 non-null   object
 27  DRG_Status                  4063 non-null   object
 28  DX_Change_Status            4063 non-null   object
 29  DX_Set_Change_Status        4063 non-null   object
 30  DX_Type_Status              4063 non-null   object
 31  PX_Set_Change_Status        4063 non-null   object
 32  InitialDeterminationStatus  4063 non-null   object
 33  IDSavings                   4063 non-null   float64
 34  AdjustedSavings             4063 non-null   object
 35  ADRG_Desc                   4063 non-null   object
 36  ADRG_wt                     4063 non-null   float64
 37  BDRG_Desc                   4063 non-null   object
 38  BDRG_wt                     4063 non-null   float64
 39  Tag                         4063 non-null   object
dtypes: float64(4), object(36)
memory usage: 1.3+ MB

In [523]:
df_drg_eq_app['DRG_Status'].value_counts()

DRG_Status
No Change    4063
Name: count, dtype: int64

In [102]:
cols = ["DRG_Status","DX_Change_Status",  "DX_Set_Change_Status","DX_Type_Status", "PX_Set_Change_Status"]
df5 = df_drg_eq_app[(df_drg_eq_app[cols] == "No Change").all(axis=1)].copy()
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4056 entries, 3 to 4695
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     4056 non-null   object
 1   Client                      4056 non-null   object
 2   PaymentType                 4056 non-null   object
 3   Group_Type                  4055 non-null   object
 4   Payments                    4056 non-null   float64
 5   Provider_ID                 4056 non-null   object
 6   HospitalName                4056 non-null   object
 7   LOS                         4056 non-null   object
 8   AGE                         4056 non-null   object
 9   LOB                         4056 non-null   object
 10  ADRG                        4056 non-null   object
 11  PRIM_DX                     4056 non-null   object
 12  A_DX_List                   4056 non-null   object
 13  A_DX_List_Clean             4056 non-null   object
 14  A_DX_Type_list              4056 non-null   object
 15  A_PX_List                   4056 non-null   object
 16  A_DX_Set                    4056 non-null   object
 17  A_DX_Type                   4056 non-null   object
 18  B_DRG                       4056 non-null   object
 19  B_PRIMDX                    4056 non-null   object
 20  B_PRIMDX_Clean              4056 non-null   object
 21  B_DX_List                   4056 non-null   object
 22  B_DX_List_Clean             4056 non-null   object
 23  B_DX_Type_list              4056 non-null   object
 24  B_PX_List                   4056 non-null   object
 25  B_DX_Set                    4056 non-null   object
 26  B_DX_Type                   4056 non-null   object
 27  DRG_Status                  4056 non-null   object
 28  DX_Change_Status            4056 non-null   object
 29  DX_Set_Change_Status        4056 non-null   object
 30  DX_Type_Status              4056 non-null   object
 31  PX_Set_Change_Status        4056 non-null   object
 32  InitialDeterminationStatus  4056 non-null   object
 33  IDSavings                   4056 non-null   float64
 34  AdjustedSavings             4056 non-null   object
 35  ADRG_Desc                   4056 non-null   object
 36  ADRG_wt                     4056 non-null   float64
 37  BDRG_Desc                   4056 non-null   object
 38  BDRG_wt                     4056 non-null   float64
 39  Tag                         4056 non-null   object
dtypes: float64(4), object(36)
memory usage: 1.3+ MB

In [103]:
df_hist_sub_hum_ms_drg_postpay_Chg = df5.copy()


df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    #denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

,Provider_ID,total_claims,approved_count,avg_payments,max_payments,min_payments
0,570370242,28,28,8864.280357,15693.75,4264.21
1,000062947C,27,27,10723.038889,20643.27,5984.29
2,000013772J,25,25,11441.221200,46935.83,4905.51
3,000047750D,24,24,11262.640417,45248.67,5231.75
4,386006309A,23,23,11856.519130,30380.87,6921.21
5,000021832C,22,22,12298.726818,36446.32,4145.53
6,581588823D,21,21,17529.434762,39353.54,7000.03
7,362169179M,21,21,8804.253810,21015.78,4235.10
8,000051516G,20,20,9101.268500,16278.08,4348.35
9,000198232,20,20,13891.014500,41884.21,4833.90

In [104]:
df_hist_sub_hum_ms_drg_postpay_Chg = df5.copy()


df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    #denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

  ADRG  total_claims  approved_count  avg_payments  max_payments  min_payments
0  291           543             543   8852.068674      17857.20       3149.40
1  683           392             392   6247.755230      18112.68       3332.18
2  189           281             281   9069.402242      32908.53       5569.06
3  389           188             188   5493.052819       9687.04       2965.14
4  190           173             173   7888.740058      19014.02       4860.02
5  640           133             133   9768.023534      28961.36       4700.26
6  689           103             103   8514.426117      44249.61       2626.27
7  191           102             102   6447.821961      40360.88       3696.72
8  871            95              95  11914.300105      31285.42       3021.47
9  308            94              94   8559.869574      12471.40       3976.19

In [105]:
df_hist_sub_hum_ms_drg_postpay_Chg = df5.copy()


df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    #denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

,ADRG,Provider_ID,total_claims,approved_count,avg_payments,max_payments,min_payments
0,291,362400639A,7,7,9691.605714,10025.76,8867.69
1,291,570370242,7,7,8522.127143,9538.38,5848.62
2,189,000011550G,5,5,9479.270000,10745.00,8567.84
3,291,000021832C,5,5,8172.376000,9012.48,6950.32
4,683,000047750D,5,5,6294.072000,6934.43,5807.22
5,683,000062947C,5,5,6936.514000,8441.74,6012.36
6,291,000061904C,4,4,8114.355000,9542.18,6933.61
7,291,000198190,4,4,8527.495000,8986.87,8204.83
8,291,000098147,4,4,9182.040000,9584.32,8779.76
9,291,720502505G,4,4,7852.642500,8308.28,7504.68

In [106]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_eq_app[df_drg_eq_app['DRG_Status']=='No Change']

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
"""df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG","Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    #denied_avg_payments=("Payments", "mean"),
    #denied_count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG","Provider_ID"], how="left")"""

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

,ADRG,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments
0,291,362400639A,7,7,0,9691.605714,10025.76,8867.69
1,291,570370242,7,7,0,8522.127143,9538.38,5848.62
2,189,000011550G,5,5,0,9479.270000,10745.00,8567.84
3,291,000021832C,5,5,0,8172.376000,9012.48,6950.32
4,683,000047750D,5,5,0,6294.072000,6934.43,5807.22
5,683,000062947C,5,5,0,6936.514000,8441.74,6012.36
6,291,720502505G,4,4,0,7852.642500,8308.28,7504.68
7,291,000011550G,4,4,0,10775.680000,11270.64,9290.80
8,291,000198190,4,4,0,8527.495000,8986.87,8204.83
9,291,000098147,4,4,0,9182.040000,9584.32,8779.76

### Atleast one CHange

In [110]:
cols = ["DRG_Status","DX_Change_Status",  "DX_Set_Change_Status","DX_Type_Status", "PX_Set_Change_Status"]
df6 = df_drg_eq_app[~(df_drg_eq_app[cols] == "No Change").all(axis=1)].copy()
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 684 to 4235
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     7 non-null      object
 1   Client                      7 non-null      object
 2   PaymentType                 7 non-null      object
 3   Group_Type                  7 non-null      object
 4   Payments                    7 non-null      float64
 5   Provider_ID                 7 non-null      object
 6   HospitalName                7 non-null      object
 7   LOS                         7 non-null      object
 8   AGE                         7 non-null      object
 9   LOB                         7 non-null      object
 10  ADRG                        7 non-null      object
 11  PRIM_DX                     7 non-null      object
 12  A_DX_List                   7 non-null      object
 13  A_DX_List_Clean             7 non-null      object
 14  A_DX_Type_list              7 non-null      object
 15  A_PX_List                   7 non-null      object
 16  A_DX_Set                    7 non-null      object
 17  A_DX_Type                   7 non-null      object
 18  B_DRG                       7 non-null      object
 19  B_PRIMDX                    7 non-null      object
 20  B_PRIMDX_Clean              7 non-null      object
 21  B_DX_List                   7 non-null      object
 22  B_DX_List_Clean             7 non-null      object
 23  B_DX_Type_list              7 non-null      object
 24  B_PX_List                   7 non-null      object
 25  B_DX_Set                    7 non-null      object
 26  B_DX_Type                   7 non-null      object
 27  DRG_Status                  7 non-null      object
 28  DX_Change_Status            7 non-null      object
 29  DX_Set_Change_Status        7 non-null      object
 30  DX_Type_Status              7 non-null      object
 31  PX_Set_Change_Status        7 non-null      object
 32  InitialDeterminationStatus  7 non-null      object
 33  IDSavings                   7 non-null      float64
 34  AdjustedSavings             7 non-null      object
 35  ADRG_Desc                   7 non-null      object
 36  ADRG_wt                     7 non-null      float64
 37  BDRG_Desc                   7 non-null      object
 38  BDRG_wt                     7 non-null      float64
 39  Tag                         7 non-null      object
dtypes: float64(4), object(36)
memory usage: 2.2+ KB

In [530]:
df6['ADRG'].value_counts()

ADRG
330    2
638    1
614    1
871    1
291    1
189    1
Name: count, dtype: int64

In [111]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df6.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
"""denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["DRG_Status"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["DRG_Status"], how="left")"""

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied
0,330,2,2,0,17226.525,18180.97,16272.08,0.0
1,189,1,1,0,10545.520,10545.52,10545.52,0.0
2,291,1,1,0,9964.670,9964.67,9964.67,0.0
3,614,1,1,0,16585.250,16585.25,16585.25,0.0
4,638,1,1,0,4805.600,4805.60,4805.60,0.0
5,871,1,1,0,16885.880,16885.88,16885.88,0.0

In [531]:
df6['Provider_ID'].value_counts()

Provider_ID
386006309A    1
000091105A    1
000055086C    1
000062947C    1
161165049     1
460485169A    1
000198549     1
Name: count, dtype: int64

In [173]:
df_drg_eq_den = df_hist_sub_hum_ms_drg_prepay_eq[df_hist_sub_hum_ms_drg_prepay_eq['InitialDeterminationStatus']=='Denied'].copy()
df_drg_eq_den.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 51220 to 51220
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     1 non-null      object
 1   Client                      1 non-null      object
 2   PaymentType                 1 non-null      object
 3   Group_Type                  1 non-null      object
 4   Payments                    1 non-null      float64
 5   Provider_ID                 1 non-null      object
 6   HospitalName                1 non-null      object
 7   LOS                         1 non-null      object
 8   AGE                         1 non-null      object
 9   LOB                         1 non-null      object
 10  ADRG                        1 non-null      object
 11  PRIM_DX                     1 non-null      object
 12  A_DX_List                   1 non-null      object
 13  A_DX_List_Clean             1 non-null      object
 14  A_DX_Type_list              1 non-null      object
 15  A_PX_List                   1 non-null      object
 16  A_DX_Set                    1 non-null      object
 17  A_DX_Type                   1 non-null      object
 18  B_DRG                       1 non-null      object
 19  B_PRIMDX                    1 non-null      object
 20  B_PRIMDX_Clean              1 non-null      object
 21  B_DX_List                   1 non-null      object
 22  B_DX_List_Clean             1 non-null      object
 23  B_DX_Type_list              1 non-null      object
 24  B_PX_List                   1 non-null      object
 25  B_DX_Set                    1 non-null      object
 26  B_DX_Type                   1 non-null      object
 27  DRG_Status                  1 non-null      object
 28  DX_Change_Status            1 non-null      object
 29  DX_Set_Change_Status        1 non-null      object
 30  DX_Type_Status              1 non-null      object
 31  PX_Set_Change_Status        1 non-null      object
 32  InitialDeterminationStatus  1 non-null      object
 33  IDSavings                   1 non-null      float64
 34  AdjustedSavings             1 non-null      object
 35  ADRG_Desc                   1 non-null      object
 36  ADRG_wt                     1 non-null      float64
 37  BDRG_Desc                   1 non-null      object
 38  BDRG_wt                     1 non-null      float64
 39  Tag                         1 non-null      object
dtypes: float64(4), object(36)
memory usage: 328.0+ bytes

In [174]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_eq_den.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","DRG_Status","Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG","DRG_Status","Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG","DRG_Status","Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,DRG_Status,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_saving,denied_total_saving
0,689,No Change,753175630A,1,0,1,9353.15,9353.15,9353.15,100.0,3863.98,3863.98

# B Lower

In [177]:
df_drg_low = df_hist_sub_hum_ms_drg_prepay[df_hist_sub_hum_ms_drg_prepay['Tag']=='B Lower'].copy()
#df_drg_low = df_drg_low[((df_drg_low['ADRG_Desc'].isna()) | (df_drg_low['BDRG_Desc'].isna()))]
#df_drg_low = df_drg_low[((df_drg_low['B_DRG']=='nan')& (~(df_drg_low['ADRG_Desc'].isna()))) ]
df_drg_no = df_drg_low[((df_drg_low['ADRG_Desc'].isna()) | (df_drg_low['BDRG_Desc'].isna()))]
df_drg_no= df_drg_no[~((df_drg_no['B_DRG']=='nan')& (~(df_drg_no['ADRG_Desc'].isna()))) ]
df_all = pd.concat([df_drg_low, df_drg_no], ignore_index=True)

# Convert all list columns to strings for comparison
df_compare = df_all.applymap(lambda x: str(x) if isinstance(x, list) else x)

# Keep only rows that appear once (symmetric difference)
df_unique = df_all[df_compare.duplicated(keep=False) == False].reset_index(drop=True)
df_drg_low = df_unique.copy()
df_drg_low.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648 entries, 0 to 647
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     648 non-null    object
 1   Client                      648 non-null    object
 2   PaymentType                 648 non-null    object
 3   Group_Type                  648 non-null    object
 4   Payments                    648 non-null    float64
 5   Provider_ID                 648 non-null    object
 6   HospitalName                648 non-null    object
 7   LOS                         648 non-null    object
 8   AGE                         648 non-null    object
 9   LOB                         648 non-null    object
 10  ADRG                        648 non-null    object
 11  PRIM_DX                     648 non-null    object
 12  A_DX_List                   648 non-null    object
 13  A_DX_List_Clean             648 non-null    object
 14  A_DX_Type_list              648 non-null    object
 15  A_PX_List                   648 non-null    object
 16  A_DX_Set                    648 non-null    object
 17  A_DX_Type                   648 non-null    object
 18  B_DRG                       648 non-null    object
 19  B_PRIMDX                    483 non-null    object
 20  B_PRIMDX_Clean              648 non-null    object
 21  B_DX_List                   648 non-null    object
 22  B_DX_List_Clean             648 non-null    object
 23  B_DX_Type_list              648 non-null    object
 24  B_PX_List                   648 non-null    object
 25  B_DX_Set                    648 non-null    object
 26  B_DX_Type                   648 non-null    object
 27  DRG_Status                  648 non-null    object
 28  DX_Change_Status            648 non-null    object
 29  DX_Set_Change_Status        648 non-null    object
 30  DX_Type_Status              648 non-null    object
 31  PX_Set_Change_Status        648 non-null    object
 32  InitialDeterminationStatus  648 non-null    object
 33  IDSavings                   648 non-null    float64
 34  AdjustedSavings             648 non-null    object
 35  ADRG_Desc                   648 non-null    object
 36  ADRG_wt                     648 non-null    float64
 37  BDRG_Desc                   632 non-null    object
 38  BDRG_wt                     632 non-null    float64
 39  Tag                         648 non-null    object
dtypes: float64(4), object(36)
memory usage: 202.6+ KB

C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_13888\3036453613.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_compare = df_all.applymap(lambda x: str(x) if isinstance(x, list) else x)

In [178]:
df_drg_low['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Denied      455
Approved    193
Name: count, dtype: int64

In [179]:
df_drg_low['DRG_Status'].value_counts()

DRG_Status
Change 189  191    63
Change 189  190    51
Change 190  191    38
Change 689  690    28
Change 683  641    24
Change 871  193    20
Change 871  689    18
Change 698  699    16
Change 871  194    12
Change 177  178    12
Change 683  690    11
Change 644  641    10
Change 872  690     9
Change 308  309     9
Change 071  690     9
Change 189  192     8
Change 640  641     8
Change 071  683     7
Change 071  641     6
Change 190  192     6
Change 193  194     6
Change 291  308     6
Change 871  nan     6
Change 871  177     5
Change 917  918     5
Change 682  683     4
Change 432  433     4
Change 872  392     4
Change 071  948     4
Change 280  291     4
Change 871  690     4
Change 304  305     4
Change 871  372     3
Change 391  392     3
Change 683  684     3
Change 659  660     3
Change 896  897     3
Change 175  176     3
Change 853  659     3
Change 853  329     3
Change 871  371     3
Change 637  638     3
Change 480  481     3
Change 189  194     3
Change 291  293     3
Change 853  417     2
Change 389  390     2
Change 689  nan     2
Change 199  200     2
Change 853  660     2
Change 643  644     2
Change 871  637     2
Change 808  809     2
Change 291  292     2
Change 273  274     2
Change 163  164     2
Change 870  207     2
Change 862  863     2
Change 417  418     2
Change 853  163     2
Change 286  287     2
Change 871  682     2
Change 683  191     2
Change 871  438     2
Change 871  070     2
Change 280  281     2
Change 871  444     2
Change 862  699     1
Change 078  079     1
Change 698  700     1
Change 441  443     1
Change 853  500     1
Change 872  603     1
Change 872  378     1
Change 313  311     1
Change 535  536     1
Change 189  202     1
Change 291  554     1
Change 571  603     1
Change 871  202     1
Change 193  191     1
Change 871  394     1
Change 388  389     1
Change 070  690     1
Change 871  176     1
Change 281  282     1
Change 281  641     1
Change 190  nan     1
Change 853  nan     1
Change 291  191     1
Change 853  321     1
Change 313  310     1
Change 871  377     1
Change 189  176     1
Change 189  206     1
Change 189  304     1
Change 659  698     1
Change 235  nan     1
Change 280  282     1
Change 189  292     1
Change 082  083     1
Change 432  434     1
Change 071  603     1
Change 477  478     1
Change 175  193     1
Change 835  809     1
Change 178  206     1
Change 871  190     1
Change 841  641     1
Change 235  302     1
Change 871  178     1
Change 038  039     1
Change 673  674     1
Change 091  193     1
Change 281  nan     1
Change 077  304     1
Change 163  165     1
Change 854  418     1
Change 629  617     1
Change 854  580     1
Change 614  615     1
Change 071  563     1
Change 291  190     1
Change 871  602     1
Change 871  195     1
Change 682  684     1
Change 177  190     1
Change 180  181     1
Change 872  641     1
Change 854  660     1
Change 871  392     1
Change 871  725     1
Change 091  641     1
Change 872  694     1
Change 871  641     1
Change 436  948     1
Change 377  811     1
Change 856  857     1
Change 872  202     1
Change 393  189     1
Change 871  698     1
Change 683  312     1
Change 871  291     1
Change 432  640     1
Change 193  195     1
Change 313  nan     1
Change 189  543     1
Change 853  673     1
Change 308  310     1
Change 683  554     1
Change 870  689     1
Change 235  236     1
Change 871  280     1
Change 871  189     1
Change 689  683     1
Change 071  880     1
Change 870  637     1
Change 919  920     1
Change 840  842     1
Change 551  552     1
Change 177  193     1
Change 291  204     1
Change 683  392     1
Change 683  558     1
Change 330  331     1
Change 023  024     1
Change 674  291     1
Change 853  356     1
Change 031  032     1
Change 291  304     1
Change 026  027     1
Change 100  101     1
Change 846  847     1
Change 689  092     1
Change 189  309     1
Change 071  068     1
Change 091  602     1
Change 602  603     1
Change 177  179     1
Change 177  nan     1
Change 682  071     1
Change 091  291     1
Change 071  694     1
Change 189  203     1
Change 085  086     1
Change 088  089     1
Change 871  186     1
Change 189  nan     1
Change 871  872     1
Change 862  920     1
Change 180  182     1
Change 071  305     1
Change 080  081     1
Change 871  179     1
Change 291  309     1
Change 175  292     1
Change 871  391     1
Change 485  486     1
Change 190  178     1
Change 438  439     1
Change 291  603     1
Change 260  261     1
Change 175  149     1
Change 309  310     1
Change 698  187     1
Change 809  810     1
Change 189  315     1
Change 436  300     1
Change 064  nan     1
Change 854  988     1
Change 628  252     1
Name: count, dtype: int64

In [182]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_saving,denied_total_saving
0,189,135,45,90,9189.492519,26793.41,5542.56,66.67,2114.067889,190266.11
1,871,100,35,65,12495.492700,25962.96,3357.21,65.00,4820.524923,313334.12
2,190,46,11,35,7507.238696,9851.15,4979.44,76.09,1931.196286,67591.87
3,683,44,5,39,6295.170909,8980.48,2979.84,88.64,718.771282,28032.08
4,071,32,7,25,7119.943750,10541.86,4901.03,78.12,1466.814800,36670.37
5,689,32,11,21,7670.950000,9917.75,3405.48,65.62,2365.864286,49683.15
6,698,18,5,13,10914.297778,16765.86,4826.43,72.22,4426.645385,57546.39
7,872,18,0,18,7358.735556,9646.31,5180.43,100.00,1475.823889,26564.83
8,291,18,3,15,8529.158889,11726.15,6276.71,83.33,1840.538667,27608.08
9,853,17,8,9,33344.956471,48956.85,11712.37,52.94,10429.061111,93861.55
10,177,16,4,12,11206.258750,14373.54,8161.72,75.00,4303.850000,51646.20
11,644,10,9,1,7268.982000,8866.61,5132.52,10.00,1738.580000,1738.58
12,308,10,4,6,8612.274000,12172.57,6697.95,60.00,3739.063333,22434.38
13,640,8,1,7,8006.066250,9491.45,4857.47,87.50,3234.210000,22639.47
14,193,8,1,7,9209.446250,11144.09,7674.04,87.50,3728.900000,26102.30
15,280,7,2,5,11224.961429,12064.41,8441.55,71.43,4259.564000,21297.82
16,432,6,4,2,13843.105000,20913.90,9602.94,33.33,6926.300000,13852.60
17,682,6,2,4,9701.373333,10985.86,8559.46,66.67,4058.280000,16233.12
18,175,6,0,6,9634.703333,14364.30,7030.22,100.00,3193.736667,19162.42
19,917,5,1,4,11618.632000,14957.00,10078.53,80.00,4966.170000,19864.68

In [550]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["DRG_Status"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["DRG_Status"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["DRG_Status"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_total_saving"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,DRG_Status,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_saving,denied_total_saving
0,Change 189 191,63,21,42,9224.780476,26793.41,5557.58,66.67,2667.121667,112019.11
1,Change 871 194,12,1,11,12080.285833,14735.09,6873.64,91.67,6738.423636,74122.66
2,Change 871 193,20,5,15,12268.013500,18591.22,3357.21,75.00,4046.290000,60694.35
3,Change 871 689,18,8,10,13764.627222,18363.50,6861.35,55.56,5505.289000,55052.89
4,Change 190 191,38,9,29,7654.091579,9851.15,4979.44,76.32,1830.399655,53081.59
5,Change 689 690,28,8,20,7723.423571,9917.75,3405.48,71.43,2445.186000,48903.72
6,Change 177 178,12,1,11,11226.452500,14373.54,8161.72,91.67,4365.046364,48015.51
7,Change 698 699,16,5,11,10823.846875,16765.86,4826.43,68.75,4168.786364,45856.65
8,Change 870 637,1,0,1,46649.660000,46649.66,46649.66,100.00,36883.840000,36883.84
9,Change 235 302,1,0,1,41383.280000,41383.28,41383.28,100.00,33201.850000,33201.85
10,Change 853 659,3,1,2,25690.476667,39267.95,11712.37,66.67,15793.175000,31586.35
11,Change 870 689,1,0,1,37912.070000,37912.07,37912.07,100.00,31534.080000,31534.08
12,Change 189 190,51,17,34,8774.951961,11425.37,5542.56,66.67,796.624412,27085.23
13,Change 189 192,8,3,5,10571.747500,12631.12,8294.91,62.50,5144.154000,25720.77
14,Change 640 641,8,1,7,8006.066250,9491.45,4857.47,87.50,3234.210000,22639.47
15,Change 917 918,5,1,4,11618.632000,14957.00,10078.53,80.00,4966.170000,19864.68
16,Change 871 372,3,0,3,13109.460000,14861.38,11852.92,100.00,6232.353333,18697.06
17,Change 853 417,2,1,1,33969.165000,34747.44,33190.89,50.00,18236.270000,18236.27
18,Change 163 165,1,0,1,30046.130000,30046.13,30046.13,100.00,17895.220000,17895.22
19,Change 683 641,24,2,22,6708.662917,8732.01,4540.89,91.67,809.134091,17800.95

In [551]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_saving,denied_total_saving
0,610445850,11,4,7,13435.425455,33190.89,7094.56,63.64,3638.722857,25471.06
1,550526150,8,0,8,8022.795000,13337.54,5811.12,100.00,1931.281250,15450.25
2,000021832C,7,2,5,13430.261429,30597.10,7026.19,71.43,4253.418000,21267.09
3,560928089,6,1,5,10461.315000,12382.02,8480.10,83.33,3470.666000,17353.33
4,000191728,5,2,3,8970.586000,10182.08,7574.19,60.00,634.776667,1904.33
5,001825011C,5,2,3,16294.762000,42031.33,7709.08,60.00,1743.630000,5230.89
6,000062947C,5,2,3,11277.734000,18363.50,8418.45,60.00,2733.003333,8199.01
7,581588823D,5,1,4,11346.342000,15440.25,7578.21,80.00,4558.077500,18232.31
8,346004382M,4,0,4,9030.935000,12207.84,5557.58,100.00,2652.710000,10610.84
9,000097871D,4,1,3,9251.760000,11356.85,8382.53,75.00,3187.063333,9561.19
10,362169179M,4,2,2,8830.250000,15262.71,4864.19,50.00,792.825000,1585.65
11,386006309A,4,1,3,10011.232500,11409.30,8449.63,75.00,3239.566667,9718.70
12,382027689A,4,0,4,10463.335000,15018.75,7769.37,100.00,2953.302500,11813.21
13,451834769,4,0,4,6809.737500,10195.39,3850.05,100.00,2601.740000,10406.96
14,000013417G,4,1,3,10632.632500,13730.55,6919.16,75.00,3184.936667,9554.81
15,726014895Z,4,2,2,5517.845000,6111.35,3913.89,50.00,472.500000,945.00
16,000059420E,4,0,4,13700.490000,19891.02,10014.01,100.00,5728.580000,22914.32
17,000059435D,4,2,2,10023.742500,12095.22,7664.33,50.00,4540.275000,9080.55
18,000060303P,4,1,3,10878.890000,14285.79,9458.62,75.00,4429.010000,13287.03
19,000066011C,3,1,2,9337.696667,12677.20,7062.83,66.67,2573.285000,5146.57

In [115]:
df_drg_low['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Denied      455
Approved    193
Name: count, dtype: int64

In [183]:
df_drg_low_app = df_drg_low[df_drg_low['InitialDeterminationStatus']=='Approved'].copy()
df_drg_low_app.info()

<class 'pandas.core.frame.DataFrame'>
Index: 193 entries, 5 to 647
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     193 non-null    object
 1   Client                      193 non-null    object
 2   PaymentType                 193 non-null    object
 3   Group_Type                  193 non-null    object
 4   Payments                    193 non-null    float64
 5   Provider_ID                 193 non-null    object
 6   HospitalName                193 non-null    object
 7   LOS                         193 non-null    object
 8   AGE                         193 non-null    object
 9   LOB                         193 non-null    object
 10  ADRG                        193 non-null    object
 11  PRIM_DX                     193 non-null    object
 12  A_DX_List                   193 non-null    object
 13  A_DX_List_Clean             193 non-null    object
 14  A_DX_Type_list              193 non-null    object
 15  A_PX_List                   193 non-null    object
 16  A_DX_Set                    193 non-null    object
 17  A_DX_Type                   193 non-null    object
 18  B_DRG                       193 non-null    object
 19  B_PRIMDX                    28 non-null     object
 20  B_PRIMDX_Clean              193 non-null    object
 21  B_DX_List                   193 non-null    object
 22  B_DX_List_Clean             193 non-null    object
 23  B_DX_Type_list              193 non-null    object
 24  B_PX_List                   193 non-null    object
 25  B_DX_Set                    193 non-null    object
 26  B_DX_Type                   193 non-null    object
 27  DRG_Status                  193 non-null    object
 28  DX_Change_Status            193 non-null    object
 29  DX_Set_Change_Status        193 non-null    object
 30  DX_Type_Status              193 non-null    object
 31  PX_Set_Change_Status        193 non-null    object
 32  InitialDeterminationStatus  193 non-null    object
 33  IDSavings                   193 non-null    float64
 34  AdjustedSavings             193 non-null    object
 35  ADRG_Desc                   193 non-null    object
 36  ADRG_wt                     193 non-null    float64
 37  BDRG_Desc                   177 non-null    object
 38  BDRG_wt                     177 non-null    float64
 39  Tag                         193 non-null    object
dtypes: float64(4), object(36)
memory usage: 61.8+ KB

In [114]:
df_drg_low_app[df_drg_low_app['DRG_Status']=='No Change'].value_counts()

Series([], Name: count, dtype: int64)

In [539]:
df_drg_low_app['DRG_Status'].value_counts().head(10)

DRG_Status
Change 189  191    21
Change 189  190    17
Change 644  641     9
Change 190  191     9
Change 689  690     8
Change 871  689     8
Change 871  193     5
Change 698  699     5
Change 308  309     4
Change 683  690     3
Name: count, dtype: int64

In [540]:
df_drg_low_app['ADRG'].value_counts().head()

ADRG
189    44
871    29
190    10
644     9
689     9
Name: count, dtype: int64

In [184]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_app.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_saving,denied_total_saving
0,610445850,5,5,0,15494.136000,33190.89,8104.88,0.0,NaN,NaN
1,000069023E,3,3,0,11336.270000,17791.35,7138.42,0.0,NaN,NaN
2,237133975U,3,3,0,10327.313333,16689.20,6829.17,0.0,NaN,NaN
3,231512747A,3,3,0,17333.126667,32665.98,7810.04,0.0,NaN,NaN
4,000059435D,2,2,0,8050.265000,8436.20,7664.33,0.0,NaN,NaN
5,000016400C,2,2,0,22232.930000,34560.88,9904.98,0.0,NaN,NaN
6,000028258F,2,2,0,12109.710000,13558.49,10660.93,0.0,NaN,NaN
7,000021832C,2,2,0,8454.515000,9882.84,7026.19,0.0,NaN,NaN
8,000061988C,2,2,0,8531.850000,9256.98,7806.72,0.0,NaN,NaN
9,000304094,2,2,0,10075.330000,10268.98,9881.68,0.0,NaN,NaN
10,001825011C,2,2,0,27886.905000,42031.33,13742.48,0.0,NaN,NaN
11,440577118,2,2,0,9420.705000,9985.56,8855.85,0.0,NaN,NaN
12,000090298A,2,2,0,7982.895000,8294.91,7670.88,0.0,NaN,NaN
13,000062947C,2,2,0,13811.300000,18363.50,9259.10,0.0,NaN,NaN
14,000058002,2,2,0,19198.625000,31778.42,6618.83,0.0,NaN,NaN
15,000063219B,2,2,0,8564.325000,10274.96,6853.69,0.0,NaN,NaN
16,362169179M,2,2,0,10063.450000,15262.71,4864.19,0.0,NaN,NaN
17,453576100,2,2,0,6034.545000,6651.11,5417.98,0.0,NaN,NaN
18,581519911,2,2,0,6425.720000,8286.77,4564.67,0.0,NaN,NaN
19,621771866G,2,2,0,7781.845000,9511.69,6052.00,0.0,NaN,NaN

In [185]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_app.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_saving,denied_total_saving
0,189,45,45,0,9446.196222,26793.41,6104.62,0.0,NaN,NaN
1,871,35,35,0,12460.497143,18363.50,5926.71,0.0,NaN,NaN
2,689,11,11,0,7319.270909,9879.18,3405.48,0.0,NaN,NaN
3,190,11,11,0,7312.389091,8375.62,4979.44,0.0,NaN,NaN
4,644,9,9,0,7284.472222,8866.61,5132.52,0.0,NaN,NaN
5,853,8,8,0,33472.436250,48956.85,11712.37,0.0,NaN,NaN
6,071,7,7,0,7455.265714,8691.92,6052.00,0.0,NaN,NaN
7,698,5,5,0,11286.188000,16765.86,7026.19,0.0,NaN,NaN
8,683,5,5,0,7173.424000,8980.48,6221.11,0.0,NaN,NaN
9,308,4,4,0,7914.490000,9259.10,6760.28,0.0,NaN,NaN
10,432,4,4,0,13135.447500,14285.79,12385.65,0.0,NaN,NaN
11,177,4,4,0,10718.045000,12009.58,10182.08,0.0,NaN,NaN
12,291,3,3,0,9100.726667,9882.84,8426.64,0.0,NaN,NaN
13,281,2,2,0,7298.510000,8303.17,6293.85,0.0,NaN,NaN
14,682,2,2,0,10433.770000,10985.86,9881.68,0.0,NaN,NaN
15,808,2,2,0,14772.215000,15813.88,13730.55,0.0,NaN,NaN
16,304,2,2,0,12558.250000,18799.96,6316.54,0.0,NaN,NaN
17,417,2,2,0,17331.130000,17791.35,16870.91,0.0,NaN,NaN
18,391,2,2,0,9031.925000,10600.28,7463.57,0.0,NaN,NaN
19,280,2,2,0,11193.890000,11874.82,10512.96,0.0,NaN,NaN

In [186]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_app.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG","Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG","Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_saving,denied_total_saving
0,189,000090298A,2,2,0,7982.895,8294.91,7670.88,0.0,NaN,NaN
1,023,000016400C,1,1,0,34560.880,34560.88,34560.88,0.0,NaN,NaN
2,064,582504530,1,1,0,11107.740,11107.74,11107.74,0.0,NaN,NaN
3,038,001825011C,1,1,0,13742.480,13742.48,13742.48,0.0,NaN,NaN
4,071,000059435D,1,1,0,7664.330,7664.33,7664.33,0.0,NaN,NaN
5,071,000069023E,1,1,0,7138.420,7138.42,7138.42,0.0,NaN,NaN
6,071,000241678H,1,1,0,8691.920,8691.92,8691.92,0.0,NaN,NaN
7,071,000047750D,1,1,0,6984.530,6984.53,6984.53,0.0,NaN,NaN
8,071,750827446,1,1,0,7275.590,7275.59,7275.59,0.0,NaN,NaN
9,071,756001743S,1,1,0,8380.070,8380.07,8380.07,0.0,NaN,NaN
10,078,000064707D,1,1,0,5898.470,5898.47,5898.47,0.0,NaN,NaN
11,082,237133975U,1,1,0,16689.200,16689.20,16689.20,0.0,NaN,NaN
12,088,230596940N,1,1,0,8085.970,8085.97,8085.97,0.0,NaN,NaN
13,091,000028258F,1,1,0,13558.490,13558.49,13558.49,0.0,NaN,NaN
14,163,853777599B,1,1,0,39466.810,39466.81,39466.81,0.0,NaN,NaN
15,071,621771866G,1,1,0,6052.000,6052.00,6052.00,0.0,NaN,NaN
16,177,000304094,1,1,0,10268.980,10268.98,10268.98,0.0,NaN,NaN
17,177,204278130,1,1,0,10411.540,10411.54,10411.54,0.0,NaN,NaN
18,177,590878982I,1,1,0,12009.580,12009.58,12009.58,0.0,NaN,NaN
19,178,726014895Z,1,1,0,5941.520,5941.52,5941.52,0.0,NaN,NaN

In [187]:
df_drg_low_den = df_drg_low[df_drg_low['InitialDeterminationStatus']=='Denied'].copy()
df_drg_low_den.info()

<class 'pandas.core.frame.DataFrame'>
Index: 455 entries, 0 to 646
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     455 non-null    object
 1   Client                      455 non-null    object
 2   PaymentType                 455 non-null    object
 3   Group_Type                  455 non-null    object
 4   Payments                    455 non-null    float64
 5   Provider_ID                 455 non-null    object
 6   HospitalName                455 non-null    object
 7   LOS                         455 non-null    object
 8   AGE                         455 non-null    object
 9   LOB                         455 non-null    object
 10  ADRG                        455 non-null    object
 11  PRIM_DX                     455 non-null    object
 12  A_DX_List                   455 non-null    object
 13  A_DX_List_Clean             455 non-null    object
 14  A_DX_Type_list              455 non-null    object
 15  A_PX_List                   455 non-null    object
 16  A_DX_Set                    455 non-null    object
 17  A_DX_Type                   455 non-null    object
 18  B_DRG                       455 non-null    object
 19  B_PRIMDX                    455 non-null    object
 20  B_PRIMDX_Clean              455 non-null    object
 21  B_DX_List                   455 non-null    object
 22  B_DX_List_Clean             455 non-null    object
 23  B_DX_Type_list              455 non-null    object
 24  B_PX_List                   455 non-null    object
 25  B_DX_Set                    455 non-null    object
 26  B_DX_Type                   455 non-null    object
 27  DRG_Status                  455 non-null    object
 28  DX_Change_Status            455 non-null    object
 29  DX_Set_Change_Status        455 non-null    object
 30  DX_Type_Status              455 non-null    object
 31  PX_Set_Change_Status        455 non-null    object
 32  InitialDeterminationStatus  455 non-null    object
 33  IDSavings                   455 non-null    float64
 34  AdjustedSavings             455 non-null    object
 35  ADRG_Desc                   455 non-null    object
 36  ADRG_wt                     455 non-null    float64
 37  BDRG_Desc                   455 non-null    object
 38  BDRG_wt                     455 non-null    float64
 39  Tag                         455 non-null    object
dtypes: float64(4), object(36)
memory usage: 145.7+ KB

In [543]:
df_drg_low_den[df_drg_low_den['DRG_Status']=='No Change'].value_counts()

Series([], Name: count, dtype: int64)

In [544]:
df_drg_low_den['DRG_Status'].value_counts().head(10)

DRG_Status
Change 189  191    42
Change 189  190    34
Change 190  191    29
Change 683  641    22
Change 689  690    20
Change 871  193    15
Change 871  194    11
Change 698  699    11
Change 177  178    11
Change 871  689    10
Name: count, dtype: int64

In [545]:
df_drg_low_den['ADRG'].value_counts().head()

ADRG
189    90
871    65
683    39
190    35
071    25
Name: count, dtype: int64

In [546]:
df_drg_low_den['Provider_ID'].value_counts().head()

Provider_ID
550526150     8
610445850     7
560928089     5
000021832C    5
581588823D    4
Name: count, dtype: int64

In [189]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_den.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_saving,denied_total_saving
0,550526150,8,0,8,8022.795000,13337.54,5811.12,100.0,1931.281250,15450.25
1,610445850,7,0,7,11257.887143,13600.55,7094.56,100.0,3638.722857,25471.06
2,560928089,5,0,5,10300.828000,12382.02,8480.10,100.0,3470.666000,17353.33
3,000021832C,5,0,5,15420.560000,30597.10,7975.85,100.0,4253.418000,21267.09
4,451834769,4,0,4,6809.737500,10195.39,3850.05,100.0,2601.740000,10406.96
5,000059420E,4,0,4,13700.490000,19891.02,10014.01,100.0,5728.580000,22914.32
6,382027689A,4,0,4,10463.335000,15018.75,7769.37,100.0,2953.302500,11813.21
7,581588823D,4,0,4,11921.805000,15440.25,7578.21,100.0,4558.077500,18232.31
8,346004382M,4,0,4,9030.935000,12207.84,5557.58,100.0,2652.710000,10610.84
9,621772321,3,0,3,7436.663333,8732.23,6336.53,100.0,1918.300000,5754.90
10,750974351A,3,0,3,5398.813333,7674.04,2979.84,100.0,1375.630000,4126.89
11,640881013,3,0,3,10877.703333,11734.91,10071.86,100.0,4887.826667,14663.48
12,386006309A,3,0,3,9545.210000,10093.00,8449.63,100.0,3239.566667,9718.70
13,470376552,3,0,3,11648.586667,21215.25,5997.68,100.0,2647.913333,7943.74
14,540519577,3,0,3,9759.056667,11852.92,8173.96,100.0,3329.726667,9989.18
15,582149128A,3,0,3,8965.483333,10560.40,7730.74,100.0,1746.150000,5238.45
16,001825011C,3,0,3,8566.666667,10071.79,7709.08,100.0,1743.630000,5230.89
17,001824629D,3,0,3,8264.980000,9084.72,6969.95,100.0,2718.616667,8155.85
18,000060303P,3,0,3,9743.256667,10312.53,9458.62,100.0,4429.010000,13287.03
19,362400639A,3,0,3,9238.370000,11799.91,6939.15,100.0,1267.393333,3802.18

In [191]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_den.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_saving,denied_total_saving
0,189,90,0,90,9061.140667,24533.42,5542.56,100.0,2114.067889,190266.11
1,871,65,0,65,12514.336462,25962.96,3357.21,100.0,4820.524923,313334.12
2,683,39,0,39,6182.574359,8732.01,2979.84,100.0,718.771282,28032.08
3,190,35,0,35,7568.477143,9851.15,5522.91,100.0,1931.196286,67591.87
4,071,25,0,25,7026.053600,10541.86,4901.03,100.0,1466.814800,36670.37
5,689,21,0,21,7855.162857,9917.75,5546.15,100.0,2365.864286,49683.15
6,872,18,0,18,7358.735556,9646.31,5180.43,100.0,1475.823889,26564.83
7,291,15,0,15,8414.845333,11726.15,6276.71,100.0,1840.538667,27608.08
8,698,13,0,13,10771.263077,14187.88,4826.43,100.0,4426.645385,57546.39
9,177,12,0,12,11368.996667,14373.54,8161.72,100.0,4303.850000,51646.20
10,853,9,0,9,33231.641111,39267.95,24436.64,100.0,10429.061111,93861.55
11,640,7,0,7,7857.720000,9491.45,4857.47,100.0,3234.210000,22639.47
12,193,7,0,7,9327.577143,11144.09,7674.04,100.0,3728.900000,26102.30
13,308,6,0,6,9077.463333,12172.57,6697.95,100.0,3739.063333,22434.38
14,175,6,0,6,9634.703333,14364.30,7030.22,100.0,3193.736667,19162.42
15,280,5,0,5,11237.390000,12064.41,8441.55,100.0,4259.564000,21297.82
16,682,4,0,4,9335.175000,10312.53,8559.46,100.0,4058.280000,16233.12
17,854,4,0,4,13207.300000,14353.95,12294.92,100.0,2575.477500,10301.91
18,917,4,0,4,10784.040000,12165.98,10078.53,100.0,4966.170000,19864.68
19,862,4,0,4,12358.685000,15440.25,10553.52,100.0,5575.645000,22302.58

In [193]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_den.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG","Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG","Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_saving,denied_total_saving
0,871,610445850,4,0,4,12614.915000,13600.55,11256.39,100.0,3952.442500,15809.77
1,189,550526150,3,0,3,7760.866667,8890.64,7028.64,100.0,1270.193333,3810.58
2,190,621772321,2,0,2,7534.380000,8732.23,6336.53,100.0,1770.550000,3541.10
3,189,582149128A,2,0,2,9582.855000,10560.40,8605.31,100.0,1803.580000,3607.16
4,177,560928089,2,0,2,11091.850000,12382.02,9801.68,100.0,4284.410000,8568.82
5,189,382027689A,2,0,2,7910.345000,8051.32,7769.37,100.0,2418.360000,4836.72
6,193,000060303P,2,0,2,9458.620000,9458.62,9458.62,100.0,3572.550000,7145.10
7,177,752890358B,2,0,2,12935.645000,13288.45,12582.84,100.0,4996.620000,9993.24
8,872,000065362R,2,0,2,5846.830000,6513.23,5180.43,100.0,949.955000,1899.91
9,189,000061848D,2,0,2,11297.640000,12003.24,10592.04,100.0,2113.615000,4227.23
10,189,000062161A,2,0,2,7983.295000,7994.75,7971.84,100.0,738.070000,1476.14
11,189,000062947C,2,0,2,10173.810000,10853.44,9494.18,100.0,3110.355000,6220.71
12,189,346004382M,2,0,2,6628.230000,7698.88,5557.58,100.0,1205.425000,2410.85
13,189,474000401,2,0,2,9419.750000,10044.50,8795.00,100.0,1941.965000,3883.93
14,189,000072434C,2,0,2,7398.925000,8388.73,6409.12,100.0,2262.015000,4524.03
15,189,386006309A,2,0,2,10093.000000,10093.00,10093.00,100.0,4438.425000,8876.85
16,189,205497506,2,0,2,9565.020000,9979.07,9150.97,100.0,1948.420000,3896.84
17,689,001824629D,2,0,2,8027.335000,9084.72,6969.95,100.0,2480.805000,4961.61
18,871,000047750D,2,0,2,9150.555000,11427.47,6873.64,100.0,5377.030000,10754.06
19,871,000059435D,2,0,2,11997.220000,12095.22,11899.22,100.0,4540.275000,9080.55

In [194]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_den.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","DRG_Status"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG","DRG_Status"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG","DRG_Status"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,DRG_Status,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_saving,denied_total_saving
0,189,Change 189 191,42,0,42,8971.934286,19849.49,5557.58,100.0,2667.121667,112019.11
1,189,Change 189 190,34,0,34,8583.233529,11425.37,5542.56,100.0,796.624412,27085.23
2,190,Change 190 191,29,0,29,7796.173793,9851.15,6058.95,100.0,1830.399655,53081.59
3,683,Change 683 641,22,0,22,6690.599091,8732.01,4540.89,100.0,809.134091,17800.95
4,689,Change 689 690,20,0,20,7839.242500,9917.75,5546.15,100.0,2445.186000,48903.72
5,871,Change 871 193,15,0,15,12339.500000,18591.22,3357.21,100.0,4046.290000,60694.35
6,871,Change 871 194,11,0,11,11948.379091,14735.09,6873.64,100.0,6738.423636,74122.66
7,698,Change 698 699,11,0,11,10613.691818,14187.88,4826.43,100.0,4168.786364,45856.65
8,177,Change 177 178,11,0,11,11321.395455,14373.54,8161.72,100.0,4365.046364,48015.51
9,871,Change 871 689,10,0,10,13643.900000,18196.24,7698.08,100.0,5505.289000,55052.89
10,872,Change 872 690,9,0,9,7821.547778,9646.31,5269.74,100.0,1721.752222,15495.77
11,683,Change 683 690,8,0,8,5364.247500,6701.03,3913.89,100.0,506.591250,4052.73
12,640,Change 640 641,7,0,7,7857.720000,9491.45,4857.47,100.0,3234.210000,22639.47
13,071,Change 071 683,6,0,6,7981.063333,10541.86,6360.84,100.0,1249.525000,7497.15
14,071,Change 071 690,6,0,6,6928.228333,7730.74,6373.42,100.0,1616.671667,9700.03
15,071,Change 071 641,6,0,6,6546.403333,7990.78,5768.10,100.0,1692.660000,10155.96
16,291,Change 291 308,6,0,6,8532.971667,9006.08,7712.74,100.0,627.716667,3766.30
17,193,Change 193 194,5,0,5,9294.982000,10691.51,7910.09,100.0,3510.746000,17553.73
18,189,Change 189 192,5,0,5,10770.652000,11587.03,10093.00,100.0,5144.154000,25720.77
19,308,Change 308 309,5,0,5,9090.800000,12172.57,6697.95,100.0,3520.864000,17604.32

# Post

In [143]:
df_hist_sub_hum_ms_drg_postpay = merged2[merged2['PaymentType']=='postpay']
df_hist_sub_hum_ms_drg_postpay.shape

(59351, 40)

In [144]:
df_hist_sub_hum_ms_drg_postpay['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Approved    51865
Denied       7486
Name: count, dtype: int64

In [145]:
df_hist_sub_hum_ms_drg_postpay['Provider_ID'].value_counts()

Provider_ID
000059420E         527
000021832C         376
000047750D         359
853777599B         340
381360584          340
000066600C         297
000292901A         292
582149128A         291
566017737F         284
000198540A         283
000094793A         283
560928089          280
593458145N         273
581123037T         266
000090250B         264
311340739D         257
000190356A         233
000191728          230
382589966B         229
000061694I         221
000198194          221
581694098C         220
000206631          220
000198695          220
001824627A         216
541848065          209
510103684A         208
000061983          208
730657693          208
570370242          202
580566200          195
630845288C         187
000045770H         186
000198232          183
590624449U         178
582296052          177
730700090          177
823878395A         175
000198448          174
000098152D         171
850327237D         170
000060510C         169
000076116A         167
000198266          164
550357050E         157
620479367C         156
363488183          155
000022524F         155
582144788E         153
000104720F         149
843178470          147
000081209B         146
000211362D         146
611293786L         145
560585243          145
581790149          142
000059474B         142
000088298C         141
475259919          138
730579286          137
000028386L         136
231352204G         133
262037695B         132
000191727          132
592447554M         131
581973570          129
720535375A         127
810232122B         127
000066011C         126
000066986A         125
621757920          125
000055091C         124
752922687D         123
580568702A         123
845074208B         120
232825878          120
000066684D         120
386006309A         118
582190713N         118
741180155W         118
237133975U         118
000095367A         117
916068143B         117
720502505G         116
000098147          116
000060303P         115
000071646D         115
571098556A         114
000062322B         113
752302928          113
000060298B         112
610654587          112
141338413          112
880455713B         111
271408630          111
581911751R         109
231365353          108
916001537D         108
710664687P         108
381362830          108
752559845H         108
000098152          107
590791028J         106
453576100          106
591917016D         105
000070893B         104
860982071          104
352263845          104
000198532          103
351720796A         102
000191760          102
000198601          102
000059435D         101
000069023E         101
570828733          101
474196634          101
640362400          100
352547114          100
314379519D          99
736048282           98
581954432D          98
621762420           97
000060303R          97
000072461C          97
911858433           96
362400639A          96
000016400C          96
580593388J          96
311439334           96
751584559A          95
840425720           94
550357057           94
421418847           94
592616017M          94
000055129O          93
586004467           92
800818718           92
953561198L          92
566017737A          91
000198451           91
000062947F          90
000258619B          90
000087127A          89
000092379C          89
910564491           89
263162145B          88
550261260U          88
580566121H          87
251854772           87
250965480U          87
232791808           86
000198600           85
560547479           85
000083913A          85
810232124           85
000028386B          84
000198250           84
000096802C          84
203500835           84
262037695D          83
381976271           83
000191764           83
141338307           82
000028258F          82
810864789           81
621281627K          81
843178470A          81
464317222           81
000022524Q          81
000206705D          80
581954432F          80
346004382M          80
596014973C          79
000058002           78
362170840           78
660589727           78
591223933H          78
452743520           78
910565889           78
640881013           78
000090298A          77
350868132           77
843050337           76
240862246           76
340753531A          76
810231793           76
000082766A          76
351129669J          75
582095884           75
882288563           74
825426152A          74
150532221           74
720408982           73
362169179M          73
000063260B          73
610444707E          72
381426919           72
610445850           72
590675143M          72
631102774           72
900799724           72
480543789           72
002008874A          71
161469571           71
210634462           71
596014973X          71
237293874           71
000087165H          71
205220956           70
910565546           70
710294390L          70
650844880           70
000217615A          69
741303720           69
000062947C          68
000061380H          68
350877574           68
000012846M          68
000059469A          68
824372339B          67
581725656           67
621114867N          66
710236917           66
931394239           66
630784458           66
000067133E          66
133957095B          66
811507712           66
000021585R          66
741161938C          65
510064318C          65
000097786A          65
000198467           65
610444707B          65
621772321           65
453072990           65
582296052C          65
000050461E          64
000093180A          64
340967014           64
621812558           64
160743905           63
822034009A          63
382377821           63
580607088           63
362414944           62
272844632           62
000075702A          62
000278490           62
571067254           62
000096235A          62
371756496           62
001825011C          61
000065823H          61
000045770           61
272844942           61
680673354           61
000198199           60
430653493           60
331073948D          60
000067192C          60
000241678E          59
000210764           59
621754940P          59
260479484B          59
262037695           59
886000436           59
720408970           59
000006263F          58
232238976C          58
000261839           58
910844563           58
000062566B          58
000198543           58
000063260F          58
621373691K          57
640889822           57
000098316A          57
000098320B          57
751047527           56
000066544K          56
010238522K          56
043730045           56
000089188K          56
752770738           56
000087797A          56
580566213           55
362170866H          55
000085800F          55
862724926A          55
710561765           55
000092702H          55
000206695           55
000094383A          55
264178850           55
371119538N          55
161533232           55
822132538           54
000088827C          54
446005747L          54
204193243C          54
000098152B          54
731500629T          54
000323218C          54
752932824C          53
000241626           53
311439334H          53
000060554D          53
250965387           53
000285184G          52
000061988C          52
000060554A          52
000209350           52
362513909U          52
000236496D          52
800764192           51
000061962B          51
000098350B          51
000055043L          51
000061753E          51
752804737B          51
204278130           50
620475842B          50
626000101W          50
382146751           50
000055091           50
455055149A          50
000198603           50
911267921           49
710329353           49
000061043C          49
000198226           49
460224743           49
560552787           49
000088097B          49
000100629           49
660938154           49
232973511E          49
000045813           48
043633263           48
111839362D          48
001824976I          48
910564987           48
752932830E          48
010211501           47
474775351           47
204993360           47
590624371F          47
752586857P          47
000062160B          47
001824976A          47
000083895           47
382689033           47
208473972G          47
582322328           47
746000756           47
410729979           47
420680448           47
050539357           46
000050270E          46
570314381           46
271368727           46
560789196           46
272451336A          46
472361878           46
751008430L          46
010211494           46
580566223V          45
231396794           45
464719451           45
630891904C          45
000014197W          45
842046902           45
822567308A          45
000192617A          45
141996067           44
742870118A          44
135596796C          44
680045270Y          44
465143606           44
841179794           44
593322533O          44
884128022A          44
750827446           44
651191369           43
300754305           43
646001540A          43
270712680           43
560510824           43
811112022           43
522438452           43
000195980A          43
420680452           43
830343789           43
000097871D          43
000088450B          43
741698143           43
222594672           43
000241678G          42
000060621B          42
582179986           42
000077830C          42
351361243A          42
000069023F          42
240795463           42
831651180A          42
560530233C          41
000055262E          41
581425000W          41
000082841A          41
000209329           41
823934511           41
000059478E          41
000089645B          41
851538878           41
522379881           41
474000401           41
582026750           41
000029874C          40
631058174           40
000275993C          40
272844767           40
000198227           40
874714839           40
752922710           40
370661223           40
760536234           40
000212791           39
000011710F          39
561376368B          39
560554202Z          39
000015477W          39
000198198A          39
593527036A          39
471669781           39
431343281H          39
300830918           39
000064707D          39
000089223F          39
000089223L          39
000083651B          39
000055336D          38
822577178           38
576000094V          38
198194              38
000028240K          38
100629              38
203749695A          38
630288861A          38
592477479C          37
201852902C          37
000074134J          37
231352203A          37
000206705           37
000198455           37
452711804           37
000028386A          37
000098300B          37
383730230           36
203728235           36
000075937B          36
620544855B          36
582200195A          36
621867232B          36
841793121           36
000055392E          36
261214372           36
274564798           36
560543238E          36
363484281K          36
020222140A          35
000090442E          35
752678857D          35
000211362G          35
000072434C          35
000055244F          35
560603898           35
000021908I          35
000061431D          35
000061972           35
000285184           35
000206647           35
815437018           35
472264005C          35
264331175           35
000095556A          35
001005604A          35
800945173           35
010212435           34
160743134           34
560591303           34
000092778B          34
381369611Q          34
562014989G          34
550404900I          34
361509000           34
592754033           34
650460321           34
911487485           34
910652651           33
621757921H          33
362739299E          33
191727              33
452528314           33
000198248           33
272618766           33
851538878C          33
710249735           33
000065139G          33
191728              33
000202311           33
000046107B          33
660452520           33
000027775N          33
311439334D          33
198232              32
020232673           32
452528414B          32
000053933A          32
240795623           32
822666059           32
381459362I          32
230596940N          32
470376604B          32
590714831E          32
840417134A          32
270085482           32
000061695D          32
900054201           32
160393490           32
752918774           32
621501534           31
581734026           31
000011162K          31
000062139B          31
000065362S          31
910567732           30
566011594           30
000050521A          30
198695              30
726014963           30
621866028           29
000219524           29
210634562           29
132997301           29
362170133           29
000241627           29
042790311           29
610444707C          29
000055129C          29
472177648           29
231529076           29
630288864I          29
621795574           28
000081220C          28
200175530           28
000198246           28
000061781C          28
000028986P          28
000083041E          28
233069260A          28
611238190F          28
420504780           28
720551963           28
380833014A          28
000059302C          28
380997730           28
000091200A          28
205077249           28
842569909           27
474757851           27
000241678H          27
731008550           27
198226              27
221494454           27
356001540           27
198199              27
000089223O          27
231996150D          27
231689692C          27
000083896           27
000090903D          27
000075452C          27
636000271A          27
381437919           27
000045709C          27
461629800           26
250965451           26
410991680C          26
596020427N          26
726008355           26
000065362R          26
000062228C          26
933085834A          26
383769889           26
814322087B          26
626002623B          26
204401957           26
000005405L          26
376000511           26
000089223I          26
000200025           26
000086927A          26
352472136A          26
237221763           26
651191373           25
742225672L          25
000198215           25
751037591X          25
743177454           25
270060569H          25
480774005           25
566000674           25
363386394A          25
474131755G          25
200470861B          25
510473471           25
010238552B          25
742557820A          25
150532220           25
111352310           25
000072423B          25
843196350           25
000191764A          25
210634562F          25
880907240           25
453072990J          24
221750190E          24
721549752           24
621757927A          24
815457243           24
382947657B          24
000214576T          24
000290485B          24
000198266D          24
661021071           24
410991680           24
000004625C          24
440546097           24
540551711           24
000093772A          24
000086464C          24
992892769           23
726014895Z          23
540794913           23
61983               23
000072220B          23
001824629D          23
222592333G          23
000087447C          23
464420358           23
853033915           23
746000949Y          23
990073524           23
570360499G          23
464958152           23
250965612           23
210635001           23
843178470C          23
711045290A          23
562093700           23
430652680           23
510069243           23
221494440A          22
470376552           22
000198540B          22
593650609           22
541489410F          22
710230218           22
381357020           22
000075874B          22
480577664A          22
000073713C          22
540555201H          22
720880258A          22
636001820           22
340714535G          22
621762535           22
221775306M          22
860100882           22
160743226           22
000068029A          22
161533232C          21
000198322           21
000272567J          21
000069023D          21
340714581           21
198601              21
560562304           21
452528273K          21
000011550G          21
954537720A          21
000198466           21
471156297           21
272844563           21
910373400           21
000072332S          21
000062144C          20
812816675B          20
540696355           20
621647983C          20
381359266P          20
916018764           20
000061921F          20
000080506A          20
900942222A          20
000200415           20
440552490           20
251801532           20
390813418N          20
851620990           20
421019872           20
000098545A          20
883577015           20
750972805F          20
540622371N          20
231512747A          20
621762559B          20
000050521B          20
000075738A          20
231352187           20
340714771O          20
001855001B          20
161492011           20
001824834A          20
992646504D          20
203978521           19
111630755           19
000323098E          19
636002343           19
000241678F          19
000090315A          19
263734606           19
344430716E          19
000206641           19
581588823D          19
000257538           19
000236077           19
510064318Q          19
621811285D          19
000050434           19
000058087           19
208489105           19
272814378           19
933040761           19
250969492           19
341893439           19
141338470           19
851941193           19
421347891           19
000026509C          19
250965588D          19
841343242           19
232798290           19
931176109           18
000328121           18
452662980           18
232421970           18
000202301           18
474780023           18
621757662R          18
756003935N          18
880159958D          18
341842025B          18
000062579O          18
000026479E          18
560554230           18
550357045           18
161576637           18
561933245           18
381428164           18
640303091           18
201649466           18
510067938           18
231352202           18
131740104A          18
370681540           18
821883948           18
450310462           18
383176445           18
822062413           18
113438973           18
000071200G          18
000072083F          18
133957095           18
824625698           18
000045861A          18
650232993F          18
203391873D          18
043369653B          18
251490707           17
941044474           17
000198249           17
232829095O          17
590872594W          17
000065362U          17
431982139C          17
000323205B          17
610444707K          17
351963748R          17
000066637E          17
590910342U          17
221487602           17
000100695           17
000277579           17
000198190           17
340714583           17
621757929H          17
831954982           17
420680355           17
000209422           17
846002707D          17
820200896S          17
61972               17
311407377F          17
382796005           17
592612221Y          17
131740120A          17
237246265           17
132655001B          17
720423635           17
636005396W          17
430687077           17
451027361           16
710772737           16
992646504A          16
851608328           16
832531807           16
230596940L          16
384088744           16
000063571A          16
000064657E          16
191760              16
550526150           16
463107896           16
204401957A          16
231534300           16
621762526           16
752905434           16
223452306D          16
263632648           16
141364536C          16
370661199           16
820912090           16
205908627I          16
198190              16
640586958           16
231352160B          16
221487243B          16
870901094           16
560952955D          16
560636250C          16
000021585F          16
263359979A          16
741166904A          16
000055096C          16
221487307           16
990274038           16
000057972C          15
726014606           15
240795411           15
000323224B          15
000050255C          15
834672945A          15
201729674D          15
000199989C          15
344428218           15
131740122           15
410991680P          15

In [555]:
df_hist_sub_hum_ms_drg_postpay['DRG_Status'].value_counts()

DRG_Status
No Change           51125
Change 871  193      415
Change 871  689      327
Change 190  191      303
Change 189  191      249
Change 193  194      248
Change 872  690      245
Change 683  641      226
Change 871  177      221
Change 871  194      219
Change 189  190      207
Change 689  690      141
Change 698  699      130
Change 872  603      122
Change 871  602       94
Change 189  202       90
Change 189  194       88
Change 637  638       84
Change 871  178       82
Change 683  690       80
Change 871  690       77
Change 064  065       65
Change 189  192       57
Change 308  309       54
Change 682  683       52
Change 177  178       51
Change 853  329       51
Change 871  291       47
Change 377  378       45
Change 871  391       44
Change 190  192       44
Change 480  481       44
Change 872  392       43
Change 871  189       43
Change 291  292       40
Change 871  371       40
Change 853  981       39
Change 175  176       38
Change 189  206       38
Change 189  203       35
Change 917  918       35
Change 280  291       33
Change 682  640       32
Change 391  392       31
Change 853  616       31
Change 683  292       31
Change 854  617       31
Change 314  315       30
Change 871  190       30
Change 871  nan       29
Change 871  637       29
Change 100  101       28
Change 683  684       27
Change 640  641       27
Change 871  640       27
Change 871  603       26
Change 871  444       26
Change 189  292       25
Change 871  070       25
Change 199  200       25
Change 432  433       24
Change 853  659       23
Change 853  239       23
Change 071  690       23
Change 871  682       23
Change 871  872       23
Change 389  390       21
Change 862  863       21
Change 896  897       21
Change 659  660       20
Change 871  195       20
Change 853  163       20
Change 193  189       20
Change 682  689       20
Change 564  565       19
Change 388  389       19
Change 854  660       19
Change 189  641       19
Change 189  187       17
Change 193  190       17
Change 871  308       17
Change 193  195       17
Change 189  197       16
Change 023  024       16
Change 853  987       16
Change 280  281       16
Change 853  579       16
Change 474  475       15
Change 329  330       15
Change 189  178       15
Change 189  204       15
Change 872  638       15
Change 078  305       15
Change 082  083       15
Change 683  392       14
Change 189  195       14
Change 644  641       14
Change 682  291       14
Change 871  377       14
Change 393  394       14
Change 235  236       14
Change 602  603       13
Change 853  166       13
Change 071  641       13
Change 438  439       13
Change 183  184       13
Change 856  857       12
Change 871  280       12
Change 309  310       12
Change 643  644       12
Change 871  438       12
Change 871  091       12
Change 683  558       12
Change 371  372       12
Change 441  442       12
Change 056  057       11
Change 435  436       11
Change 189  690       11
Change 299  300       11
Change 854  661       11
Change 270  271       11
Change 853  617       11
Change 853  570       11
Change 871  393       11
Change 854  580       11
Change 177  193       11
Change 871  683       10
Change 071  948       10
Change 915  916       10
Change 870  207       10
Change 811  812       10
Change 466  467       10
Change 189  198       10
Change 871  638       10
Change 616  617        9
Change 853  417        9
Change 189  392        9
Change 189  304        9
Change 806  807        9
Change 871  175        9
Change 266  267        9
Change 189  308        9
Change 871  441        9
Change 189  315        9
Change 189  309        9
Change 919  920        9
Change 808  809        8
Change 853  252        8
Change 071  305        8
Change 378  379        8
Change 286  287        8
Change 444  445        8
Change 481  482        8
Change 313  nan        8
Change 871  372        8
Change 871  593        8
Change 683  312        8
Change 853  982        8
Change 872  683        8
Change 683  305        7
Change 637  nan        7
Change 871  299        7
Change 683  191        7
Change 189  153        7
Change 304  305        7
Change 683  309        7
Change 853  nan        7
Change 854  988        7
Change 180  181        7
Change 871  727        7
Change 193  nan        7
Change 871  191        7
Change 872  552        7
Change 682  641        7
Change 281  282        7
Change 683  nan        7
Change 070  071        7
Change 189  689        7
Change 853  418        7
Change 871  557        7
Change 163  164        7
Change 853  580        6
Change 193  291        6
Change 377  811        6
Change 378  812        6
Change 872  309        6
Change 872  641        6
Change 682  690        6
Change 682  193        6
Change 871  179        6
Change 035  036        6
Change 853  673        6
Change 871  442        6
Change 871  202        6
Change 637  639        6
Change 492  493        6
Change 871  289        6
Change 417  418        6
Change 853  356        6
Change 189  948        6
Change 189  683        5
Change 871  388        5
Change 467  468        5
Change 485  486        5
Change 064  091        5
Change 189  293        5
Change 166  167        5
Change 871  551        5
Change 872  153        5
Change 871  698        5
Change 438  640        5
Change 469  470        5
Change 378  nan        5
Change 840  841        5
Change 853  660        5
Change 177  179        5
Change 551  552        5
Change 242  243        5
Change 872  728        5
Change 854  418        5
Change 644  645        5
Change 070  689        5
Change 280  304        5
Change 922  923        5
Change 521  522        5
Change 872  386        5
Change 071  638        5
Change 280  282        5
Change 191  192        5
Change 246  247        4
Change 190  nan        4
Change 189  176        4
Change 374  375        4
Change 091  092        4
Change 189  071        4
Change 682  684        4
Change 189  866        4
Change 280  nan        4
Change 871  865        4
Change 193  689        4
Change 683  313        4
Change 061  062        4
Change 085  086        4
Change 853  628        4
Change 388  390        4
Change 038  039        4
Change 871  153        4
Change 683  603        4
Change 871  643        4
Change 853  622        4
Change 189  812        4
Change 682  189        4
Change 853  477        4
Change 065  066        4
Change 871  071        4
Change 189  181        4
Change 853  143        4
Change 073  074        4
Change 335  336        4
Change 872  155        4
Change 872  726        4
Change 871  065        4
Change 071  603        4
Change 871  641        4
Change 398  399        4
Change 189  603        4
Change 786  788        4
Change 082  085        4
Change 871  439        4
Change 683  694        4
Change 493  494        4
Change 291  293        4
Change 377  nan        4
Change 643  640        4
Change 872  389        4
Change 239  240        4
Change 871  281        4
Change 853  854        4
Change 480  482        3
Change 854  623        3
Change 281  nan        3
Change 252  253        3
Change 963  964        3
Change 871  809        3
Change 871  092        3
Change 853  485        3
Change 091  689        3
Change 270  252        3
Change 872  378        3
Change 071  072        3
Change 872  394        3
Change 454  455        3
Change 853  871        3
Change 854  571        3
Change 194  195        3
Change 071  558        3
Change 853  503        3
Change 871  394        3
Change 617  nan        3
Change 064  nan        3
Change 140  141        3
Change 872  558        3
Change 368  369        3
Change 917  nan        3
Change 438  637        3
Change 871  435        3
Change 853  335        3
Change 682  637        3
Change 872  442        3
Change 178  nan        3
Change 872  310        3
Change 394  395        3
Change 853  500        3
Change 071  812        3
Change 071  897        3
Change 308  310        3
Change 071  923        3
Change 186  187        3
Change 682  391        3
Change 080  081        3
Change 189  313        3
Change 189  543        3
Change 871  432        3
Change 698  700        3
Change 853  408        3
Change 871  180        3
Change 073  391        3
Change 786  787        3
Change 397  398        3
Change 276  277        3
Change 683  726        3
Change 853  397        3
Change 205  206        3
Change 064  066        3
Change 196  197        3
Change 853  571        3
Change 064  070        3
Change 862  690        3
Change 313  311        3
Change 070  nan        3
Change 071  nan        3
Change 806  nan        3
Change 867  868        3
Change 871  392        3
Change 871  186        3
Change 853  713        3
Change 871  378        3
Change 854  256        3
Change 872  694        3
Change 872  812        3
Change 853  474        3
Change 981  982        3
Change 683  554        3
Change 720  nan        2
Change 871  152        2
Change 853  327        2
Change 189  442        2
Change 987  988        2
Change 853  623        2
Change 871  542        2
Change 872  684        2
Change 281  305        2
Change 698  690        2
Change 682  071        2
Change 872  191        2
Change 308  689        2
Change 871  309        2
Change 871  436        2
Change 291  190        2
Change 260  261        2
Change 432  896        2
Change 291  189        2
Change 243  244        2
Change 455  460        2
Change 853  167        2
Change 481  536        2
Change 064  689        2
Change 683  069        2
Change 698  291        2
Change 853  629        2
Change 872  315        2
Change 562  563        2
Change 189  nan        2
Change 435  444        2
Change 698  689        2
Change 872  864        2
Change 871  204        2
Change 377  640        2
Change 853  240        2
Change 871  897        2
Change 853  255        2
Change 871  101        2
Change 281  309        2
Change 638  639        2
Change 070  682        2
Change 559  560        2
Change 870  689        2
Change 853  475        2
Change 189  092        2
Change 189  699        2
Change 442  443        2
Change 086  087        2
Change 175  291        2
Change 638  nan        2
Change 226  227        2
Change 871  385        2
Change 683  696        2
Change 666  988        2
Change 871  728        2
Change 280  309        2
Change 853  717        2
Change 205  194        2
Change 189  638        2
Change 177  312        2
Change 177  190        2
Change 853  414        2
Change 917  190        2
Change 299  301        2
Change 917  291        2
Change 853  246        2
Change 853  344        2
Change 853  507        2
Change 189  182        2
Change 199  201        2
Change 330  376        2
Change 091  640        2
Change 683  125        2
Change 070  193        2
Change 871  592        2
Change 853  029        2
Change 438  391        2
Change 378  394        2
Change 070  391        2
Change 974  977        2
Change 871  369        2
Change 853  321        2
Change 682  nan        2
Change 463  464        2
Change 853  518        2
Change 871  380        2
Change 082  084        2
Change 871  693        2
Change 306  291        2
Change 023  nan        2
Change 189  069        2
Change 177  194        2
Change 871  896        2
Change 637  640        2
Change 853  988        2
Change 199  189        2
Change 199  186        2
Change 435  nan        2
Change 189  312        2
Change 092  690        2
Change 683  948        2
Change 189  552        2
Change 377  391        2
Change 275  277        2
Change 872  696        2
Change 314  nan        2
Change 853  253        2
Change 637  291        2
Change 871  863        2
Change 871  073        2
Change 853  709        2
Change 071  069        2
Change 871  699        2
Change 856  659        2
Change 193  640        2
Change 919  698        2
Change 809  810        2
Change 040  041        2
Change 438  291        2
Change 872  312        2
Change 189  179        2
Change 809  nan        2
Change 853  480        2
Change 190  202        2
Change 065  nan        2
Change 235  nan        2
Change 853  164        2
Change 872  387        2
Change 865  866        2
Change 389  392        2
Change 378  392        2
Change 330  331        2
Change 564  566        2
Change 564  640        2
Change 377  393        2
Change 974  975        2
Change 280  308        2
Change 070  640        2
Change 327  328        2
Change 178  179        2
Change 871  176        2
Change 673  674        2
Change 854  744        2
Change 291  308        2
Change 189  897        2
Change 177  640        2
Change 070  947        2
Change 189  316        2
Change 871  315        2
Change 871  199        2
Change 177  689        2
Change 189  300        2
Change 091  193        2
Change 314  316        2
Change 178  194        2
Change 854  717        2
Change 189  433        2
Change 535  536        2
Change 393  811        2
Change 308  nan        2
Change 690  392        2
Change 787  788        2
Change 871  296        2
Change 617  256        2
Change 698  695        1
Change 542  543        1
Change 822  842        1
Change 871  100        1
Change 683  563        1
Change 872  092        1
Change 543  536        1
Change 054  055        1
Change 871  812        1
Change 143  144        1
Change 872  607        1
Change 565  638        1
Change 964  200        1
Change 073  nan        1
Change 280  302        1
Change 187  188        1
Change 683  293        1
Change 444  193        1
Change 974  689        1
Change 229  243        1
Change 029  030        1
Change 071  092        1
Change 375  055        1
Change 885  833        1
Change 194  188        1
Change 374  189        1
Change 435  054        1
Change 683  700        1
Change 189  310        1
Change 549  300        1
Change 056  690        1
Change 177  280        1
Change 244  713        1
Change 300  638        1
Change 196  193        1
Change 154  155        1
Change 284  285        1
Change 872  699        1
Change 493  481        1
Change 518  515        1
Change 280  682        1
Change 435  086        1
Change 356  391        1
Change 548  189        1
Change 854  666        1
Change 644  309        1
Change 070  641        1
Change 640  194        1
Change 871  558        1
Change 689  281        1
Change 189  918        1
Change 189  607        1
Change 853  444        1
Change 516  517        1
Change 871  196        1
Change 291  640        1
Change 837  838        1
Change 100  091        1
Change 113  114        1
Change 191  312        1
Change 415  416        1
Change 380  382        1
Change 313  390        1
Change 872  372        1
Change 492  562        1
Change 357  nan        1
Change 471  472        1
Change 296  297        1
Change 598  309        1
Change 369  378        1
Change 698  297        1
Change 683  638        1
Change 267  nan        1
Change 453  454        1
Change 856  273        1
Change 027  039        1
Change 689  178        1
Change 380  381        1
Change 870  917        1
Change 082  nan        1
Change 374  435        1
Change 056  nan        1
Change 085  nan        1
Change 070  315        1
Change 313  310        1
Change 641  816        1
Change 280  194        1
Change 070  304        1
Change 987  314        1
Change 092  nan        1
Change 372  389        1
Change 983  513        1
Change 811  378        1
Change 853  250        1
Change 871  814        1
Change 300  301        1
Change 853  492        1
Change 219  220        1
Change 853  855        1
Change 853  469        1
Change 871  597        1
Change 779  770        1
Change 441  443        1
Change 871  811        1
Change 445  446        1
Change 357  394        1
Change 682  638        1
Change 247  287        1
Change 862  371        1
Change 189  755        1
Change 983  074        1
Change 865  391        1
Change 872  156        1
Change 853  357        1
Change 872  292        1
Change 872  863        1
Change 092  683        1
Change 353  354        1
Change 854  746        1
Change 193  309        1
Change 598  603        1
Change 987  744        1
Change 871  203        1
Change 871  081        1
Change 871  312        1
Change 872  305        1
Change 854  345        1
Change 253  300        1
Change 392  390        1
Change 389  nan        1
Change 388  391        1
Change 062  057        1
Change 853  353        1
Change 628  629        1
Change 147  948        1
Change 394  641        1
Change 189  291        1
Change 564  nan        1
Change 371  186        1
Change 100  070        1
Change 189  536        1
Change 189  087        1
Change 286  189        1
Change 472  982        1
Change 163  189        1
Change 377  092        1
Change 375  699        1
Change 843  189        1
Change 975  872        1
Change 871  077        1
Change 092  191        1
Change 880  nan        1
Change 189  726        1
Change 666  713        1
Change 386  309        1
Change 071  758        1
Change 064  189        1
Change 270  164        1
Change 061  071        1
Change 432  811        1
Change 871  433        1
Change 896  378        1
Change 155  312        1
Change 579  580        1
Change 234  287        1
Change 950  310        1
Change 100  nan        1
Change 872  897        1
Change 246  982        1
Change 031  314        1
Change 853  665        1
Change 580  581        1
Change 375  312        1
Change 683  639        1
Change 371  175        1
Change 291  192        1
Change 637  101        1
Change 551  nan        1
Change 853  339        1
Change 854  501        1
Change 177  291        1
Change 917  637        1
Change 333  334        1
Change 432  377        1
Change 327  330        1
Change 983  675        1
Change 640  189        1
Change 872  194        1
Change 983  661        1
Change 871  555        1
Change 391  699        1
Change 189  151        1
Change 682  602        1
Change 166  177        1
Change 983  596        1
Change 260  nan        1
Change 713  nan        1
Change 545  064        1
Change 194  nan        1
Change 189  728        1
Change 406  nan        1
Change 189  158        1
Change 853  486        1
Change 693  694        1
Change 189  152        1
Change 856  858        1
Change 871  606        1
Change 091  190        1
Change 638  641        1
Change 377  379        1
Change 602  189        1
Change 070  065        1
Change 546  202        1
Change 853  823        1
Change 871  302        1
Change 313  316        1
Change 682  948        1
Change 843  640        1
Change 683  153        1
Change 270  nan        1
Change 189  307        1
Change 189  644        1
Change 368  378        1
Change 455  552        1
Change 659  698        1
Change 327  378        1
Change 377  175        1
Change 011  012        1
Change 313  195        1
Change 061  064        1
Change 689  439        1
Change 193  202        1
Change 917  304        1
Change 140  142        1
Change 871  841        1
Change 189  864        1
Change 871  443        1
Change 853  501        1
Change 871  540        1
Change 871  607        1
Change 853  040        1
Change 154  189        1
Change 689  081        1
Change 391  190        1
Change 094  096        1
Change 974  371        1
Change 559  178        1
Change 181  897        1
Change 862  194        1
Change 872  550        1
Change 228  229        1
Change 746  755        1
Change 291  194        1
Change 870  071        1
Change 189  301        1
Change 853  515        1
Change 853  513        1
Change 637  194        1
Change 862  602        1
Change 012  013        1
Change 377  177        1
Change 919  602        1
Change 064  202        1
Change 853  278        1
Change 202  203        1
Change 811  369        1
Change 872  605        1
Change 485  487        1
Change 291  304        1
Change 189  200        1
Change 974  388        1
Change 698  299        1
Change 183  185        1
Change 682  811        1
Change 871  639        1
Change 189  184        1
Change 565  305        1
Change 177  690        1
Change 178  191        1
Change 184  185        1
Change 871  604        1

In [556]:
df_hist_sub_hum_ms_drg_postpay['len_adrg'].value_counts()

len_adrg
3    59351
Name: count, dtype: int64

In [457]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_hist_sub_hum_ms_drg_postpay.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum"),

    #denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_total_saving"],
    ascending=False
).reset_index(drop=True)

df_group.head(15)

,Provider_ID,total_claims,approved_count,denied_count,avg_payments,percentage_denied,denied_avg_payments,denied_avg_saving,denied_total_saving
0,000059420E,527,476,51,16949.971632,9.68,13818.353137,4976.364902,253794.61
1,730700090,177,122,55,10876.704068,31.07,10178.127273,4106.029273,225831.61
2,853777599B,340,299,41,15960.752265,12.06,15548.646098,5331.155122,218577.36
3,000047750D,359,304,55,12698.676908,15.32,11214.863455,3939.292000,216661.06
4,560585243,145,118,27,15821.569724,18.62,17253.122222,6801.392222,183637.59
5,560928089,280,242,38,12692.259107,13.57,12836.862895,4482.906053,170350.43
6,381360584,340,299,41,13022.080118,12.06,14393.382683,4030.267805,165240.98
7,000098152D,171,135,36,16330.233216,21.05,15518.377222,4430.495000,159497.82
8,800818718,92,77,15,20776.962283,16.30,26253.852000,10575.038000,158625.57
9,000190356A,233,201,32,14068.964506,13.73,15111.844063,4748.285937,151945.15
10,581123037T,266,230,36,13543.814962,13.53,11022.999444,4151.780556,149464.10
11,000061694I,221,194,27,15519.017059,12.22,13592.325926,5429.813333,146604.96
12,566017737F,284,249,35,13460.120634,12.32,13291.734000,4154.280286,145399.81
13,262037695B,132,103,29,11889.004773,21.97,12141.784483,4722.354828,136948.29
14,000198532,103,76,27,14871.065146,26.21,15009.789630,4939.768519,133373.75

In [461]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = merged2.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG","Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum"),
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG","Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,Provider_ID,total_claims,approved_count,denied_count,avg_payments,percentage_denied,denied_avg_payments,denied_avg_saving,denied_total_saving
0,871,630845288C,50,25,25,12473.524000,50.00,12328.006400,3358.102000,83952.55
1,871,000059420E,40,27,13,14858.060000,32.50,13628.437692,4903.126154,63740.64
2,683,566017737F,39,35,4,7152.163333,10.26,6879.067500,664.512500,2658.05
3,683,000021832C,37,23,14,5214.879189,37.84,5449.887857,771.775714,10804.86
4,871,560928089,35,20,15,13250.073714,42.86,12956.117333,4768.210667,71523.16
5,871,581123037T,32,20,12,11479.830937,37.50,11849.754167,5610.794167,67329.53
6,189,550357050E,30,21,9,7493.643000,30.00,7328.685556,2561.774444,23055.97
7,871,853777599B,29,17,12,14744.356552,41.38,15313.114167,6599.980000,79199.76
8,871,000198532,27,14,13,14700.160370,48.15,15558.499231,5302.253077,68929.29
9,871,000066600C,27,16,11,13804.078519,40.74,12830.556364,3682.685455,40509.54
10,189,382589966B,26,19,7,8480.553462,26.92,8808.851429,2648.635714,18540.45
11,871,000047750D,26,13,13,12368.943846,50.00,12038.438462,4844.273077,62975.55
12,190,581123037T,25,22,3,6126.029200,12.00,6298.523333,2193.746667,6581.24
13,871,000190356A,25,17,8,13380.566000,32.00,13908.460000,4138.725000,33109.80
14,871,560585243,25,12,13,13155.304800,52.00,13116.156154,4895.090000,63636.17
15,871,000098152D,24,11,13,15095.810833,54.17,14535.868462,4862.413846,63211.38
16,871,000060510C,24,17,7,15743.613333,29.17,16812.690000,4102.872857,28720.11
17,189,000198540A,24,22,2,10225.637083,8.33,9141.590000,1435.640000,2871.28
18,871,730700090,24,6,18,9104.293750,75.00,8304.005556,3606.625556,64919.26
19,871,000198540A,24,16,8,18754.042083,33.33,15510.926250,4180.365000,33442.92

In [463]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = merged2.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum"),
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,total_claims,approved_count,denied_count,avg_payments,percentage_denied,denied_avg_saving,denied_total_saving
0,871,4915,2921,1994,13337.631363,40.57,4613.038104,9198397.98
1,189,3809,2774,1035,9139.813507,27.17,2404.793691,2488961.47
2,872,808,282,526,6669.825359,65.10,1488.570970,782988.33
3,683,3027,2619,408,6364.847278,13.48,809.281495,330186.85
4,853,942,547,395,35287.365658,41.93,10074.522810,3979436.51
5,190,2475,2144,331,7655.924986,13.37,1845.140181,610741.40
6,193,2528,2226,302,9125.494082,11.95,2956.430927,892842.14
7,682,853,705,148,10590.861325,17.35,2803.631216,414937.42
8,698,772,635,137,11338.365984,17.75,3947.553796,540814.87
9,689,887,754,133,8090.076302,14.99,2399.016617,319069.21
10,854,192,87,105,13770.991458,54.69,3033.377048,318504.59
11,071,388,298,90,7473.319974,23.20,1631.172111,146805.49
12,637,1051,962,89,9859.307574,8.47,3470.918876,308911.78
13,064,1438,1354,84,13853.448853,5.84,5958.088571,500479.44
14,177,440,360,80,13631.904818,18.18,4228.150625,338252.05
15,280,1024,959,65,10585.706377,6.35,3055.688462,198619.75
16,377,1290,1229,61,12473.975395,4.73,4403.415410,268608.34
17,291,1387,1332,55,8412.604636,3.97,2728.687273,150077.80
18,308,1151,1098,53,8334.684917,4.60,3126.943208,165727.99
19,480,654,608,46,20909.031774,7.03,6147.581957,282788.77

In [465]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = merged2.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","DRG_Status"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG","DRG_Status"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_avg_saving=("IDSavings", "mean"),
    denied_total_saving=("IDSavings", "sum"),
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG","DRG_Status"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,DRG_Status,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_payments,denied_avg_saving,denied_total_saving
0,871,Change 871 193,415,46,369,13179.260120,35348.09,1600.00,88.92,13130.022141,4414.647073,1629004.77
1,190,Change 190 191,303,18,285,7437.150891,25573.34,3755.28,94.06,7467.849930,1697.194351,483700.39
2,871,Change 871 689,327,45,282,13488.053639,46823.98,3990.74,86.24,13345.058688,5410.910390,1525876.73
3,872,Change 872 690,245,0,245,6783.809633,17642.47,3517.53,100.00,6783.809633,1661.573429,407085.49
4,189,Change 189 191,249,7,242,8057.510683,21112.22,3485.02,97.19,8074.847810,2562.320248,620081.50
5,193,Change 193 194,248,13,235,8877.710524,28074.14,1183.81,94.76,8917.753617,3203.020511,752709.82
6,871,Change 871 194,219,4,215,12306.084292,23817.89,1501.36,98.17,12304.109628,6881.985581,1479626.90
7,871,Change 871 177,221,15,206,13977.807240,42186.85,5000.95,93.21,14038.268447,1782.724272,367241.20
8,683,Change 683 641,226,27,199,6263.552212,29477.81,231.07,88.05,6335.686683,807.221307,160637.04
9,189,Change 189 190,207,15,192,8298.540290,19679.61,4075.69,92.75,8274.322240,1070.795885,205592.81
10,689,Change 689 690,141,12,129,7767.754184,18540.34,2341.86,91.49,7788.724574,2424.888062,312810.56
11,698,Change 698 699,130,8,122,11023.744077,33287.11,4494.81,93.85,11106.733689,4010.339754,489261.45
12,872,Change 872 603,122,1,121,6500.446475,18755.65,3955.79,99.18,6483.962231,1198.565702,145026.45
13,189,Change 189 202,90,1,89,8180.312667,11632.94,4988.42,98.89,8150.286966,1975.021124,175776.88
14,871,Change 871 602,94,6,88,13326.124574,27318.71,4389.66,93.62,13434.614545,3769.408182,331707.92
15,189,Change 189 194,88,2,86,8673.252614,27424.62,2686.21,97.73,8728.854535,2890.038721,248543.33
16,871,Change 871 178,82,1,81,12491.052805,19882.97,2893.05,98.78,12561.847654,5439.214444,440576.37
17,637,Change 637 638,84,6,78,9818.862262,35703.60,2499.41,92.86,10064.419744,3497.528590,272807.23
18,683,Change 683 690,80,7,73,6287.813625,11793.30,3888.47,91.25,6192.048219,639.916712,46713.92
19,871,Change 871 690,77,7,70,12304.844675,23194.78,1810.79,90.91,12368.902429,7164.962286,501547.36

In [439]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = merged2.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["PaymentType","ADRG","DRG_Status","Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["PaymentType","ADRG","DRG_Status","Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["PaymentType","ADRG","DRG_Status","Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,PaymentType,ADRG,DRG_Status,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_payments,denied_total_payments
0,postpay,871,Change 871 193,630845288C,10,1,9,11820.578000,13499.69,10384.58,90.00,11980.133333,107821.20
1,postpay,683,Change 683 641,000021832C,8,0,8,5869.248750,6776.43,4522.36,100.00,5869.248750,46953.99
2,postpay,189,Change 189 191,272844632,6,0,6,7569.826667,9022.74,7174.56,100.00,7569.826667,45418.96
3,postpay,871,Change 871 177,630845288C,6,0,6,12153.730000,13502.14,9957.97,100.00,12153.730000,72922.38
4,postpay,189,Change 189 191,382589966B,6,1,5,8697.620000,9361.66,7943.67,83.33,8635.644000,43178.22
5,postpay,190,Change 190 191,352547114,5,0,5,6180.534000,6666.35,5825.52,100.00,6180.534000,30902.67
6,postpay,871,Change 871 193,560928089,5,0,5,11786.648000,14766.71,4447.90,100.00,11786.648000,58933.24
7,postpay,871,Change 871 689,000098152D,7,2,5,14698.790000,15774.07,14199.62,71.43,14533.804000,72669.02
8,postpay,189,Change 189 191,510103684A,4,0,4,8182.755000,9426.39,7504.25,100.00,8182.755000,32731.02
9,postpay,189,Change 189 191,730700090,4,0,4,6190.855000,7393.29,4988.42,100.00,6190.855000,24763.42
10,postpay,189,Change 189 191,550357050E,4,0,4,7230.100000,7656.88,6549.00,100.00,7230.100000,28920.40
11,postpay,189,Change 189 194,000198448,4,0,4,6772.237500,8265.09,5459.07,100.00,6772.237500,27088.95
12,postpay,189,Change 189 194,620544855B,4,0,4,5838.660000,6798.66,4718.66,100.00,5838.660000,23354.64
13,postpay,683,Change 683 641,381360584,4,0,4,6229.510000,7356.88,5305.45,100.00,6229.510000,24918.04
14,postpay,193,Change 193 194,000047750D,4,0,4,8376.845000,8962.64,7346.27,100.00,8376.845000,33507.38
15,postpay,871,Change 871 689,581123037T,4,0,4,11824.120000,12176.37,11468.79,100.00,11824.120000,47296.48
16,postpay,871,Change 871 177,381360584,4,0,4,14258.965000,15235.98,13849.50,100.00,14258.965000,57035.86
17,postpay,871,Change 871 177,730700090,4,0,4,8428.930000,8428.93,8428.93,100.00,8428.930000,33715.72
18,postpay,871,Change 871 193,000098152D,4,0,4,14630.232500,14873.76,14448.44,100.00,14630.232500,58520.93
19,postpay,871,Change 871 194,000047750D,4,0,4,12581.145000,12995.31,11811.39,100.00,12581.145000,50324.58

# No DRG Wt In CSV

In [59]:
df_no_drg_wt = df_hist_sub_hum_ms_drg_postpay[((df_hist_sub_hum_ms_drg_postpay['ADRG_Desc'].isna()) | (df_hist_sub_hum_ms_drg_postpay['BDRG_Desc'].isna()))]
df_no_drg_wt = df_no_drg_wt[~((df_no_drg_wt['B_DRG']=='nan')& (~(df_no_drg_wt['ADRG_Desc'].isna()))) ]
df_no_drg_wt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 340 entries, 487 to 61442
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     340 non-null    object
 1   Client                      340 non-null    object
 2   PaymentType                 340 non-null    object
 3   Group_Type                  340 non-null    object
 4   Payments                    340 non-null    float64
 5   Provider_ID                 340 non-null    object
 6   HospitalName                340 non-null    object
 7   LOS                         340 non-null    object
 8   AGE                         340 non-null    object
 9   LOB                         340 non-null    object
 10  ADRG                        340 non-null    object
 11  PRIM_DX                     340 non-null    object
 12  A_DX_List                   340 non-null    object
 13  A_DX_List_Clean             340 non-null    object
 14  A_DX_Type_list              340 non-null    object
 15  A_PX_List                   340 non-null    object
 16  A_DX_Set                    340 non-null    object
 17  A_DX_Type                   340 non-null    object
 18  B_DRG                       340 non-null    object
 19  B_PRIMDX                    340 non-null    object
 20  B_PRIMDX_Clean              340 non-null    object
 21  B_DX_List                   340 non-null    object
 22  B_DX_List_Clean             340 non-null    object
 23  B_DX_Type_list              340 non-null    object
 24  B_PX_List                   340 non-null    object
 25  B_DX_Set                    340 non-null    object
 26  B_DX_Type                   340 non-null    object
 27  DRG_Status                  340 non-null    object
 28  DX_Change_Status            340 non-null    object
 29  DX_Set_Change_Status        340 non-null    object
 30  DX_Type_Status              340 non-null    object
 31  PX_Set_Change_Status        340 non-null    object
 32  InitialDeterminationStatus  340 non-null    object
 33  IDSavings                   340 non-null    float64
 34  AdjustedSavings             340 non-null    object
 35  ADRG_Desc                   3 non-null      object
 36  ADRG_wt                     3 non-null      float64
 37  BDRG_Desc                   2 non-null      object
 38  BDRG_wt                     2 non-null      float64
 39  Tag                         340 non-null    object
dtypes: float64(4), object(36)
memory usage: 108.9+ KB

In [60]:
# Convert both columns to string (optional but safe)
df_no_drg_wt["ADRG"] = df_no_drg_wt["ADRG"].astype(str)
df_no_drg_wt["B_DRG"] = df_no_drg_wt["B_DRG"].astype(str)
drg_wts["DRG"] = drg_wts["DRG"].astype(str)

# 1. Combine ADRG and B_DRG into a single unique list
combined_unique = pd.unique(
    pd.concat([df_no_drg_wt["ADRG"], df_no_drg_wt["B_DRG"]], axis=0)
)

# 2. Get unique DRG list from df2
df2_unique = drg_wts["DRG"].unique()

# 3. Find values present in combined list but NOT in df2 list
missing_drg = sorted(list(set(combined_unique) - set(df2_unique)))

print("Unique DRG not in df2:", missing_drg)

Unique DRG not in df2: ['222', '224', '226', '227', '246', '247', '248', '338', '339', '342', '402', '427', '447', '448', '451', '720', '952', 'nan']

In [ ]:
df_drg_low

In [390]:
df_no_drg_wt['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Approved    329
Denied       11
Name: count, dtype: int64

In [62]:
df_no_drg_wt['DX_Change_Status'].value_counts()

DX_Change_Status
No Change              336
Change I110  J441       1
Change A419  K3532      1
Change A419  I213       1
Change A419  I21A9      1
Name: count, dtype: int64

In [63]:
cols = ["DRG_Status","DX_Change_Status",  "DX_Set_Change_Status","DX_Type_Status", "PX_Set_Change_Status"]
df5 = df_no_drg_wt[(df_no_drg_wt[cols] == "No Change").all(axis=1)].copy()
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 326 entries, 487 to 61442
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     326 non-null    object
 1   Client                      326 non-null    object
 2   PaymentType                 326 non-null    object
 3   Group_Type                  326 non-null    object
 4   Payments                    326 non-null    float64
 5   Provider_ID                 326 non-null    object
 6   HospitalName                326 non-null    object
 7   LOS                         326 non-null    object
 8   AGE                         326 non-null    object
 9   LOB                         326 non-null    object
 10  ADRG                        326 non-null    object
 11  PRIM_DX                     326 non-null    object
 12  A_DX_List                   326 non-null    object
 13  A_DX_List_Clean             326 non-null    object
 14  A_DX_Type_list              326 non-null    object
 15  A_PX_List                   326 non-null    object
 16  A_DX_Set                    326 non-null    object
 17  A_DX_Type                   326 non-null    object
 18  B_DRG                       326 non-null    object
 19  B_PRIMDX                    326 non-null    object
 20  B_PRIMDX_Clean              326 non-null    object
 21  B_DX_List                   326 non-null    object
 22  B_DX_List_Clean             326 non-null    object
 23  B_DX_Type_list              326 non-null    object
 24  B_PX_List                   326 non-null    object
 25  B_DX_Set                    326 non-null    object
 26  B_DX_Type                   326 non-null    object
 27  DRG_Status                  326 non-null    object
 28  DX_Change_Status            326 non-null    object
 29  DX_Set_Change_Status        326 non-null    object
 30  DX_Type_Status              326 non-null    object
 31  PX_Set_Change_Status        326 non-null    object
 32  InitialDeterminationStatus  326 non-null    object
 33  IDSavings                   326 non-null    float64
 34  AdjustedSavings             326 non-null    object
 35  ADRG_Desc                   0 non-null      object
 36  ADRG_wt                     0 non-null      float64
 37  BDRG_Desc                   0 non-null      object
 38  BDRG_wt                     0 non-null      float64
 39  Tag                         326 non-null    object
dtypes: float64(4), object(36)
memory usage: 104.4+ KB

In [64]:
df5['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Approved    326
Name: count, dtype: int64

In [69]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_no_drg_wt[df_no_drg_wt['DRG_Status']!='No Change']

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    #denied_count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_13888\3079596335.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_13888\3079596335.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_13888\3079596335.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_13888\3079596335.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")

,Provider_ID,total_claims,approved_count,denied_count,avg_LOS,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_LOS,denied_avg_payments
0,000094793A,1,0,1,7.0,41009.48,41009.48,41009.48,100.0,7.0,41009.48
1,000097978001,1,0,1,3.0,41151.21,41151.21,41151.21,100.0,3.0,41151.21
2,000098152D,1,0,1,12.0,12916.85,12916.85,12916.85,100.0,12.0,12916.85
3,000396451001,1,0,1,3.0,21374.81,21374.81,21374.81,100.0,3.0,21374.81
4,00520000952,1,0,1,6.0,17495.96,17495.96,17495.96,100.0,6.0,17495.96
5,00520001241,1,0,1,4.0,29378.70,29378.70,29378.70,100.0,4.0,29378.70
6,133957095B,1,1,0,2.0,6855.67,6855.67,6855.67,0.0,NaN,NaN
7,160743310R,1,1,0,6.0,15808.72,15808.72,15808.72,0.0,NaN,NaN
8,352637418C,1,0,1,7.0,20765.31,20765.31,20765.31,100.0,7.0,20765.31
9,471669781,1,0,1,3.0,23346.28,23346.28,23346.28,100.0,3.0,23346.28
10,581123037T,1,0,1,3.0,19438.46,19438.46,19438.46,100.0,3.0,19438.46
11,592754033,1,1,0,2.0,2346.82,2346.82,2346.82,0.0,NaN,NaN
12,621740235A,1,0,1,1.0,32459.43,32459.43,32459.43,100.0,1.0,32459.43
13,710329353,1,0,1,7.0,35567.16,35567.16,35567.16,100.0,7.0,35567.16

,DRG_Status,PaymentType,Provider_ID,total_claims,approved_count,denied_count,avg_LOS,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_LOS,denied_avg_payments
0,Change 226 227,postpay,000094793A,1,0,1,7.0,41009.48,41009.48,41009.48,100.0,7.0,41009.48
1,Change 226 227,postpay,000097978001,1,0,1,3.0,41151.21,41151.21,41151.21,100.0,3.0,41151.21
2,Change 246 247,postpay,00520000952,1,0,1,6.0,17495.96,17495.96,17495.96,100.0,6.0,17495.96
3,Change 246 247,postpay,352637418C,1,0,1,7.0,20765.31,20765.31,20765.31,100.0,7.0,20765.31
4,Change 246 247,postpay,581123037T,1,0,1,3.0,19438.46,19438.46,19438.46,100.0,3.0,19438.46
5,Change 246 247,postpay,621740235A,1,0,1,1.0,32459.43,32459.43,32459.43,100.0,1.0,32459.43
6,Change 246 982,postpay,000396451001,1,0,1,3.0,21374.81,21374.81,21374.81,100.0,3.0,21374.81
7,Change 247 287,postpay,000098152D,1,0,1,12.0,12916.85,12916.85,12916.85,100.0,12.0,12916.85
8,Change 720 nan,postpay,160743310R,1,1,0,6.0,15808.72,15808.72,15808.72,0.0,NaN,NaN
9,Change 720 nan,postpay,592754033,1,1,0,2.0,2346.82,2346.82,2346.82,0.0,NaN,NaN

In [409]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_no_drg_wt[df_no_drg_wt['DRG_Status']!='No Change']

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    #denied_count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(10)

C:\Users\arunkumara\AppData\Local\Temp\4\ipykernel_16760\2675554283.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
C:\Users\arunkumara\AppData\Local\Temp\4\ipykernel_16760\2675554283.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
C:\Users\arunkumara\AppData\Local\Temp\4\ipykernel_16760\2675554283.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
C:\Users\arunkumara\AppData\Local\Temp\4\ipykernel_16760\2675554283.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")

,Provider_ID,total_claims,approved_count,denied_count,avg_LOS,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_LOS,denied_avg_payments
0,000094793A,1,0,1,7.0,41009.48,41009.48,41009.48,100.0,7.0,41009.48
1,000097978001,1,0,1,3.0,41151.21,41151.21,41151.21,100.0,3.0,41151.21
2,000098152D,1,0,1,12.0,12916.85,12916.85,12916.85,100.0,12.0,12916.85
3,000396451001,1,0,1,3.0,21374.81,21374.81,21374.81,100.0,3.0,21374.81
4,00520000952,1,0,1,6.0,17495.96,17495.96,17495.96,100.0,6.0,17495.96
5,00520001241,1,0,1,4.0,29378.70,29378.70,29378.70,100.0,4.0,29378.70
6,133957095B,1,1,0,2.0,6855.67,6855.67,6855.67,0.0,NaN,NaN
7,160743310R,1,1,0,6.0,15808.72,15808.72,15808.72,0.0,NaN,NaN
8,352637418C,1,0,1,7.0,20765.31,20765.31,20765.31,100.0,7.0,20765.31
9,471669781,1,0,1,3.0,23346.28,23346.28,23346.28,100.0,3.0,23346.28

# DRG Wts

In [146]:
df_f1 = df_hist_sub_hum_ms_drg_postpay[~((df_hist_sub_hum_ms_drg_postpay['ADRG_Desc'].isna()) | (df_hist_sub_hum_ms_drg_postpay['BDRG_Desc'].isna()))]
df_f1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 58825 entries, 0 to 64063
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     58825 non-null  object
 1   Client                      58825 non-null  object
 2   PaymentType                 58825 non-null  object
 3   Group_Type                  58822 non-null  object
 4   Payments                    58825 non-null  float64
 5   Provider_ID                 58825 non-null  object
 6   HospitalName                58825 non-null  object
 7   LOS                         58825 non-null  object
 8   AGE                         58825 non-null  object
 9   LOB                         58825 non-null  object
 10  ADRG                        58825 non-null  object
 11  PRIM_DX                     58825 non-null  object
 12  A_DX_List                   58825 non-null  object
 13  A_DX_List_Clean             58825 non-null  object
 14  A_DX_Type_list              58825 non-null  object
 15  A_PX_List                   58825 non-null  object
 16  A_DX_Set                    58825 non-null  object
 17  A_DX_Type                   58825 non-null  object
 18  B_DRG                       58825 non-null  object
 19  B_PRIMDX                    58438 non-null  object
 20  B_PRIMDX_Clean              58825 non-null  object
 21  B_DX_List                   58825 non-null  object
 22  B_DX_List_Clean             58825 non-null  object
 23  B_DX_Type_list              58825 non-null  object
 24  B_PX_List                   58825 non-null  object
 25  B_DX_Set                    58825 non-null  object
 26  B_DX_Type                   58825 non-null  object
 27  DRG_Status                  58825 non-null  object
 28  DX_Change_Status            58825 non-null  object
 29  DX_Set_Change_Status        58825 non-null  object
 30  DX_Type_Status              58825 non-null  object
 31  PX_Set_Change_Status        58825 non-null  object
 32  InitialDeterminationStatus  58825 non-null  object
 33  IDSavings                   58825 non-null  float64
 34  AdjustedSavings             58825 non-null  object
 35  ADRG_Desc                   58825 non-null  object
 36  ADRG_wt                     58825 non-null  float64
 37  BDRG_Desc                   58825 non-null  object
 38  BDRG_wt                     58825 non-null  float64
 39  Tag                         58825 non-null  object
dtypes: float64(4), object(36)
memory usage: 18.4+ MB

In [147]:
# B part drg is none
df_f2 = df_hist_sub_hum_ms_drg_postpay[(df_hist_sub_hum_ms_drg_postpay['B_DRG']=='nan')& (~(df_hist_sub_hum_ms_drg_postpay['ADRG_Desc'].isna())) ]
df_f2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186 entries, 1740 to 63396
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     186 non-null    object
 1   Client                      186 non-null    object
 2   PaymentType                 186 non-null    object
 3   Group_Type                  186 non-null    object
 4   Payments                    186 non-null    float64
 5   Provider_ID                 186 non-null    object
 6   HospitalName                186 non-null    object
 7   LOS                         186 non-null    object
 8   AGE                         186 non-null    object
 9   LOB                         186 non-null    object
 10  ADRG                        186 non-null    object
 11  PRIM_DX                     186 non-null    object
 12  A_DX_List                   186 non-null    object
 13  A_DX_List_Clean             186 non-null    object
 14  A_DX_Type_list              186 non-null    object
 15  A_PX_List                   186 non-null    object
 16  A_DX_Set                    186 non-null    object
 17  A_DX_Type                   186 non-null    object
 18  B_DRG                       186 non-null    object
 19  B_PRIMDX                    166 non-null    object
 20  B_PRIMDX_Clean              186 non-null    object
 21  B_DX_List                   186 non-null    object
 22  B_DX_List_Clean             186 non-null    object
 23  B_DX_Type_list              186 non-null    object
 24  B_PX_List                   186 non-null    object
 25  B_DX_Set                    186 non-null    object
 26  B_DX_Type                   186 non-null    object
 27  DRG_Status                  186 non-null    object
 28  DX_Change_Status            186 non-null    object
 29  DX_Set_Change_Status        186 non-null    object
 30  DX_Type_Status              186 non-null    object
 31  PX_Set_Change_Status        186 non-null    object
 32  InitialDeterminationStatus  186 non-null    object
 33  IDSavings                   186 non-null    float64
 34  AdjustedSavings             186 non-null    object
 35  ADRG_Desc                   186 non-null    object
 36  ADRG_wt                     186 non-null    float64
 37  BDRG_Desc                   0 non-null      object
 38  BDRG_wt                     0 non-null      float64
 39  Tag                         186 non-null    object
dtypes: float64(4), object(36)
memory usage: 59.6+ KB

In [148]:
df_final = pd.concat([df_f1, df_f2], axis=0, ignore_index=True)
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59011 entries, 0 to 59010
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     59011 non-null  object
 1   Client                      59011 non-null  object
 2   PaymentType                 59011 non-null  object
 3   Group_Type                  59008 non-null  object
 4   Payments                    59011 non-null  float64
 5   Provider_ID                 59011 non-null  object
 6   HospitalName                59011 non-null  object
 7   LOS                         59011 non-null  object
 8   AGE                         59011 non-null  object
 9   LOB                         59011 non-null  object
 10  ADRG                        59011 non-null  object
 11  PRIM_DX                     59011 non-null  object
 12  A_DX_List                   59011 non-null  object
 13  A_DX_List_Clean             59011 non-null  object
 14  A_DX_Type_list              59011 non-null  object
 15  A_PX_List                   59011 non-null  object
 16  A_DX_Set                    59011 non-null  object
 17  A_DX_Type                   59011 non-null  object
 18  B_DRG                       59011 non-null  object
 19  B_PRIMDX                    58604 non-null  object
 20  B_PRIMDX_Clean              59011 non-null  object
 21  B_DX_List                   59011 non-null  object
 22  B_DX_List_Clean             59011 non-null  object
 23  B_DX_Type_list              59011 non-null  object
 24  B_PX_List                   59011 non-null  object
 25  B_DX_Set                    59011 non-null  object
 26  B_DX_Type                   59011 non-null  object
 27  DRG_Status                  59011 non-null  object
 28  DX_Change_Status            59011 non-null  object
 29  DX_Set_Change_Status        59011 non-null  object
 30  DX_Type_Status              59011 non-null  object
 31  PX_Set_Change_Status        59011 non-null  object
 32  InitialDeterminationStatus  59011 non-null  object
 33  IDSavings                   59011 non-null  float64
 34  AdjustedSavings             59011 non-null  object
 35  ADRG_Desc                   59011 non-null  object
 36  ADRG_wt                     59011 non-null  float64
 37  BDRG_Desc                   58825 non-null  object
 38  BDRG_wt                     58825 non-null  float64
 39  Tag                         59011 non-null  object
dtypes: float64(4), object(36)
memory usage: 18.0+ MB

In [347]:
df_final['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Approved    51536
Denied       7475
Name: count, dtype: int64

In [348]:
df_final['Tag'].value_counts()

Tag
Equal       50799
B Lower      8199
B Higher       13
Name: count, dtype: int64

# DRG Wt equal

In [149]:
df_drg_eq = df_final[df_final['Tag']=='Equal'].copy()
df_drg_eq.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50799 entries, 0 to 58824
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     50799 non-null  object
 1   Client                      50799 non-null  object
 2   PaymentType                 50799 non-null  object
 3   Group_Type                  50799 non-null  object
 4   Payments                    50799 non-null  float64
 5   Provider_ID                 50799 non-null  object
 6   HospitalName                50799 non-null  object
 7   LOS                         50799 non-null  object
 8   AGE                         50799 non-null  object
 9   LOB                         50799 non-null  object
 10  ADRG                        50799 non-null  object
 11  PRIM_DX                     50799 non-null  object
 12  A_DX_List                   50799 non-null  object
 13  A_DX_List_Clean             50799 non-null  object
 14  A_DX_Type_list              50799 non-null  object
 15  A_PX_List                   50799 non-null  object
 16  A_DX_Set                    50799 non-null  object
 17  A_DX_Type                   50799 non-null  object
 18  B_DRG                       50799 non-null  object
 19  B_PRIMDX                    50796 non-null  object
 20  B_PRIMDX_Clean              50799 non-null  object
 21  B_DX_List                   50799 non-null  object
 22  B_DX_List_Clean             50799 non-null  object
 23  B_DX_Type_list              50799 non-null  object
 24  B_PX_List                   50799 non-null  object
 25  B_DX_Set                    50799 non-null  object
 26  B_DX_Type                   50799 non-null  object
 27  DRG_Status                  50799 non-null  object
 28  DX_Change_Status            50799 non-null  object
 29  DX_Set_Change_Status        50799 non-null  object
 30  DX_Type_Status              50799 non-null  object
 31  PX_Set_Change_Status        50799 non-null  object
 32  InitialDeterminationStatus  50799 non-null  object
 33  IDSavings                   50799 non-null  float64
 34  AdjustedSavings             50799 non-null  object
 35  ADRG_Desc                   50799 non-null  object
 36  ADRG_wt                     50799 non-null  float64
 37  BDRG_Desc                   50799 non-null  object
 38  BDRG_wt                     50799 non-null  float64
 39  Tag                         50799 non-null  object
dtypes: float64(4), object(36)
memory usage: 15.9+ MB

In [150]:
df_drg_eq['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Approved    50797
Denied          2
Name: count, dtype: int64

### Approved

In [151]:
df_drg_eq_app = df_drg_eq[df_drg_eq['InitialDeterminationStatus']=='Approved'].copy()
df_drg_eq_app.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50797 entries, 0 to 58824
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     50797 non-null  object
 1   Client                      50797 non-null  object
 2   PaymentType                 50797 non-null  object
 3   Group_Type                  50797 non-null  object
 4   Payments                    50797 non-null  float64
 5   Provider_ID                 50797 non-null  object
 6   HospitalName                50797 non-null  object
 7   LOS                         50797 non-null  object
 8   AGE                         50797 non-null  object
 9   LOB                         50797 non-null  object
 10  ADRG                        50797 non-null  object
 11  PRIM_DX                     50797 non-null  object
 12  A_DX_List                   50797 non-null  object
 13  A_DX_List_Clean             50797 non-null  object
 14  A_DX_Type_list              50797 non-null  object
 15  A_PX_List                   50797 non-null  object
 16  A_DX_Set                    50797 non-null  object
 17  A_DX_Type                   50797 non-null  object
 18  B_DRG                       50797 non-null  object
 19  B_PRIMDX                    50794 non-null  object
 20  B_PRIMDX_Clean              50797 non-null  object
 21  B_DX_List                   50797 non-null  object
 22  B_DX_List_Clean             50797 non-null  object
 23  B_DX_Type_list              50797 non-null  object
 24  B_PX_List                   50797 non-null  object
 25  B_DX_Set                    50797 non-null  object
 26  B_DX_Type                   50797 non-null  object
 27  DRG_Status                  50797 non-null  object
 28  DX_Change_Status            50797 non-null  object
 29  DX_Set_Change_Status        50797 non-null  object
 30  DX_Type_Status              50797 non-null  object
 31  PX_Set_Change_Status        50797 non-null  object
 32  InitialDeterminationStatus  50797 non-null  object
 33  IDSavings                   50797 non-null  float64
 34  AdjustedSavings             50797 non-null  object
 35  ADRG_Desc                   50797 non-null  object
 36  ADRG_wt                     50797 non-null  float64
 37  BDRG_Desc                   50797 non-null  object
 38  BDRG_wt                     50797 non-null  float64
 39  Tag                         50797 non-null  object
dtypes: float64(4), object(36)
memory usage: 15.9+ MB

In [152]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_eq_app[df_drg_eq_app['DRG_Status']=='No Change']

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
"""df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG","Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    #denied_avg_payments=("Payments", "mean"),
    #denied_count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG","Provider_ID"], how="left")"""

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

,ADRG,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments
0,683,566017737F,34,34,0,7214.849118,8360.42,5894.58
1,871,000059420E,25,25,0,15521.332400,81677.06,4168.71
2,871,630845288C,24,24,0,12712.144167,13545.49,11172.42
3,190,581123037T,22,22,0,6102.507273,7617.77,3099.48
4,189,000198540A,22,22,0,10324.186818,25579.10,8479.62
5,683,000021832C,22,22,0,5032.862273,6769.37,4012.76
6,064,000066600C,21,21,0,12641.166190,14071.23,6943.48
7,871,560928089,20,20,0,13470.541000,19494.15,6216.04
8,190,581973570,20,20,0,8732.666000,10123.58,6755.20
9,193,560928089,20,20,0,9089.602500,11134.52,5708.78

In [153]:
df_hist_sub_hum_ms_drg_postpay_Chg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50797 entries, 0 to 58824
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     50797 non-null  object
 1   Client                      50797 non-null  object
 2   PaymentType                 50797 non-null  object
 3   Group_Type                  50797 non-null  object
 4   Payments                    50797 non-null  float64
 5   Provider_ID                 50797 non-null  object
 6   HospitalName                50797 non-null  object
 7   LOS                         50797 non-null  int64
 8   AGE                         50797 non-null  object
 9   LOB                         50797 non-null  object
 10  ADRG                        50797 non-null  object
 11  PRIM_DX                     50797 non-null  object
 12  A_DX_List                   50797 non-null  object
 13  A_DX_List_Clean             50797 non-null  object
 14  A_DX_Type_list              50797 non-null  object
 15  A_PX_List                   50797 non-null  object
 16  A_DX_Set                    50797 non-null  object
 17  A_DX_Type                   50797 non-null  object
 18  B_DRG                       50797 non-null  object
 19  B_PRIMDX                    50794 non-null  object
 20  B_PRIMDX_Clean              50797 non-null  object
 21  B_DX_List                   50797 non-null  object
 22  B_DX_List_Clean             50797 non-null  object
 23  B_DX_Type_list              50797 non-null  object
 24  B_PX_List                   50797 non-null  object
 25  B_DX_Set                    50797 non-null  object
 26  B_DX_Type                   50797 non-null  object
 27  DRG_Status                  50797 non-null  object
 28  DX_Change_Status            50797 non-null  object
 29  DX_Set_Change_Status        50797 non-null  object
 30  DX_Type_Status              50797 non-null  object
 31  PX_Set_Change_Status        50797 non-null  object
 32  InitialDeterminationStatus  50797 non-null  object
 33  IDSavings                   50797 non-null  float64
 34  AdjustedSavings             50797 non-null  int64
 35  ADRG_Desc                   50797 non-null  object
 36  ADRG_wt                     50797 non-null  float64
 37  BDRG_Desc                   50797 non-null  object
 38  BDRG_wt                     50797 non-null  float64
 39  Tag                         50797 non-null  object
dtypes: float64(4), int64(2), object(34)
memory usage: 15.9+ MB

##### No Change in 5 colu

In [352]:
cols = ["DRG_Status","DX_Change_Status",  "DX_Set_Change_Status","DX_Type_Status", "PX_Set_Change_Status"]
df5 = df_drg_eq_app[(df_drg_eq_app[cols] == "No Change").all(axis=1)].copy()
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50747 entries, 0 to 58824
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     50747 non-null  object
 1   Client                      50747 non-null  object
 2   PaymentType                 50747 non-null  object
 3   Group_Type                  50747 non-null  object
 4   Payments                    50747 non-null  float64
 5   Provider_ID                 50747 non-null  object
 6   HospitalName                50747 non-null  object
 7   LOS                         50747 non-null  object
 8   AGE                         50747 non-null  object
 9   LOB                         50747 non-null  object
 10  ADRG                        50747 non-null  object
 11  PRIM_DX                     50747 non-null  object
 12  A_DX_List                   50747 non-null  object
 13  A_DX_List_Clean             50747 non-null  object
 14  A_DX_Type_list              50747 non-null  object
 15  A_PX_List                   50747 non-null  object
 16  A_DX_Set                    50747 non-null  object
 17  A_DX_Type                   50747 non-null  object
 18  B_DRG                       50747 non-null  object
 19  B_PRIMDX                    50747 non-null  object
 20  B_PRIMDX_Clean              50747 non-null  object
 21  B_DX_List                   50747 non-null  object
 22  B_DX_List_Clean             50747 non-null  object
 23  B_DX_Type_list              50747 non-null  object
 24  B_PX_List                   50747 non-null  object
 25  B_DX_Set                    50747 non-null  object
 26  B_DX_Type                   50747 non-null  object
 27  DRG_Status                  50747 non-null  object
 28  DX_Change_Status            50747 non-null  object
 29  DX_Set_Change_Status        50747 non-null  object
 30  DX_Type_Status              50747 non-null  object
 31  PX_Set_Change_Status        50747 non-null  object
 32  InitialDeterminationStatus  50747 non-null  object
 33  IDSavings                   50747 non-null  float64
 34  AdjustedSavings             50747 non-null  object
 35  ADRG_Desc                   50747 non-null  object
 36  ADRG_wt                     50747 non-null  float64
 37  BDRG_Desc                   50747 non-null  object
 38  BDRG_wt                     50747 non-null  float64
 39  Tag                         50747 non-null  object
dtypes: float64(4), object(36)
memory usage: 15.9+ MB

In [353]:
df5['DRG_Status'].value_counts()

DRG_Status
No Change    50747
Name: count, dtype: int64

In [468]:
df_hist_sub_hum_ms_drg_postpay_Chg = df5.copy()


df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    #denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

,Provider_ID,total_claims,approved_count,avg_payments,max_payments,min_payments
0,000059420E,467,467,17307.794133,234548.73,835.55
1,000021832C,322,322,11120.407516,53805.55,2790.01
2,000047750D,298,298,13017.142081,97036.37,4137.31
3,853777599B,295,295,16032.729458,68400.03,2441.40
4,381360584,294,294,12827.331973,67268.11,1726.08
5,000066600C,268,268,13915.931231,42216.42,4472.57
6,000292901A,263,263,16399.166350,93922.29,3529.49
7,000198540A,259,259,16822.421004,90020.95,5927.81
8,582149128A,256,256,13192.884297,50791.51,2198.14
9,000094793A,252,252,12649.417659,80911.23,1631.13

In [470]:
df_hist_sub_hum_ms_drg_postpay_Chg = df5.copy()


df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    #denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

,ADRG,Provider_ID,total_claims,approved_count,avg_payments,max_payments,min_payments
0,683,566017737F,34,34,7214.849118,8360.42,5894.58
1,871,000059420E,25,25,15521.332400,81677.06,4168.71
2,871,630845288C,24,24,12712.144167,13545.49,11172.42
3,190,581123037T,22,22,6102.507273,7617.77,3099.48
4,683,000021832C,22,22,5032.862273,6769.37,4012.76
5,189,000198540A,22,22,10324.186818,25579.10,8479.62
6,064,000066600C,21,21,12641.166190,14071.23,6943.48
7,064,000059420E,20,20,13470.900500,15892.88,6547.76
8,193,560928089,20,20,9089.602500,11134.52,5708.78
9,189,550357050E,20,20,7617.981500,8623.09,6491.49

In [ ]:
df_hist_sub_hum_ms_drg_postpay_Chg = df5.copy()


df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG",]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    #denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

In [354]:
# wts are equal but change happened in atleast one column (only no change in DRG)
cols = ["DRG_Status","DX_Change_Status",  "DX_Set_Change_Status","DX_Type_Status", "PX_Set_Change_Status"]
df6 = df_drg_eq_app[~(df_drg_eq_app[cols] == "No Change").all(axis=1)].copy()
df6.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1180 to 58168
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     50 non-null     object
 1   Client                      50 non-null     object
 2   PaymentType                 50 non-null     object
 3   Group_Type                  50 non-null     object
 4   Payments                    50 non-null     float64
 5   Provider_ID                 50 non-null     object
 6   HospitalName                50 non-null     object
 7   LOS                         50 non-null     object
 8   AGE                         50 non-null     object
 9   LOB                         50 non-null     object
 10  ADRG                        50 non-null     object
 11  PRIM_DX                     50 non-null     object
 12  A_DX_List                   50 non-null     object
 13  A_DX_List_Clean             50 non-null     object
 14  A_DX_Type_list              50 non-null     object
 15  A_PX_List                   50 non-null     object
 16  A_DX_Set                    50 non-null     object
 17  A_DX_Type                   50 non-null     object
 18  B_DRG                       50 non-null     object
 19  B_PRIMDX                    47 non-null     object
 20  B_PRIMDX_Clean              50 non-null     object
 21  B_DX_List                   50 non-null     object
 22  B_DX_List_Clean             50 non-null     object
 23  B_DX_Type_list              50 non-null     object
 24  B_PX_List                   50 non-null     object
 25  B_DX_Set                    50 non-null     object
 26  B_DX_Type                   50 non-null     object
 27  DRG_Status                  50 non-null     object
 28  DX_Change_Status            50 non-null     object
 29  DX_Set_Change_Status        50 non-null     object
 30  DX_Type_Status              50 non-null     object
 31  PX_Set_Change_Status        50 non-null     object
 32  InitialDeterminationStatus  50 non-null     object
 33  IDSavings                   50 non-null     float64
 34  AdjustedSavings             50 non-null     object
 35  ADRG_Desc                   50 non-null     object
 36  ADRG_wt                     50 non-null     float64
 37  BDRG_Desc                   50 non-null     object
 38  BDRG_wt                     50 non-null     float64
 39  Tag                         50 non-null     object
dtypes: float64(4), object(36)
memory usage: 16.0+ KB

In [355]:
df6['DRG_Status'].value_counts()

DRG_Status
No Change    50
Name: count, dtype: int64

### Denied

In [154]:
#change in DRG but Wts are same 
df_drg_eq_de = df_drg_eq[df_drg_eq['InitialDeterminationStatus']=='Denied'].copy()
df_drg_eq_de.head()

,claimid,Client,PaymentType,Group_Type,Payments,Provider_ID,HospitalName,LOS,AGE,LOB,ADRG,PRIM_DX,A_DX_List,A_DX_List_Clean,A_DX_Type_list,A_PX_List,A_DX_Set,A_DX_Type,B_DRG,B_PRIMDX,B_PRIMDX_Clean,B_DX_List,B_DX_List_Clean,B_DX_Type_list,B_PX_List,B_DX_Set,B_DX_Type,DRG_Status,DX_Change_Status,DX_Set_Change_Status,DX_Type_Status,PX_Set_Change_Status,InitialDeterminationStatus,IDSavings,AdjustedSavings,ADRG_Desc,ADRG_wt,BDRG_Desc,BDRG_wt,Tag
41373,1022011,Hum,postpay,01,44885.35,272844767,HARPER UNIVERSITY HOSPITAL,18,69,MRO39,235,I214,"[D62 - CC, D72829, E1140, E1165, E785, F419, G4700, I110, I2510, I252, I480, I5033 - MCC, I672, J9601 - MCC, M4802, R270, Z634, Z794, Z79899, Z8673]","[D62, D72829, E1140, E1165, E785, F419, G4700, I110, I2510, I252, I480, I5033, I672, J9601, M4802, R270, Z634, Z794, Z79899, Z8673]","[D62 - CC, D72829 - , E1140 - , E1165 - , E785 - , F419 - , G4700 - , I110 - , I2510 - , I252 - , I480 - , I5033 - MCC, I672 - , J9601 - MCC, M4802 - , R270 - , Z634 - , Z794 - , Z79899 - , Z8673 - ]","[021009W, 02100Z9, 02HV33Z, 03HY32Z, 06BQ4ZZ, 5A0935A, 5A1221Z, B24BZZ4]","[I5033, J9601]",MCC,235,I214 - MCC,I214,"[D62 - CC, D72829, E1140, E1165, E785, F419, G4700, I110, I2510, I252, I480, I5033 - MCC, I672, J9601 - MCC, M4802, R270, Z634, Z794, Z79899, Z8673]","[D62, D72829, E1140, E1165, E785, F419, G4700, I110, I2510, I252, I480, I5033, I672, J9601, M4802, R270, Z634, Z794, Z79899, Z8673]","[D62 - CC, D72829 - , E1140 - , E1165 - , E785 - , F419 - , G4700 - , I110 - , I2510 - , I252 - , I480 - , I5033 - MCC, I672 - , J9601 - MCC, M4802 - , R270 - , Z634 - , Z794 - , Z79899 - , Z8673 - ]","[021009W, 02100Z9, 02HV33Z, 03HY32Z, 06BQ4ZZ, 5A0935A, 5A1221Z, B24BZZ4]","[I5033, J9601]",MCC,No Change,No Change,No Change,No Change,No Change,Denied,20522.82,0,Coronary bypass without cardiac catheterization with MCC,5.8806,Coronary bypass without cardiac catheterization with MCC,5.8806,Equal
47936,1156806,Hum,postpay,01,11951.08,550261260U,RALEIGH GENERAL HOSPITAL,6,71,MGP3I,698,T83511A,"[A419 - MCC, B9562, D649, E1165, E669, E785, E8339, E8342, E860, E876, G928 - MCC, I10, I2510, J449, K2100, K222, K2270, K2970, N390 - CC, N401, R1310, R338, R6520 - MCC, Z1152]","[A419, B9562, D649, E1165, E669, E785, E8339, E8342, E860, E876, G928, I10, I2510, J449, K2100, K222, K2270, K2970, N390, N401, R1310, R338, R6520, Z1152]","[A419 - MCC, B9562 - , D649 - , E1165 - , E669 - , E785 - , E8339 - , E8342 - , E860 - , E876 - , G928 - MCC, I10 - , I2510 - , J449 - , K2100 - , K222 - , K2270 - , K2970 - , N390 - CC, N401 - , R1310 - , R338 - , R6520 - MCC, Z1152 - ]","[0D738ZZ, 0DB48ZX, 0DB68ZX, 0DB98ZX, 0DJ08ZZ]","[A419, G928, R6520]",MCC,698,T83511A - CC,T83511A,"[A419 - MCC, B9562, B9562, D649, E1165, E669, E785, E8339, E8342, E8342, E860, E860, E876, G928 - MCC, I2510, I2510, K222, K222, K2270, K2970, N401, N401, R338, Z1152]","[A419, B9562, B9562, D649, E1165, E669, E785, E8339, E8342, E8342, E860, E860, E876, G928, I2510, I2510, K222, K222, K2270, K2970, N401, N401, R338, Z1152]","[A419 - MCC, B9562 - , B9562 - , D649 - , E1165 - , E669 - , E785 - , E8339 - , E8342 - , E8342 - , E860 - , E860 - , E876 - , G928 - MCC, I2510 - , I2510 - , K222 - , K222 - , K2270 - , K2970 - , N401 - , N401 - , R338 - , Z1152 - ]","[0D738ZZ, 0DB48ZX, 0DB68ZX, 0DB98ZX, 0DJ08ZZ]","[A419, G928]",MCC,No Change,No Change,"Change ['A419', 'G928', 'R6520'] ['A419', 'G928']",No Change,No Change,Denied,7011.11,0,Other kidney and urinary tract diagnoses with MCC,1.6544,Other kidney and urinary tract diagnoses with MCC,1.6544,Equal

In [157]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_eq_de.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID","ADRG","DRG_Status"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID","ADRG","DRG_Status"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID","ADRG","DRG_Status"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,Provider_ID,ADRG,DRG_Status,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_payments,denied_total_payments
0,272844767,235,No Change,1,0,1,44885.35,44885.35,44885.35,100.0,44885.35,44885.35
1,550261260U,698,No Change,1,0,1,11951.08,11951.08,11951.08,100.0,11951.08,11951.08

# DRG B lower

In [158]:
df_drg_low = df_final[df_final['Tag']=='B Lower'].copy()
df_drg_low.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8199 entries, 22 to 59010
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     8199 non-null   object
 1   Client                      8199 non-null   object
 2   PaymentType                 8199 non-null   object
 3   Group_Type                  8196 non-null   object
 4   Payments                    8199 non-null   float64
 5   Provider_ID                 8199 non-null   object
 6   HospitalName                8199 non-null   object
 7   LOS                         8199 non-null   object
 8   AGE                         8199 non-null   object
 9   LOB                         8199 non-null   object
 10  ADRG                        8199 non-null   object
 11  PRIM_DX                     8199 non-null   object
 12  A_DX_List                   8199 non-null   object
 13  A_DX_List_Clean             8199 non-null   object
 14  A_DX_Type_list              8199 non-null   object
 15  A_PX_List                   8199 non-null   object
 16  A_DX_Set                    8199 non-null   object
 17  A_DX_Type                   8199 non-null   object
 18  B_DRG                       8199 non-null   object
 19  B_PRIMDX                    7795 non-null   object
 20  B_PRIMDX_Clean              8199 non-null   object
 21  B_DX_List                   8199 non-null   object
 22  B_DX_List_Clean             8199 non-null   object
 23  B_DX_Type_list              8199 non-null   object
 24  B_PX_List                   8199 non-null   object
 25  B_DX_Set                    8199 non-null   object
 26  B_DX_Type                   8199 non-null   object
 27  DRG_Status                  8199 non-null   object
 28  DX_Change_Status            8199 non-null   object
 29  DX_Set_Change_Status        8199 non-null   object
 30  DX_Type_Status              8199 non-null   object
 31  PX_Set_Change_Status        8199 non-null   object
 32  InitialDeterminationStatus  8199 non-null   object
 33  IDSavings                   8199 non-null   float64
 34  AdjustedSavings             8199 non-null   object
 35  ADRG_Desc                   8199 non-null   object
 36  ADRG_wt                     8199 non-null   float64
 37  BDRG_Desc                   8013 non-null   object
 38  BDRG_wt                     8013 non-null   float64
 39  Tag                         8199 non-null   object
dtypes: float64(4), object(36)
memory usage: 2.6+ MB

In [159]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_payments,denied_total_payments
0,730700090,64,9,55,10297.009687,34443.82,1967.69,85.94,10178.127273,559797.00
1,000047750D,61,6,55,11142.896230,31326.18,5580.60,90.16,11214.863455,616817.49
2,000059420E,57,6,51,13486.367368,38057.66,5399.22,89.47,13818.353137,704736.01
3,000021832C,52,5,47,7676.162308,29703.80,3432.34,90.38,7424.517021,348952.30
4,381360584,45,4,41,14171.731778,47403.95,3703.62,91.11,14393.382683,590128.69
5,853777599B,45,4,41,15488.901778,41761.30,6850.32,91.11,15548.646098,637494.49
6,560928089,44,6,38,13734.470000,36730.00,4447.90,86.36,12836.862895,487800.79
7,730657693,44,3,41,8072.461818,26948.68,1800.03,93.18,7731.017561,316971.72
8,581123037T,38,3,35,11193.142368,33669.63,3927.79,92.11,10782.557714,377389.52
9,593458145N,38,4,34,14041.086053,37671.20,6506.99,89.47,14131.870882,480483.61
10,566017737F,38,3,35,12982.636053,37314.52,5994.06,92.11,13291.734000,465210.69
11,630845288C,37,2,35,12715.691892,31488.40,5597.40,94.59,12935.284857,452734.97
12,000098152D,37,2,35,15566.682162,37538.91,7467.42,94.59,15592.706571,545744.73
13,000190356A,35,3,32,15581.278000,36142.66,5573.07,91.43,15111.844063,483579.01
14,000198532,34,7,27,15149.163824,41182.71,4560.77,79.41,15009.789630,405264.32
15,582149128A,33,3,30,14706.734848,36546.61,5526.00,90.91,15004.750667,450142.52
16,550357050E,32,7,25,12121.930000,32116.27,6137.48,78.12,11848.957200,296223.93
17,262037695B,31,2,29,11754.488710,35469.14,5314.79,93.55,12141.784483,352111.75
18,000094793A,29,2,27,8307.560000,14645.80,2499.41,93.10,8682.839630,234436.67
19,382589966B,29,2,27,13638.679655,40031.29,5505.60,93.10,13759.299259,371501.08

In [161]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG","Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG","Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_payments,denied_total_payments
0,871,630845288C,26,1,25,12253.259231,13502.14,9957.97,96.15,12328.006400,308200.16
1,871,730700090,19,1,18,8630.697368,14511.15,5985.39,94.74,8304.005556,149472.10
2,871,000198532,16,3,13,15175.539375,39712.22,12698.64,81.25,15558.499231,202260.49
3,683,000021832C,15,1,14,5481.837333,6776.43,4012.76,93.33,5449.887857,76298.43
4,871,000098152D,15,2,13,14612.586667,15774.07,14199.62,86.67,14535.868462,188966.29
5,871,560928089,15,0,15,12956.117333,14920.74,4447.90,100.00,12956.117333,194341.76
6,871,000059420E,15,2,13,13752.606000,15591.69,12028.77,86.67,13628.437692,177169.69
7,871,853777599B,14,2,12,15590.549286,17341.87,14580.73,85.71,15313.114167,183757.37
8,871,000047750D,13,0,13,12038.438462,12995.31,8071.51,100.00,12038.438462,156499.70
9,871,560585243,13,0,13,13116.156154,15090.53,6705.94,100.00,13116.156154,170510.03
10,871,581123037T,13,1,12,11395.073846,14156.94,5938.91,92.31,11849.754167,142197.05
11,871,000055091C,13,0,13,14656.064615,16701.88,13883.33,100.00,14656.064615,190528.84
12,871,730657693,12,1,11,8386.180000,13997.84,5876.56,91.67,8447.583636,92923.42
13,871,741180155W,12,1,11,14546.680000,15230.65,12887.69,91.67,14548.114545,160029.26
14,871,381360584,12,1,11,13389.965833,15235.98,12017.36,91.67,13404.713636,147451.85
15,871,730579286,11,1,10,10100.091818,12780.71,8428.93,90.91,10247.718000,102477.18
16,871,262037695B,11,1,10,10636.444545,12954.83,6188.29,90.91,11003.828000,110038.28
17,871,000066600C,11,0,11,12830.556364,13826.64,5180.98,100.00,12830.556364,141136.12
18,871,351720796A,10,2,8,12131.234000,15524.09,5950.50,80.00,11489.208750,91913.67
19,189,550357050E,10,1,9,7244.966000,8503.63,6491.49,90.00,7328.685556,65958.17

In [ ]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

In [373]:
df_drg_low['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Denied      7465
Approved     734
Name: count, dtype: int64

### App

In [374]:
df_drg_low_app = df_drg_low[df_drg_low['InitialDeterminationStatus']=='Approved'].copy()
df_drg_low_app.info()

<class 'pandas.core.frame.DataFrame'>
Index: 734 entries, 586 to 59010
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     734 non-null    object
 1   Client                      734 non-null    object
 2   PaymentType                 734 non-null    object
 3   Group_Type                  734 non-null    object
 4   Payments                    734 non-null    float64
 5   Provider_ID                 734 non-null    object
 6   HospitalName                734 non-null    object
 7   LOS                         734 non-null    object
 8   AGE                         734 non-null    object
 9   LOB                         734 non-null    object
 10  ADRG                        734 non-null    object
 11  PRIM_DX                     734 non-null    object
 12  A_DX_List                   734 non-null    object
 13  A_DX_List_Clean             734 non-null    object
 14  A_DX_Type_list              734 non-null    object
 15  A_PX_List                   734 non-null    object
 16  A_DX_Set                    734 non-null    object
 17  A_DX_Type                   734 non-null    object
 18  B_DRG                       734 non-null    object
 19  B_PRIMDX                    330 non-null    object
 20  B_PRIMDX_Clean              734 non-null    object
 21  B_DX_List                   734 non-null    object
 22  B_DX_List_Clean             734 non-null    object
 23  B_DX_Type_list              734 non-null    object
 24  B_PX_List                   734 non-null    object
 25  B_DX_Set                    734 non-null    object
 26  B_DX_Type                   734 non-null    object
 27  DRG_Status                  734 non-null    object
 28  DX_Change_Status            734 non-null    object
 29  DX_Set_Change_Status        734 non-null    object
 30  DX_Type_Status              734 non-null    object
 31  PX_Set_Change_Status        734 non-null    object
 32  InitialDeterminationStatus  734 non-null    object
 33  IDSavings                   734 non-null    float64
 34  AdjustedSavings             734 non-null    object
 35  ADRG_Desc                   734 non-null    object
 36  ADRG_wt                     734 non-null    float64
 37  BDRG_Desc                   548 non-null    object
 38  BDRG_wt                     548 non-null    float64
 39  Tag                         734 non-null    object
dtypes: float64(4), object(36)
memory usage: 235.1+ KB

#### Change In DRG

In [375]:
df_drg_low_app[df_drg_low_app['DRG_Status']=='No Change'].value_counts()

Series([], Name: count, dtype: int64)

In [560]:
df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_app.copy()


df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG",]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    #denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

  ADRG  total_claims  approved_count  avg_payments  max_payments  min_payments
0  189            44              44   9468.014091      26793.41       6104.62
1  871            29              29  12848.930345      18363.50       6861.35
2  190            10              10   7247.601000       8375.62       4979.44
3  644             9               9   7284.472222       8866.61       5132.52
4  689             9               9   7386.722222       9879.18       3405.48
5  853             7               7  33587.644286      48956.85      11712.37
6  071             7               7   7455.265714       8691.92       6052.00
7  683             5               5   7173.424000       8980.48       6221.11
8  698             5               5  11286.188000      16765.86       7026.19
9  432             4               4  13135.447500      14285.79      12385.65

In [561]:
df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_app.copy()


df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["DRG_Status",]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    #denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

,DRG_Status,total_claims,approved_count,avg_payments,max_payments,min_payments
0,Change 189 191,21,21,9730.472857,26793.41,6651.11
1,Change 189 190,17,17,9158.388824,10709.13,6829.17
2,Change 190 191,9,9,7196.271111,8375.62,4979.44
3,Change 644 641,9,9,7284.472222,8866.61,5132.52
4,Change 871 689,8,8,13915.536250,18363.50,6861.35
5,Change 689 690,8,8,7433.876250,9879.18,3405.48
6,Change 698 699,5,5,11286.188000,16765.86,7026.19
7,Change 871 193,5,5,12053.554000,16413.61,9287.71
8,Change 308 309,4,4,7914.490000,9259.10,6760.28
9,Change 683 690,3,3,7350.796667,8980.48,6425.31

In [562]:
df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_app.copy()


df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID",]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    #denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

,Provider_ID,total_claims,approved_count,avg_payments,max_payments,min_payments
0,610445850,4,4,17246.117500,33190.89,8104.88
1,000069023E,3,3,11336.270000,17791.35,7138.42
2,237133975U,3,3,10327.313333,16689.20,6829.17
3,000058002,2,2,19198.625000,31778.42,6618.83
4,000059435D,2,2,8050.265000,8436.20,7664.33
5,000062947C,2,2,13811.300000,18363.50,9259.10
6,362169179M,2,2,10063.450000,15262.71,4864.19
7,453576100,2,2,6034.545000,6651.11,5417.98
8,440577118,2,2,9420.705000,9985.56,8855.85
9,621771866G,2,2,7781.845000,9511.69,6052.00

In [563]:
df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_app.copy()


df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","DRG_Status"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    #denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)
df_group.head(10)

,ADRG,DRG_Status,total_claims,approved_count,avg_payments,max_payments,min_payments
0,189,Change 189 191,21,21,9730.472857,26793.41,6651.11
1,189,Change 189 190,17,17,9158.388824,10709.13,6829.17
2,190,Change 190 191,9,9,7196.271111,8375.62,4979.44
3,644,Change 644 641,9,9,7284.472222,8866.61,5132.52
4,871,Change 871 689,8,8,13915.536250,18363.50,6861.35
5,689,Change 689 690,8,8,7433.876250,9879.18,3405.48
6,698,Change 698 699,5,5,11286.188000,16765.86,7026.19
7,871,Change 871 193,5,5,12053.554000,16413.61,9287.71
8,308,Change 308 309,4,4,7914.490000,9259.10,6760.28
9,683,Change 683 690,3,3,7350.796667,8980.48,6425.31

In [377]:
df_drg_low_app['ADRG'].value_counts().head()

ADRG
871    212
683     54
853     43
189     36
193     29
Name: count, dtype: int64

### Denied

In [162]:
df_drg_low_den = df_drg_low[df_drg_low['InitialDeterminationStatus']=='Denied'].copy()
df_drg_low_den.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7465 entries, 22 to 58822
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     7465 non-null   object
 1   Client                      7465 non-null   object
 2   PaymentType                 7465 non-null   object
 3   Group_Type                  7462 non-null   object
 4   Payments                    7465 non-null   float64
 5   Provider_ID                 7465 non-null   object
 6   HospitalName                7465 non-null   object
 7   LOS                         7465 non-null   object
 8   AGE                         7465 non-null   object
 9   LOB                         7465 non-null   object
 10  ADRG                        7465 non-null   object
 11  PRIM_DX                     7465 non-null   object
 12  A_DX_List                   7465 non-null   object
 13  A_DX_List_Clean             7465 non-null   object
 14  A_DX_Type_list              7465 non-null   object
 15  A_PX_List                   7465 non-null   object
 16  A_DX_Set                    7465 non-null   object
 17  A_DX_Type                   7465 non-null   object
 18  B_DRG                       7465 non-null   object
 19  B_PRIMDX                    7465 non-null   object
 20  B_PRIMDX_Clean              7465 non-null   object
 21  B_DX_List                   7465 non-null   object
 22  B_DX_List_Clean             7465 non-null   object
 23  B_DX_Type_list              7465 non-null   object
 24  B_PX_List                   7465 non-null   object
 25  B_DX_Set                    7465 non-null   object
 26  B_DX_Type                   7465 non-null   object
 27  DRG_Status                  7465 non-null   object
 28  DX_Change_Status            7465 non-null   object
 29  DX_Set_Change_Status        7465 non-null   object
 30  DX_Type_Status              7465 non-null   object
 31  PX_Set_Change_Status        7465 non-null   object
 32  InitialDeterminationStatus  7465 non-null   object
 33  IDSavings                   7465 non-null   float64
 34  AdjustedSavings             7465 non-null   object
 35  ADRG_Desc                   7465 non-null   object
 36  ADRG_wt                     7465 non-null   float64
 37  BDRG_Desc                   7465 non-null   object
 38  BDRG_wt                     7465 non-null   float64
 39  Tag                         7465 non-null   object
dtypes: float64(4), object(36)
memory usage: 2.3+ MB

In [564]:
df_drg_low_den[df_drg_low_den['DRG_Status']=='No Change'].value_counts()

Series([], Name: count, dtype: int64)

In [569]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_den.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_payments,denied_total_payments
0,550526150,8,0,8,8022.795000,13337.54,5811.12,100.0,8022.795000,64182.36
1,610445850,7,0,7,11257.887143,13600.55,7094.56,100.0,11257.887143,78805.21
2,000021832C,5,0,5,15420.560000,30597.10,7975.85,100.0,15420.560000,77102.80
3,560928089,5,0,5,10300.828000,12382.02,8480.10,100.0,10300.828000,51504.14
4,581588823D,4,0,4,11921.805000,15440.25,7578.21,100.0,11921.805000,47687.22
5,382027689A,4,0,4,10463.335000,15018.75,7769.37,100.0,10463.335000,41853.34
6,451834769,4,0,4,6809.737500,10195.39,3850.05,100.0,6809.737500,27238.95
7,346004382M,4,0,4,9030.935000,12207.84,5557.58,100.0,9030.935000,36123.74
8,000059420E,4,0,4,13700.490000,19891.02,10014.01,100.0,13700.490000,54801.96
9,000198455,3,0,3,10245.553333,14593.76,5761.21,100.0,10245.553333,30736.66
10,900799724,3,0,3,9958.743333,14040.71,7844.74,100.0,9958.743333,29876.23
11,362400639A,3,0,3,9238.370000,11799.91,6939.15,100.0,9238.370000,27715.11
12,750974351A,3,0,3,5398.813333,7674.04,2979.84,100.0,5398.813333,16196.44
13,000013417G,3,0,3,9599.993333,13692.16,6919.16,100.0,9599.993333,28799.98
14,000065362R,3,0,3,7848.620000,11852.20,5180.43,100.0,7848.620000,23545.86
15,386006309A,3,0,3,9545.210000,10093.00,8449.63,100.0,9545.210000,28635.63
16,470376552,3,0,3,11648.586667,21215.25,5997.68,100.0,11648.586667,34945.76
17,540519577,3,0,3,9759.056667,11852.92,8173.96,100.0,9759.056667,29277.17
18,000191728,3,0,3,8872.076667,10035.96,7574.19,100.0,8872.076667,26616.23
19,582149128A,3,0,3,8965.483333,10560.40,7730.74,100.0,8965.483333,26896.45

In [163]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_den.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_payments,denied_total_payments
0,871,1991,0,1991,13082.554606,46823.98,2893.05,100.0,13082.554606,26047366.22
1,189,1035,0,1035,8459.836821,42988.96,2236.21,100.0,8459.836821,8755931.11
2,872,525,0,525,6642.599390,18755.65,2852.63,100.0,6642.599390,3487364.68
3,683,408,0,408,6324.338235,29477.81,3384.13,100.0,6324.338235,2580330.00
4,853,391,0,391,34671.326266,75200.98,9572.97,100.0,34671.326266,13556488.57
5,190,331,0,331,7431.290695,25573.34,3755.28,100.0,7431.290695,2459757.22
6,193,302,0,302,8972.028709,28074.14,2627.17,100.0,8972.028709,2709552.67
7,682,148,0,148,9993.490608,21626.74,4729.99,100.0,9993.490608,1479036.61
8,698,136,0,136,10980.441985,33287.11,4298.21,100.0,10980.441985,1493340.11
9,689,133,0,133,7791.244887,18540.34,2341.86,100.0,7791.244887,1036235.57
10,854,105,0,105,13288.434095,23205.40,4909.70,100.0,13288.434095,1395285.58
11,071,90,0,90,7670.871222,19873.20,4614.64,100.0,7670.871222,690378.41
12,637,89,0,89,9927.459438,35703.60,4290.99,100.0,9927.459438,883543.89
13,064,84,0,84,13327.007738,20233.00,7472.49,100.0,13327.007738,1119468.65
14,177,80,0,80,12802.032625,24482.38,4415.18,100.0,12802.032625,1024162.61
15,280,65,0,65,10620.902615,15326.95,4491.97,100.0,10620.902615,690358.67
16,377,61,0,61,11785.088852,16280.73,4360.08,100.0,11785.088852,718890.42
17,291,54,0,54,8353.156481,13949.15,5634.42,100.0,8353.156481,451070.45
18,308,53,0,53,7718.584717,11998.02,5142.16,100.0,7718.584717,409084.99
19,480,46,0,46,20531.091522,27706.14,14507.79,100.0,20531.091522,944430.21

In [570]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_low_den.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG","DRG_Status"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG","DRG_Status"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG","DRG_Status"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["denied_count"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,DRG_Status,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_payments,denied_total_payments
0,189,Change 189 191,42,0,42,8971.934286,19849.49,5557.58,100.0,8971.934286,376821.24
1,189,Change 189 190,34,0,34,8583.233529,11425.37,5542.56,100.0,8583.233529,291829.94
2,190,Change 190 191,29,0,29,7796.173793,9851.15,6058.95,100.0,7796.173793,226089.04
3,683,Change 683 641,22,0,22,6690.599091,8732.01,4540.89,100.0,6690.599091,147193.18
4,689,Change 689 690,20,0,20,7839.242500,9917.75,5546.15,100.0,7839.242500,156784.85
5,871,Change 871 193,15,0,15,12339.500000,18591.22,3357.21,100.0,12339.500000,185092.50
6,871,Change 871 194,11,0,11,11948.379091,14735.09,6873.64,100.0,11948.379091,131432.17
7,698,Change 698 699,11,0,11,10613.691818,14187.88,4826.43,100.0,10613.691818,116750.61
8,177,Change 177 178,11,0,11,11321.395455,14373.54,8161.72,100.0,11321.395455,124535.35
9,871,Change 871 689,10,0,10,13643.900000,18196.24,7698.08,100.0,13643.900000,136439.00
10,872,Change 872 690,9,0,9,7821.547778,9646.31,5269.74,100.0,7821.547778,70393.93
11,683,Change 683 690,8,0,8,5364.247500,6701.03,3913.89,100.0,5364.247500,42913.98
12,640,Change 640 641,7,0,7,7857.720000,9491.45,4857.47,100.0,7857.720000,55004.04
13,071,Change 071 683,6,0,6,7981.063333,10541.86,6360.84,100.0,7981.063333,47886.38
14,071,Change 071 690,6,0,6,6928.228333,7730.74,6373.42,100.0,6928.228333,41569.37
15,071,Change 071 641,6,0,6,6546.403333,7990.78,5768.10,100.0,6546.403333,39278.42
16,291,Change 291 308,6,0,6,8532.971667,9006.08,7712.74,100.0,8532.971667,51197.83
17,193,Change 193 194,5,0,5,9294.982000,10691.51,7910.09,100.0,9294.982000,46474.91
18,189,Change 189 192,5,0,5,10770.652000,11587.03,10093.00,100.0,10770.652000,53853.26
19,308,Change 308 309,5,0,5,9090.800000,12172.57,6697.95,100.0,9090.800000,45454.00

In [380]:
df_drg_low_den['DRG_Status'].value_counts().head(10)

DRG_Status
Change 871  193    369
Change 190  191    285
Change 871  689    282
Change 872  690    245
Change 189  191    242
Change 193  194    235
Change 871  194    215
Change 871  177    206
Change 683  641    199
Change 189  190    192
Name: count, dtype: int64

In [381]:
df_drg_low_den['ADRG'].value_counts().head()

ADRG
871    1991
189    1035
872     525
683     408
853     391
Name: count, dtype: int64

# DRG B Higher

In [49]:
df_drg_hig = df_final[df_final['Tag']=='B Higher'].copy()
df_drg_hig.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 6174 to 45213
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   claimid                     13 non-null     object
 1   Client                      13 non-null     object
 2   PaymentType                 13 non-null     object
 3   Group_Type                  13 non-null     object
 4   Payments                    13 non-null     float64
 5   Provider_ID                 13 non-null     object
 6   HospitalName                13 non-null     object
 7   LOS                         13 non-null     object
 8   AGE                         13 non-null     object
 9   LOB                         13 non-null     object
 10  ADRG                        13 non-null     object
 11  PRIM_DX                     13 non-null     object
 12  A_DX_List                   13 non-null     object
 13  A_DX_List_Clean             13 non-null     object
 14  A_DX_Type_list              13 non-null     object
 15  A_PX_List                   13 non-null     object
 16  A_DX_Set                    13 non-null     object
 17  A_DX_Type                   13 non-null     object
 18  B_DRG                       13 non-null     object
 19  B_PRIMDX                    13 non-null     object
 20  B_PRIMDX_Clean              13 non-null     object
 21  B_DX_List                   13 non-null     object
 22  B_DX_List_Clean             13 non-null     object
 23  B_DX_Type_list              13 non-null     object
 24  B_PX_List                   13 non-null     object
 25  B_DX_Set                    13 non-null     object
 26  B_DX_Type                   13 non-null     object
 27  DRG_Status                  13 non-null     object
 28  DX_Change_Status            13 non-null     object
 29  DX_Set_Change_Status        13 non-null     object
 30  DX_Type_Status              13 non-null     object
 31  PX_Set_Change_Status        13 non-null     object
 32  InitialDeterminationStatus  13 non-null     object
 33  IDSavings                   13 non-null     float64
 34  AdjustedSavings             13 non-null     object
 35  ADRG_Desc                   13 non-null     object
 36  ADRG_wt                     13 non-null     float64
 37  BDRG_Desc                   13 non-null     object
 38  BDRG_wt                     13 non-null     float64
 39  Tag                         13 non-null     object
dtypes: float64(4), object(36)
memory usage: 4.2+ KB

In [52]:
df_drg_hig['Provider_ID'].value_counts()

Provider_ID
843178470       2
472264005C      1
00520000198     1
100629          1
001027879001    1
00520000034     1
000016579J      1
550357057       1
200470861B      1
410991680C      1
311340739D      1
141338307       1
Name: count, dtype: int64

In [56]:
df_drg_hig['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Denied      8
Approved    5
Name: count, dtype: int64

In [55]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_hig.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["Provider_ID"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,Provider_ID,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_payments,denied_total_payments
0,843178470,2,1,1,19579.01,35620.50,3537.52,50.0,35620.50,35620.50
1,000016579J,1,0,1,15350.65,15350.65,15350.65,100.0,15350.65,15350.65
2,00520000034,1,0,1,6031.15,6031.15,6031.15,100.0,6031.15,6031.15
3,001027879001,1,0,1,12500.74,12500.74,12500.74,100.0,12500.74,12500.74
4,00520000198,1,0,1,8784.14,8784.14,8784.14,100.0,8784.14,8784.14
5,100629,1,0,1,11296.27,11296.27,11296.27,100.0,11296.27,11296.27
6,200470861B,1,1,0,6924.30,6924.30,6924.30,0.0,NaN,NaN
7,141338307,1,0,1,12660.60,12660.60,12660.60,100.0,12660.60,12660.60
8,311340739D,1,1,0,10841.32,10841.32,10841.32,0.0,NaN,NaN
9,410991680C,1,1,0,9232.41,9232.41,9232.41,0.0,NaN,NaN
10,472264005C,1,1,0,8936.80,8936.80,8936.80,0.0,NaN,NaN
11,550357057,1,0,1,6052.02,6052.02,6052.02,100.0,6052.02,6052.02

In [57]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_hig.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["ADRG"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["ADRG"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,ADRG,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_payments,denied_total_payments
0,871,4,1,3,11091.965,15350.65,8784.14,75.0,11810.353333,35431.06
1,189,1,1,0,6924.300,6924.30,6924.30,0.0,NaN,NaN
2,191,1,0,1,6031.150,6031.15,6031.15,100.0,6031.150000,6031.15
3,194,1,1,0,10841.320,10841.32,10841.32,0.0,NaN,NaN
4,438,1,0,1,12660.600,12660.60,12660.60,100.0,12660.600000,12660.60
5,291,1,0,1,12500.740,12500.74,12500.74,100.0,12500.740000,12500.74
6,682,1,1,0,9232.410,9232.41,9232.41,0.0,NaN,NaN
7,698,1,1,0,3537.520,3537.52,3537.52,0.0,NaN,NaN
8,853,1,0,1,35620.500,35620.50,35620.50,100.0,35620.500000,35620.50
9,872,1,0,1,6052.020,6052.02,6052.02,100.0,6052.020000,6052.02

In [58]:
import pandas as pd

df_hist_sub_hum_ms_drg_postpay_Chg = df_drg_hig.copy()

# ---------------------------------------
# 0 Fix datatype issues for numeric cols
# ---------------------------------------
df_hist_sub_hum_ms_drg_postpay_Chg["LOS"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["LOS"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["Payments"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["Payments"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["IDSavings"], errors="coerce")
df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"] = pd.to_numeric(df_hist_sub_hum_ms_drg_postpay_Chg["AdjustedSavings"], errors="coerce")


# ---------------------------------------
# 1 Base Aggregation
# ---------------------------------------
df_group = df_hist_sub_hum_ms_drg_postpay_Chg.groupby(["DRG_Status"]).agg(
    total_claims=("InitialDeterminationStatus", "count"),
    approved_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    denied_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    #avg_LOS=("LOS", "mean"),
    #count_LOS=("LOS", "count"),
    avg_payments=("Payments", "mean"),
    max_payments=("Payments", "max"),
    min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# ---------------------------------------
# 2 % Denied
# ---------------------------------------
df_group["percentage_denied"] = (
    df_group["denied_count"] / df_group["total_claims"] * 100
).round(2)

# ---------------------------------------
# 3 DENIED METRICS (must use original dataframe)
# ---------------------------------------
denied_stats = df_hist_sub_hum_ms_drg_postpay_Chg[df_hist_sub_hum_ms_drg_postpay_Chg["InitialDeterminationStatus"] == "Denied"].groupby(
    ["DRG_Status"]
).agg(
    #denied_avg_LOS=("LOS", "mean"),
    #denied_count_LOS=("LOS", "count"),
    denied_avg_payments=("Payments", "mean"),
    denied_total_payments=("Payments", "sum")
).reset_index()

# ---------------------------------------
# 4 Merge denied metrics
# ---------------------------------------
df_group = df_group.merge(denied_stats, on=["DRG_Status"], how="left")

# ---------------------------------------
# 5 Sorting
# ---------------------------------------
df_group = df_group.sort_values(
    by=["total_claims"],
    ascending=False
).reset_index(drop=True)

df_group.head(20)

,DRG_Status,total_claims,approved_count,denied_count,avg_payments,max_payments,min_payments,percentage_denied,denied_avg_payments,denied_total_payments
0,Change 871 592,2,0,2,10040.205,11296.27,8784.14,100.0,10040.205,20080.41
1,Change 189 291,1,1,0,6924.300,6924.30,6924.30,0.0,NaN,NaN
2,Change 194 977,1,1,0,10841.320,10841.32,10841.32,0.0,NaN,NaN
3,Change 191 312,1,0,1,6031.150,6031.15,6031.15,100.0,6031.150,6031.15
4,Change 291 640,1,0,1,12500.740,12500.74,12500.74,100.0,12500.740,12500.74
5,Change 438 177,1,0,1,12660.600,12660.60,12660.60,100.0,12660.600,12660.60
6,Change 698 177,1,1,0,3537.520,3537.52,3537.52,0.0,NaN,NaN
7,Change 682 082,1,1,0,9232.410,9232.41,9232.41,0.0,NaN,NaN
8,Change 853 228,1,0,1,35620.500,35620.50,35620.50,100.0,35620.500,35620.50
9,Change 871 064,1,1,0,8936.800,8936.80,8936.80,0.0,NaN,NaN
10,Change 871 814,1,0,1,15350.650,15350.65,15350.65,100.0,15350.650,15350.65
11,Change 872 372,1,0,1,6052.020,6052.02,6052.02,100.0,6052.020,6052.02

In [385]:
df_drg_hig_app = df_drg_hig[df_drg_hig['InitialDeterminationStatus']=='Approved'].copy()
df_drg_hig_app.head()

,claimid,Client,PaymentType,Group_Type,Payments,Provider_ID,HospitalName,LOS,AGE,LOB,ADRG,PRIM_DX,A_DX_List,A_DX_List_Clean,A_DX_Type_list,A_PX_List,A_DX_Set,A_DX_Type,B_DRG,B_PRIMDX,B_PRIMDX_Clean,B_DX_List,B_DX_List_Clean,B_DX_Type_list,B_PX_List,B_DX_Set,B_DX_Type,DRG_Status,DX_Change_Status,DX_Set_Change_Status,DX_Type_Status,PX_Set_Change_Status,InitialDeterminationStatus,IDSavings,AdjustedSavings,ADRG_Desc,ADRG_wt,BDRG_Desc,BDRG_wt,Tag
6174,693482,Hum,postpay,01,8936.80,472264005C,ST MARYS MEDICAL CENTER,3,81,MER32,871,A4151,"[E1122, E1151, E1169, E43 - MCC, G9341 - MCC, I110, I350, I5032 - CC, I639 - MCC, I6523, M868X6 - CC, N390 - CC, R001, Z20822, Z515, Z66, Z6839, Z791, Z7982, Z79899, Z881, Z886, Z888]","[E1122, E1151, E1169, E43, G9341, I110, I350, I5032, I639, I6523, M868X6, N390, R001, Z20822, Z515, Z66, Z6839, Z791, Z7982, Z79899, Z881, Z886, Z888]","[E1122 - , E1151 - , E1169 - , E43 - MCC, G9341 - MCC, I110 - , I350 - , I5032 - CC, I639 - MCC, I6523 - , M868X6 - CC, N390 - CC, R001 - , Z20822 - , Z515 - , Z66 - , Z6839 - , Z791 - , Z7982 - , Z79899 - , Z881 - , Z886 - , Z888 - ]",[02HV33Z],"[E43, G9341, I639]",MCC,064,I639 - MCC,I639,"[E1122, E1151, E1169, G9341 - MCC, I110, I350, I5032 - CC, I6523, M868X6 - CC, N390 - CC, R001, Z20822, Z515, Z66, Z791, Z7982, Z79899, Z881, Z886, Z888]","[E1122, E1151, E1169, G9341, I110, I350, I5032, I6523, M868X6, N390, R001, Z20822, Z515, Z66, Z791, Z7982, Z79899, Z881, Z886, Z888]","[E1122 - , E1151 - , E1169 - , G9341 - MCC, I110 - , I350 - , I5032 - CC, I6523 - , M868X6 - CC, N390 - CC, R001 - , Z20822 - , Z515 - , Z66 - , Z791 - , Z7982 - , Z79899 - , Z881 - , Z886 - , Z888 - ]",[02HV33Z],[G9341],MCC,Change 871 064,Change A4151 I639,"Change ['E43', 'G9341', 'I639'] ['G9341']",No Change,No Change,Approved,0.0,0,Septicemia or severe sepsis without MV >96 hours with MCC,1.9826,Intracranial hemorrhage or cerebral infarction with MCC,2.0030,B Higher
21244,704612,Hum,postpay,01,6924.30,200470861B,NORTH VISTA HOSPITAL,8,60,MER32,189,J9600,"[E039, E119, E6601, E876, F17200, G4733, I110, I2720, I5033 - MCC, J45909, J90 - CC, M069, M170, M5416, R0789, Z6843 - CC, Z794, Z79899]","[E039, E119, E6601, E876, F17200, G4733, I110, I2720, I5033, J45909, J90, M069, M170, M5416, R0789, Z6843, Z794, Z79899]","[E039 - , E119 - , E6601 - , E876 - , F17200 - , G4733 - , I110 - , I2720 - , I5033 - MCC, J45909 - , J90 - CC, M069 - , M170 - , M5416 - , R0789 - , Z6843 - CC, Z794 - , Z79899 - ]",[0W993ZZ],[I5033],MCC,291,I110,I110,"[E039, E119, E6601, E876, F17200, G4733, I2720, I5033 - MCC, J45909, J90 - CC, M069, M170, M5416, R0789, Z6843 - CC, Z794, Z79899]","[E039, E119, E6601, E876, F17200, G4733, I2720, I5033, J45909, J90, M069, M170, M5416, R0789, Z6843, Z794, Z79899]","[E039 - , E119 - , E6601 - , E876 - , F17200 - , G4733 - , I2720 - , I5033 - MCC, J45909 - , J90 - CC, M069 - , M170 - , M5416 - , R0789 - , Z6843 - CC, Z794 - , Z79899 - ]",[0W993ZZ],[I5033],MCC,Change 189 291,Change J9600 I110,No Change,No Change,No Change,Approved,0.0,0,Pulmonary edema and respiratory failure,1.2320,Heart failure and shock with MCC,1.2839,B Higher
35282,956759,Hum,postpay,01,9232.41,410991680C,FAIRVIEW HEALTH SERVICES,6,98,MEP3I,682,N179,"[D691, E039, E663, E7800, E8720 - CC, G9341 - MCC, H9190, I130 - CC, I21A1 - MCC, I2510, I4891, I5032 - CC, M4856XA - CC, M810, N184 - CC, R4189, R54, R8281, Z1152, Z6828, Z7901, Z7982, Z86718]","[D691, E039, E663, E7800, E8720, G9341, H9190, I130, I21A1, I2510, I4891, I5032, M4856XA, M810, N184, R4189, R54, R8281, Z1152, Z6828, Z7901, Z7982, Z86718]","[D691 - , E039 - , E663 - , E7800 - , E8720 - , G9341 - MCC, H9190 - , I130 - CC, I21A1 - MCC, I2510 - , I4891 - , I5032 - CC, M4856XA - CC, M810 - , N184 - CC, R4189 - , R54 - , R8281 - , Z1152 - , Z6828 - , Z7901 - , Z7982 - , Z86718 - ]",[],"[G9341, I21A1]",MCC,082,N179 - CC,N179,"[D691, E039, E663, E7800, E8720 - CC, G9341 - MCC, H9190, I130 - CC, I21A1 - MCC, I2510, I4891, I5032 - CC, M4856XA - CC, M810, N184 - CC, R4189, R54, R8281, Z1152, Z6828, Z7901, Z7982, Z86718]","[D691, E039, E663, E7800, E8720, G9341, H9190, I130, I21A1, I2510, I4891, I5032, M4856XA, M810, N184, R4189, R54, R8281, Z1152, Z6828, Z7901, Z7982, Z86718]","[D691 - , E039 - , E663 - , E7800 - , E8720 - , G9341 - MCC, H9190 - , I130 - CC, I21A1 - MCC, I2510 - , I4891 - , I5032 - CC, M4856XA - CC, M810 - , N184 - CC, R4189 - , R54 - , R8281 - , Z1152 - , Z6828 - , Z7901 - , Z7982 - , Z86718 - ]",[],"[G9341, I21A1]",MCC,Change 682 082,No Change,No Change,No Change,No Change,Approved,0.0,0,Renal failure with MCC,1.5008,Traumatic stupor and coma >1 hour with MCC,2.2783,B Higher
36314,846162,Hum,postpay,01,10841.32,311340739D,OHIO STATE UNIVERSITY HOS,3,44,MRO39,194,R5383,"[B20 - CC, C469 - CC, D638, E119, E785, E8339, E8342, E871 - CC, E8720 - CC, E878, I10, I7121, J45909, N2581 - CC, R55, R739, T380X5A, Z6832, Z794, Z79624, Z7982, Z79899, Z940 - CC]","[B20, C469, D638, E119, E785, E8339, E8342, E871, E8720, E878, I10, I7121, J45909, N2581, R55, R739, T380X5A, Z6832, Z794, Z79624, Z7982, Z79899, Z940]","[B20 - CC, C469 - CC, D638 - , E119 - , E785 - , E8339 - , E8342 - , E871 - CC, E8720 - , E878 - , I10 - , I7121 - , J45909 - , N2581 - CC, R55 - , R739 - , T380X5A - , Z6832 - , Z794 - , Z79624 - , Z7982 - , Z79899 - , Z940 - CC]",[],"[B20, C469, E871, N2581, Z940]",CC,977,R5383,R5383,"[B20 - CC, C469 - CC, D638, E119, E785, E8339, E8342, E871 - CC, E8720 - CC, E878, I10, I7121, J45909, N2581 - CC, R55, R739, T380X5A, Z6832, Z794, Z79624, Z7982, Z79899, Z940 - CC]","[B20, C469, D638, E119, E785, E8339, E8342, E871, E8720, E878, I10, I7121, J45909, N2581, R55, R739, T380X5A, Z6832, Z794, Z79624, Z7982, Z79899, Z940]","[B20 - CC, C469 - CC, D638 - , E119 - , E785 - , E8339 - , E8342 - , E871 - CC, E8720 - , E878 - , I10 - , I7121 - , J45909 - , N2581 - CC, R55 - , R739 - , T380X5A - , Z6832 - , Z794 - , Z79624 - , Z7982 - , Z79899 - , Z940 - CC]",[],"[B20, C469, E871, N2581, Z940]",CC,Change 194 977,No Change,No Change,No Change,No Change,Approved,0.0,0,Simple pneumonia and pleurisy with CC,0.8222,HIV with or without other related condition,1.4161,B Higher
39482,1022219,Hum,postpay,01,3537.52,843178470,UOFL HEALTH-LOUISVILLE JEWISH,3,75,MER32,698,E1122,"[E785, I130 - CC, I429 - CC, I4720 - CC, I4820 - CC, I509, J1282 - MCC, J9601 - MCC, J9801, K219, N179 - CC, N182, U071 - MCC, Z7901, Z794, Z880, Z91041, Z95810]","[E785, I130, I429, I4720, I4820, I509, J1282, J9601, J9801, K219, N179, N182, U071, Z7901, Z794, Z880, Z91041, Z95810]","[E785 - , I130 - CC, I429 - CC, I4720 - , I4820 - CC, I509 - , J1282 - MCC, J9601 - MCC, J9801 - , K219 - , N179 - CC, N182 - , U071 - MCC, Z7901 - , Z794 - , Z880 - , Z91041 - , Z95810 - ]",[XW033E5],"[J1282, J9601, U071]",MCC,177,U071 - MCC,U071,"[E1122, E785, I130 - CC, I429 - CC, I4720 - CC, I4820 - CC, I509, J1282 - MCC, J9601 - MCC, J9801, K219, N179 - CC, N182, Z7901, Z794, Z880, Z91041, Z95810]","[E1122, E785, I130, I429, I4720, I4820, I509, J1282, J9601, J9801, K219, N179, N182, Z7901, Z794, Z880, Z91041, Z95810]","[E1122 - , E785 - , I130 - CC, I429 - CC, I4720 - , I4820 - CC, I509 - , J1282 - MCC, J9601 - MCC, J9801 - , K219 - , N179 - CC, N182 - , Z7901 - , Z794 - , Z880 - , Z91041 - , Z95810 - ]",[XW033E5],"[J1282, J9601]",MCC,Change 698 177,Change E1122 U071,"Change ['J1282', 'J9601', 'U071'] ['J1282', 'J9601']",No Change,No Change,Approved,0.0,0,Other kidney and urinary tract diagnoses with MCC,1.6544,Respiratory infections and inflammations with MCC,1.6964,B Higher

In [386]:
df_drg_hig_den = df_drg_hig[df_drg_hig['InitialDeterminationStatus']=='Denied'].copy()
df_drg_hig_den.head()

,claimid,Client,PaymentType,Group_Type,Payments,Provider_ID,HospitalName,LOS,AGE,LOB,ADRG,PRIM_DX,A_DX_List,A_DX_List_Clean,A_DX_Type_list,A_PX_List,A_DX_Set,A_DX_Type,B_DRG,B_PRIMDX,B_PRIMDX_Clean,B_DX_List,B_DX_List_Clean,B_DX_Type_list,B_PX_List,B_DX_Set,B_DX_Type,DRG_Status,DX_Change_Status,DX_Set_Change_Status,DX_Type_Status,PX_Set_Change_Status,InitialDeterminationStatus,IDSavings,AdjustedSavings,ADRG_Desc,ADRG_wt,BDRG_Desc,BDRG_wt,Tag
8027,739170,Hum,postpay,01,11296.27,100629,BAPTIST MEMORIAL HOSPITAL,5,88,MER32,871,A4101,"[A4150 - MCC, D62 - CC, E1122, E43 - MCC, E7800, E8720 - CC, E875, F02C0, G309, I129, I4820 - CC, I69351 - CC, K922 - CC, L89154 - MCC, L89611, L89620, M623, N179 - CC, N1830, N390 - CC, Z515, Z66, Z6821]","[A4150, D62, E1122, E43, E7800, E8720, E875, F02C0, G309, I129, I4820, I69351, K922, L89154, L89611, L89620, M623, N179, N1830, N390, Z515, Z66, Z6821]","[A4150 - MCC, D62 - CC, E1122 - , E43 - MCC, E7800 - , E8720 - , E875 - , F02C0 - , G309 - , I129 - , I4820 - CC, I69351 - CC, K922 - CC, L89154 - MCC, L89611 - , L89620 - , M623 - , N179 - CC, N1830 - , N390 - CC, Z515 - , Z66 - , Z6821 - ]",[],"[A4150, E43, L89154]",MCC,592,L89154 - MCC,L89154,"[D62 - CC, E1122, E43 - MCC, E7800, E8720 - CC, E875, F02C0, G309, I129, I4820 - CC, I69351 - CC, K922 - CC, L89611, L89620, M623, N179 - CC, N1830, N390 - CC, Z515, Z66, Z6821]","[D62, E1122, E43, E7800, E8720, E875, F02C0, G309, I129, I4820, I69351, K922, L89611, L89620, M623, N179, N1830, N390, Z515, Z66, Z6821]","[D62 - CC, E1122 - , E43 - MCC, E7800 - , E8720 - , E875 - , F02C0 - , G309 - , I129 - , I4820 - CC, I69351 - CC, K922 - CC, L89611 - , L89620 - , M623 - , N179 - CC, N1830 - , N390 - CC, Z515 - , Z66 - , Z6821 - ]",[],[E43],MCC,Change 871 592,Change A4101 L89154,"Change ['A4150', 'E43', 'L89154'] ['E43']",No Change,No Change,Denied,1078.06,2156.1199999999999,Septicemia or severe sepsis without MV >96 hours with MCC,1.9826,Skin ulcers with MCC,2.0901,B Higher
16913,579045,Hum,postpay,01,8784.14,00520000198,ROBERT PACKER HOSPITAL,8,64,MER32,871,A419,"[D509, D638, E1140, E1165, E222 - CC, E43 - MCC, E559, E785, I10, I25810 - CC, I4430, I4820 - CC, I69351 - CC, K219, L732, L89152, L89312, L89322, N401, R569, R627, T380X5A, Z681 - CC]","[D509, D638, E1140, E1165, E222, E43, E559, E785, I10, I25810, I4430, I4820, I69351, K219, L732, L89152, L89312, L89322, N401, R569, R627, T380X5A, Z681]","[D509 - , D638 - , E1140 - , E1165 - , E222 - CC, E43 - MCC, E559 - , E785 - , I10 - , I25810 - CC, I4430 - , I4820 - CC, I69351 - CC, K219 - , L732 - , L89152 - , L89312 - , L89322 - , N401 - , R569 - , R627 - , T380X5A - , Z681 - CC]",[],[E43],MCC,592,L89152,L89152,"[D509, D638, E1140, E1165, E222 - CC, E43 - MCC, E559, E785, I10, I25810 - CC, I4430, I4820 - CC, I69351 - CC, K219, L732, L89312, L89322, N401, R569, R627, T380X5A, Z681 - CC]","[D509, D638, E1140, E1165, E222, E43, E559, E785, I10, I25810, I4430, I4820, I69351, K219, L732, L89312, L89322, N401, R569, R627, T380X5A, Z681]","[D509 - , D638 - , E1140 - , E1165 - , E222 - CC, E43 - MCC, E559 - , E785 - , I10 - , I25810 - CC, I4430 - , I4820 - CC, I69351 - CC, K219 - , L732 - , L89312 - , L89322 - , N401 - , R569 - , R627 - , T380X5A - , Z681 - CC]",[],[E43],MCC,Change 871 592,Change A419 L89152,No Change,No Change,No Change,Denied,1074.53,1074.53,Septicemia or severe sepsis without MV >96 hours with MCC,1.9826,Skin ulcers with MCC,2.0901,B Higher
17250,579618,Hum,postpay,01,12500.74,001027879001,CHRISTUS ST VINCENT REGIONAL MED CTR,3,46,MER32,291,I132,"[D631, E039, E1122, E1140, E1151, E11649, E785, E871 - CC, E875, F5101, I2510, I440, I5032 - CC, J9601 - MCC, K219, K5900, N186 - MCC, N2581 - CC, Z20822, Z79890, Z87891, Z9115, Z992]","[D631, E039, E1122, E1140, E1151, E11649, E785, E871, E875, F5101, I2510, I440, I5032, J9601, K219, K5900, N186, N2581, Z20822, Z79890, Z87891, Z9115, Z992]","[D631 - , E039 - , E1122 - , E1140 - , E1151 - , E11649 - , E785 - , E871 - CC, E875 - , F5101 - , I2510 - , I440 - , I5032 - CC, J9601 - MCC, K219 - , K5900 - , N186 - MCC, N2581 - CC, Z20822 - , Z79890 - , Z87891 - , Z9115 - , Z992 - ]",[5A1D70Z],"[J9601, N186]",MCC,640,E875,E875,"[D631, E039, E1122, E1140, E1151, E11649, E785, E871 - CC, F5101, I132 - CC, I2510, I440, I5032 - CC, J9601 - MCC, K219, K5900, N186 - MCC, N2581 - CC, Z20822, Z79890, Z87891, Z9115, Z992]","[D631, E039, E1122, E1140, E1151, E11649, E785, E871, F5101, I132, I2510, I440, I5032, J9601, K219, K5900, N186, N2581, Z20822, Z79890, Z87891, Z9115, Z992]","[D631 - , E039 - , E1122 - , E1140 - , E1151 - , E11649 - , E785 - , E871 - CC, F5101 - , I132 - CC, I2510 - , I440 - , I5032 - CC, J9601 - MCC, K219 - , K5900 - , N186 - MCC, N2581 - CC, Z20822 - , Z79890 - , Z87891 - , Z9115 - , Z992 - ]",[5A1D70Z],"[J9601, N186]",MCC,Change 291 640,Change I132 E875,No Change,No Change,No Change,Denied,386.91,386.91000000000003,Heart failure and shock with MCC,1.2839,"Miscellaneous disorders of nutrition, metabolism, fluids and electrolytes with MCC",1.3152,B Higher
17659,595395,Hum,postpay,01,6031.15,00520000034,ELLIS HOSPITAL,4,85,MGP3I,191,J440,"[D631, E6601, G4733, G8929, I130 - CC, I2510, I471 - CC, I480, I495, I5022 - CC, I951, I959, J9611 - CC, N1830, R531, Z20822, Z6841 - CC, Z8616, Z8673, Z8701, Z950, Z9981]","[D631, E6601, G4733, G8929, I130, I2510, I471, I480, I495, I5022, I951, I959, J9611, N1830, R531, Z20822, Z6841, Z8616, Z8673, Z8701, Z950, Z9981]","[D631 - , E6601 - , G4733 - , G8929 - , I130 - CC, I2510 - , I471 - CC, I480 - , I495 - , I5022 - CC, I951 - , I959 - , J9611 - CC, N1830 - , R531 - , Z20822 - , Z6841 - CC, Z8616 - , Z8673 - , Z8701 - , Z950 - , Z9981 - ]","[4B02XSZ, 5A09357]","[I130, I471, I5022, J9611, Z6841]",CC,312,I951,I951,"[D631, E6601, G4733, G8929, I130 - CC, I2510, I471 - CC, I480, I495, I5022 - CC, I951, I959, J440 - CC, J9611 - CC, N1830, Z20822, Z6841 - CC, Z8616, Z8673, Z8701, Z950, Z9981]","[D631, E6601, G4733, G8929, I130, I2510, I471, I480, I495, I5022, I951, I959, J440, J9611, N1830, Z20822, Z6841, Z8616, Z8673, Z8701, Z950, Z9981]","[D631 - , E6601 - , G4733 - , G8929 - , I130 - CC, I2510 - , I471 - CC, I480 - , I495 - , I5022 - CC, I951 - , I959 - , J440 - CC, J9611 - CC, N1830 - , Z20822 - , Z6841 - CC, Z8616 - , Z8673 - , Z8701 - , Z950 - , Z9981 - ]","[4B02XSZ, 5A09357]","[I130, I471, I5022, J440, J9611, Z6841]",CC,Change 191 312,Change J440 I951,"Change ['I130', 'I471', 'I5022', 'J9611', 'Z6841'] ['I130', 'I471', 'I5022', 'J440', 'J9611', 'Z6841']",No Change,No Change,Denied,292.95,292.94999999999999,Chronic obstructive pulmonary disease with CC,0.8490,Syncope and collapse,0.8635,B Higher
17877,721515,Hum,postpay,01,6052.02,550357057,WHEELING HOSPITAL INC,11,80,MGP3I,872,A414,"[A0472 - CC, E860, E872 - CC, F0390, I129, N179 - CC, N1832, N3000 - CC, Z87891]","[A0472, E860, E872, F0390, I129, N179, N1832, N3000, Z87891]","[A0472 - CC, E860 - , E872 - CC, F0390 - , I129 - , N179 - CC, N1832 - , N3000 - CC, Z87891 - ]",[],"[A0472, E872, N179, N3000]",CC,372,A0472 - CC,A0472,"[E860, E872 - CC, F0390, I129, N179 - CC, N1832, N3000 - CC, Z87891]","[E860, E872, F0390, I129, N179, N1832, N3000, Z87891]","[E860 - , E872 - CC, F0390 - , I129 - , N179 - CC, N1832 - , N3000 - CC, Z87891 - ]",[],"[E872, N179, N3000]",CC,Change 872 372,Change A414 A0472,"Change ['A0472', 'E872', 'N179', 'N3000'] ['E872', 'N179', 'N3000']",No Change,No Change,Denied,407.77,815.53999999999996,Septicemia or severe sepsis without MV >96 hours without MCC,1.0299,Major gastrointestinal disorders and peritoneal infections with CC,1.0423,B Higher

# PRepaid